Repository amplication/amplication, pull requests merged in 2022-02, with the labels that each got.

#2235 deps(client): update @types/downloadjs
  packages/amplication-client/package-lock.json
  packages/amplication-client/package.json
Labels: @amplication/client, 0.11.3

#2181 deps(scheduler): update node-fetch
  packages/amplication-scheduler/package-lock.json
  packages/amplication-scheduler/package.json
Labels: @amplication/scheduler, 0.11.3

#2182 Deps/get port
  packages/amplication-data-service-generator/package-lock.json
  packages/amplication-data-service-generator/package.json
Labels: @amplication/data-service-generator, 0.11.3

#2187 deps(design): update rollup
  packages/amplication-design-system/package-lock.json
  packages/amplication-design-system/package.json
Labels: @amplication/design-system, 0.11.3

#2228 deps(deployer): update get-stream
  packages/amplication-deployer/package-lock.json
  packages/amplication-deployer/package.json
Labels: @amplication/deployer, 0.11.3

#2231 deps(dsg): admin-ui pluralize update
  packages/amplication-data-service-generator/src/admin/static/package-lock.json
  packages/amplication-data-service-generator/src/admin/static/package.json
Labels: @amplication/data-service-generator, 0.11.3

#2237 update @types/lodash
  packages/amplication-data-service-generator/src/admin/static/package-lock.json
  packages/amplication-data-service-generator/src/admin/static/package.json
  packages/amplication-design-system/package-lock.json
  packages/amplication-design-system/package.json
Labels: @amplication/design-system, @amplication/data-service-generator, 0.11.3

#2185 deps(many): update fast-glob
  packages/amplication-data-service-generator/package-lock.json
  packages/amplication-data-service-generator/package.json
  packages/amplication-data/package-lock.json
  packages/amplication-data/package.json
  packages/amplication-deployer/package-lock.json
  packages/amplication-deployer/package.json
Labels: @amplication/data-service-generator, @amplication/data, @amplication/deployer, 0.11.3

#2234 update semver
  package-lock.json
  package.json
  packages/amplication-client/package-lock.json
  packages/amplication-client/package.json
  packages/amplication-data-service-generator/package-lock.json
  packages/amplication-data-service-generator/package.json
  packages/amplication-server/package-lock.json
  packages/amplication-server/package.json
Labels: needs review, @amplication/client, @amplication/server, @amplication/data-service-generator, 0.11.3

#2266 Fix/2205: Make entity id unique
  packages/amplication-server/src/core/entity/constants.ts
Labels: 0.11.3

#2256 Fix/2204 prisma broken query
  packages/amplication-data-service-generator/src/server/resource/controller/controller.base.template.ts
  packages/amplication-data-service-generator/src/server/resource/controller/create-controller.ts
  packages/amplication-data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/amplication-data-service-generator/src/server/static/src/decorators/api-nested-query.decorator.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: 0.11.3

#2271 Fix/2270: Access graphql playground
  packages/amplication-server/src/app.module.ts
Labels: type: bug, @amplication/server

#2272 reserved names prevention on entity name or field
  packages/amplication-server/src/core/app/ReservedNameError.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/entity/reservedNames.ts
Labels: type: bug, under review, @amplication/server, 0.11.3

#2186 deps(server): update tsconfig-paths package
  packages/amplication-server/package-lock.json
  packages/amplication-server/package.json
Labels: needs review, @amplication/server, 0.11.3, need test

#2232 deps(client): update query-string
  packages/amplication-client/package-lock.json
  packages/amplication-client/package.json
Labels: needs review, @amplication/client, 0.11.3, need test

#2041 feat(dsg): user data give http implementestion
  packages/amplication-data-service-generator/src/server/static/src/auth/UserInfo.ts
  packages/amplication-data-service-generator/src/server/static/src/auth/auth.resolver.ts
  packages/amplication-data-service-generator/src/server/static/src/auth/gqlUserData.decorator.ts
  packages/amplication-data-service-generator/src/server/static/src/auth/userData.decorator.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: needs review, 0.11.3

#2050 chore(main): upgrade graphql code gen
  codegen.yml
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-data-service-generator/src/models.ts
  packages/amplication-data/src/models.ts
Labels: 0.11.3

#2260 Test/entity resolver
  packages/amplication-server/src/core/entity/entity.resolver.spec.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
Labels: under review, 0.11.3

#2280 [Fix - 2239]: Missing Commit/Rebuild Collapse button
  packages/amplication-client/src/VersionControl/PendingChangesBar.scss
  packages/amplication-client/src/VersionControl/PendingChangesBar.tsx
  packages/amplication-client/src/VersionControl/PendingChangesMenuItem.tsx
Labels: under review, 0.11.3

#2254 fix(dsg): fix many to many data type
  packages/amplication-data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: 0.11.4

#2312 fix(dsg): update ra-amplication
  packages/amplication-data-service-generator/package-lock.json
  packages/amplication-data-service-generator/package.json
  packages/amplication-data-service-generator/src/version.ts
Labels: @amplication/data-service-generator, 0.11.4

#2311 Feat/main 2223
  CONTRIBUTING.md
  packages/amplication-data-service-generator/src/admin/entity/entity-create-component/create-entity-create-component.ts
  packages/amplication-data-service-generator/src/admin/entity/entity-edit-component/create-edit-entity-component.ts
  packages/amplication-data-service-generator/src/server/resource/controller/create-data-mapping.ts
  packages/amplication-data-service-generator/src/server/resource/create-dtos.ts
  packages/amplication-data-service-generator/src/server/resource/dto/api-property-decorator/api-property-decorator-builder.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/api-property-decorator/api-property-decorator-builder.ts
  packages/amplication-data-service-generator/src/server/resource/dto/api-property-decorator/index.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-create-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-create-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-dto-module.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-entity-dto.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-entity-dto.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-field-class-property.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-field-class-property.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-update-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-update-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-where-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-where-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-where-unique-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-where-unique-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/entity-dto-type-enum.ts
  packages/amplication-data-service-generator/src/server/resource/dto/graphql-field-decorator/create-graphql-field-decorator.ts
  packages/amplication-data-service-generator/src/server/resource/dto/graphql-field-decorator/index.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-create-nested-many-without-input/create-create-nested-many-without-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-create-nested-many-without-input/create-create-nested-many-without-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-create-nested-many-without-input/index.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-nested-input-dto.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-update-many-without-input/create-update-many-without-input.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-update-many-without-input/create-update-many-without-input.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nested-input-dto/create-update-many-without-input/index.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nestjs-graphql.util.ts
  packages/amplication-data-service-generator/src/server/resource/dto/nestjs-swagger.util.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/amplication-data-service-generator/src/tests/server/resource/dto/create-input-dto/jsonfield-tests.spec.ts
  packages/amplication-data-service-generator/src/tests/server/resource/dto/entity-dto.spec.ts
  packages/amplication-data-service-generator/src/util/field.ts
Labels: @amplication/data-service-generator, 0.11.4

#2319 feat(client):profile page
  packages/amplication-client/src/App.tsx
  packages/amplication-client/src/Components/UserBadge.tsx
  packages/amplication-client/src/Layout/MainLayout.tsx
  packages/amplication-client/src/Profile/ProfileForm.tsx
  packages/amplication-client/src/Profile/ProfilePage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
Labels: type: enhancement, status: approved, @amplication/client, 0.11.4

#2324 fix(client): tooltip text not visible in light mode
  packages/amplication-design-system/src/components/Tooltip/Tooltip.scss
Labels: type: bug, type: style, @amplication/client

#2344 Feat/prevent roles crash
  packages/amplication-data-service-generator/src/server/static/src/auth/gqlUserRoles.decorator.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: @amplication/data-service-generator, 0.11.4

#2351 fix(dsg): fixing the genration of api property
  packages/amplication-data-service-generator/src/server/resource/dto/create-dto-module.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-field-class-property.spec.ts
  packages/amplication-data-service-generator/src/server/resource/dto/create-field-class-property.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/amplication-data-service-generator/src/tests/server/resource/dto/create-input-dto/jsonfield-tests.spec.ts
  packages/amplication-data-service-generator/src/tests/server/resource/dto/entity-dto.spec.ts
Labels: @amplication/data-service-generator, 0.11.4
