Repository amplication/amplication, pull requests merged in 2022-04, with the labels that each got.

#2497 Fix #2430-app-screen
  packages/amplication-client/src/Workspaces/ApplicationList.scss
  packages/amplication-client/src/assets/images/mono/add-app-dark.svg
  packages/amplication-client/src/assets/images/mono/add-app.svg
Labels: 0.12.4

#2514 [2347] - App New Project Screen
  packages/amplication-client/src/Application/CreateAppFromExcel.scss
  packages/amplication-client/src/Application/CreateAppFromExcel.tsx
  packages/amplication-client/src/Application/NewApplication.scss
  packages/amplication-client/src/Application/NewApplication.tsx
  packages/amplication-client/src/Components/SvgThemeImage.tsx
  packages/amplication-client/src/assets/gifs/start-sample-app.gif
  packages/amplication-client/src/assets/gifs/start-scratch.gif
  packages/amplication-client/src/assets/images/mono/drop-excel-dark.svg
  packages/amplication-client/src/assets/images/mono/import-excel-dark.svg
  packages/amplication-client/src/style/dark-css-variables.css
  packages/amplication-client/src/style/light-css-variables.css
  packages/amplication-client/src/style/mixin.scss
  packages/amplication-design-system/src/index.ts
Labels: 0.12.5

#2544 Update README.md
  README.md
Labels: 0.12.5

#2589 fix: count type
  packages/amplication-data-service-generator/src/server/static/src/util/MetaQueryPayload.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: 0.12.5

#2590 fix:(client): fixed the ordering of delete button for consistency
  packages/amplication-client/src/Entity/EntityFieldListItem.tsx
Labels: @amplication/client, 0.12.5

#2531 fix GitHub account menu design
  packages/amplication-client/src/Application/git/GitActions/ExistingConnectionsMenu.scss
  packages/amplication-client/src/Application/git/GitActions/ExistingConnectionsMenu.tsx
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.scss
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.tsx
  packages/amplication-client/src/Application/git/SyncWithGithubPage.scss
  packages/amplication-design-system/package-lock.json
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.scss
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.tsx
Labels: @amplication/client, 0.12.5

#2587 Client - copy token to clipboard
  packages/amplication-client/src/Settings/ApiTokenList.scss
  packages/amplication-client/src/Settings/ApiTokenList.tsx
Labels: @amplication/client, 0.12.5

#2610 refactor(client): Removed unused gQL query from WorkspaceLayout
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
Labels: @amplication/client, 0.12.5

#2630 fix:(client) search field is too big in the commit screen
  packages/amplication-client/src/VersionControl/CommitList.scss
Labels: @amplication/client, 0.12.6

#2626 Release/0.12.5
  README.md
  lerna.json
  packages/amplication-cli/package-lock.json
  packages/amplication-cli/package.json
  packages/amplication-client/package-lock.json
  packages/amplication-client/package.json
  packages/amplication-client/src/Application/CreateAppFromExcel.scss
  packages/amplication-client/src/Application/CreateAppFromExcel.tsx
  packages/amplication-client/src/Application/NewApplication.scss
  packages/amplication-client/src/Application/NewApplication.tsx
  packages/amplication-client/src/Application/git/GitActions/ExistingConnectionsMenu.scss
  packages/amplication-client/src/Application/git/GitActions/ExistingConnectionsMenu.tsx
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.scss
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.tsx
  packages/amplication-client/src/Application/git/SyncWithGithubPage.scss
  packages/amplication-client/src/Components/SvgThemeImage.tsx
  packages/amplication-client/src/Entity/EntityFieldListItem.tsx
  packages/amplication-client/src/Layout/ScreenResolutionMessage.scss
  packages/amplication-client/src/Settings/ApiTokenList.scss
  packages/amplication-client/src/Settings/ApiTokenList.tsx
  packages/amplication-client/src/Workspaces/ApplicationList.scss
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/assets/gifs/start-sample-app.gif
  packages/amplication-client/src/assets/gifs/start-scratch.gif
  packages/amplication-client/src/assets/images/mono/add-app-dark.svg
  packages/amplication-client/src/assets/images/mono/add-app.svg
  packages/amplication-client/src/assets/images/mono/drop-excel-dark.svg
  packages/amplication-client/src/assets/images/mono/import-excel-dark.svg
  packages/amplication-client/src/style/dark-css-variables.css
  packages/amplication-client/src/style/light-css-variables.css
  packages/amplication-client/src/style/mixin.scss
  packages/amplication-container-builder/package-lock.json
  packages/amplication-container-builder/package.json
  packages/amplication-data-service-generator/package-lock.json
  packages/amplication-data-service-generator/package.json
  packages/amplication-data-service-generator/src/admin/static/package-lock.json
  packages/amplication-data-service-generator/src/admin/static/package.json
  packages/amplication-data-service-generator/src/server/static/package-lock.json
  packages/amplication-data-service-generator/src/server/static/package.json
  packages/amplication-data-service-generator/src/server/static/src/util/MetaQueryPayload.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/amplication-data/package-lock.json
  packages/amplication-data/package.json
  packages/amplication-deployer/package-lock.json
  packages/amplication-deployer/package.json
  packages/amplication-design-system/package-lock.json
  packages/amplication-design-system/package.json
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.scss
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.tsx
  packages/amplication-design-system/src/index.ts
  packages/amplication-git-service/package-lock.json
  packages/amplication-git-service/package.json
  packages/amplication-scheduler/package-lock.json
  packages/amplication-scheduler/package.json
  packages/amplication-server/package-lock.json
  packages/amplication-server/package.json
Labels: 0.12.5

#2633 Fix/2628 bug report wrong request body on create update and delete m2m nested entity
  packages/amplication-data-service-generator/src/server/resource/controller/create-controller.ts
  packages/amplication-data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: 0.12.6

#2638 add validate input interceptor and update controller and resolver
  packages/amplication-data-service-generator/src/server/resource/controller/controller.base.template.ts
  packages/amplication-data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/amplication-data-service-generator/src/server/resource/resolver/resolver.base.template.ts
  packages/amplication-data-service-generator/src/server/static/src/interceptors/validateInput.interceptor.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: 0.12.6

#2649 fix(dsg) rename interceptors
  packages/amplication-data-service-generator/src/server/resource/controller/controller.base.template.ts
  packages/amplication-data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/amplication-data-service-generator/src/server/resource/resolver/resolver.base.template.ts
  packages/amplication-data-service-generator/src/server/resource/resolver/to-many.template.ts
  packages/amplication-data-service-generator/src/server/resource/resolver/to-one.template.ts
  packages/amplication-data-service-generator/src/server/static/src/interceptors/aclFilterResponse.interceptor.ts
  packages/amplication-data-service-generator/src/server/static/src/interceptors/aclValidateRequest.interceptor.ts
  packages/amplication-data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: generated server, 0.12.6

#2646 fix: dropdown padding and align chevron icon, text and avatar
  packages/amplication-client/package-lock.json
  packages/amplication-client/src/Application/git/AuthAppWithGit.scss
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.scss
  packages/amplication-client/src/Application/git/GitActions/GitOrganizationMenuItemContent.tsx
  packages/amplication-data-service-generator/src/version.ts
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.scss
Labels: @amplication/client, 0.12.7

#2645 fix(client): Create app screen spacing and hover effect
  packages/amplication-client/src/Application/CreateAppFromExcel.scss
  packages/amplication-client/src/Application/CreateAppFromExcel.tsx
  packages/amplication-client/src/style/mixin.scss
Labels: @amplication/client, 0.12.7
