Repository amplication/amplication, pull requests merged in 2022-08, with the labels that each got.

#3273 Upgrade Lerna to version 5
  package-lock.json
  package.json
Labels: 0.15.0

#3287 Added project resolve field to a resource
  packages/amplication-server/src/core/project/project.resolver.ts
Labels: 0.15.0

#3281 New App Header
  packages/amplication-client/src/Workspaces/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-design-system/src/components/Button/Button.tsx
  packages/amplication-design-system/src/components/SelectMenu/SelectMenu.tsx
Labels: @amplication/client, 0.15.0

#3295 roles routes update
  packages/amplication-client/src/Roles/Role.tsx
  packages/amplication-client/src/Roles/RolesPage.tsx
  packages/amplication-client/src/routes/resourceRoutes.tsx
Labels: @amplication/client, 0.15.0

#3298 Resource route fix=> navigate to Resource Home
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: @amplication/client, 0.15.0

#3299 3291 resource menu
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/routes/routesUtil.tsx
Labels: @amplication/client, 0.15.0

#3306 Refactor: Pending Changes (Entity/Block) rename resource to origin
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Application/ApplicationLayout.tsx
  packages/amplication-client/src/VersionControl/CommitPage.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/VersionControl/PendingChangeDiffBlock.tsx
  packages/amplication-client/src/VersionControl/PendingChangeDiffEntity.tsx
  packages/amplication-client/src/VersionControl/PendingChangeWithCompare.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesContext.ts
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-data-service-generator/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/action/action.resolver.ts
  packages/amplication-server/src/core/app/app.resolver.spec.ts
  packages/amplication-server/src/core/app/app.resolver.ts
  packages/amplication-server/src/core/app/app.service.spec.ts
  packages/amplication-server/src/core/app/app.service.ts
  packages/amplication-server/src/core/app/dto/EnumPendingChangeOriginType.ts
  packages/amplication-server/src/core/app/dto/EnumPendingChangeResourceType.ts
  packages/amplication-server/src/core/app/dto/PendingChange.ts
  packages/amplication-server/src/core/app/dto/PendingChangeOrigin.ts
  packages/amplication-server/src/core/app/dto/index.ts
  packages/amplication-server/src/core/appRole/appRole.resolver.ts
  packages/amplication-server/src/core/appSettings/appSettings.resolver.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/block/block.resolver.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/commit/commit.resolver.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/permissions/permissions.service.spec.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/decorators/authorizeContext.decorator.ts
  packages/amplication-server/src/decorators/injectContextValue.decorator.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/enums/InjectableOriginParameter.ts
  packages/amplication-server/src/enums/InjectableResourceParameter.ts
  packages/amplication-server/src/guards/gql-auth.guard.spec.ts
  packages/amplication-server/src/guards/gql-auth.guard.ts
  packages/amplication-server/src/interceptors/inject-context.interceptor.spec.ts
  packages/amplication-server/src/interceptors/inject-context.interceptor.ts
Labels: 0.14.11

#3307 Pending Changes Context
  packages/amplication-client/src/Entity/DeleteEntityField.tsx
  packages/amplication-client/src/Entity/Entity.tsx
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Entity/RelatedFieldsMigrationFix.tsx
  packages/amplication-client/src/Permissions/ActionRoleList.tsx
  packages/amplication-client/src/Permissions/EntityPermissionAction.tsx
  packages/amplication-client/src/Permissions/EntityPermissionField.tsx
  packages/amplication-client/src/Permissions/EntityPermissionFields.tsx
  packages/amplication-client/src/Resource/ApplicationAuthSettingForm.tsx
  packages/amplication-client/src/Resource/ApplicationDatabaseSettingsForms.tsx
  packages/amplication-client/src/Resource/serviceSettings/DirectoriesSettingsForm.tsx
  packages/amplication-client/src/Resource/serviceSettings/GenerationSettingsForm.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/LockStatusIcon.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesContext.ts
  packages/amplication-client/src/VersionControl/PendingChangesMenuItem.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: @amplication/client, 0.15.0

#3309 add sign out icon to header
  packages/amplication-client/src/Workspaces/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader.tsx
Labels: @amplication/client, 0.15.0

#3319 update resource settings routes
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Resource/serviceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Settings/ApiTokenList.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/CommitList.tsx
  packages/amplication-client/src/VersionControl/CommitListItem.tsx
  packages/amplication-client/src/VersionControl/CommitPage.tsx
  packages/amplication-client/src/routes/resourceRoutes.tsx
  packages/amplication-client/src/routes/resourceSettingsRoutes.tsx
Labels: @amplication/client, 0.15.0

#3311 3310 Add Pending Changes Box To New Layout
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
Labels: @amplication/client, 0.15.0

#3320 Modal component
  packages/amplication-design-system/src/components/Modal/Modal.tsx
  packages/amplication-design-system/src/index.ts
Labels: @amplication/client, @amplication/design-system, 0.15.0

#3292 Create new relation Project-Commit and remove the relation Resource-Commit
  packages/amplication-prisma-db/prisma/migrations/20220802100436_create_project_commit_releation_and_move_commit_data_from_resource_to_project/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20220802102413_remove_resource_commit_releation/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
Labels: 0.15.0

#3371 Fix current resource undefined when clicking on Resource and in the Header resources list didn't choose resource
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: type: bug, @amplication/client, 0.15.0

#3356 Adding REAME file to the Amplication logger module
  packages/amplication-nest-logger-module/README.md
Labels: type: docs

#3398 New projectConfigurationsSettings component
  packages/amplication-client/src/Resource/ApplicationAuthSettingForm.tsx
  packages/amplication-client/src/Resource/ApplicationDatabaseSettingsForms.tsx
  packages/amplication-client/src/Resource/OverviewTile/OverviewTile.tsx
  packages/amplication-client/src/Resource/resourceSettings/DirectoriesProjectConfigurationSettingsForm.tsx
  packages/amplication-client/src/Resource/resourceSettings/DirectoriesServiceSettingsForm.tsx
  packages/amplication-client/src/Resource/resourceSettings/DirectoriesSettingsForm.tsx
  packages/amplication-client/src/Resource/resourceSettings/GenerationSettingsForm.scss
  packages/amplication-client/src/Resource/resourceSettings/GenerationSettingsForm.tsx
  packages/amplication-client/src/Resource/resourceSettings/ProjectConfigurationSettingsPage.tsx
  packages/amplication-client/src/Resource/resourceSettings/ResourceSettingsPage.tsx
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Resource/serviceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Resource/useProjectConfigSettingsHook.tsx
  packages/amplication-client/src/Resource/useSettingsHook.ts
  packages/amplication-client/src/routes/resourceRoutes.tsx
  packages/amplication-client/src/routes/resourceSettingsRoutes.tsx
  packages/amplication-server/src/core/projectConfigurationSettings/projectConfigurationSettings.service.ts
Labels: type: feature request, @amplication/client, @amplication/server, 0.15.0

#3409 Implement pending changes panel
  packages/amplication-client/src/Resource/ResourceLayout.scss
  packages/amplication-client/src/Resource/ResourceLayout.tsx
  packages/amplication-client/src/Resource/code-view/CodeViewExplorer.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitList.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesBar.tsx
  packages/amplication-client/src/VersionControl/PendingChangesMenuItem.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
Labels: 0.15.0

#3420 Add gitOrganizations to get workspace query
  packages/amplication-client/src/Workspaces/queries/workspaceQueries.ts
Labels: @amplication/client, 0.15.0

#3416 Implement pending changes panel - UI
  packages/amplication-client/src/VersionControl/PendingChange.scss
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.scss
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-design-system/src/components/CircleBadge/CircleBadge.scss
  packages/amplication-design-system/src/style/css-variables.scss
Labels: 0.15.0

#3427 Implement last commit
  packages/amplication-client/src/VersionControl/BuildSummary.tsx
  packages/amplication-client/src/VersionControl/LastCommit.scss
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.scss
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
Labels: 0.15.0

#3474 fix all pending changes update
  packages/amplication-client/src/Resource/code-view/CodeViewExplorer.tsx
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: @amplication/client, 0.15.0

#3482 Adding bottom margin to tabs
  packages/amplication-client/src/Project/ProjectList.scss
  packages/amplication-client/src/Roles/RoleList.scss
  packages/amplication-client/src/Roles/RoleList.tsx
Labels: under review

#3521 Fix commits and builds UI issues
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/ChangesPage.tsx
  packages/amplication-client/src/VersionControl/CommitListItem.scss
  packages/amplication-client/src/VersionControl/CommitResourceList.scss
  packages/amplication-client/src/VersionControl/CommitResourceList.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/DataPanel.scss
  packages/amplication-client/src/VersionControl/DataPanel.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
Labels: 0.15.0

#3537 Github sync page for resource type service
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/git/AuthResourceWithGit.scss
  packages/amplication-client/src/Resource/git/AuthResourceWithGit.tsx
  packages/amplication-client/src/Resource/git/GitActions/ExistingConnectionsMenu.scss
  packages/amplication-client/src/Resource/git/GitActions/ExistingConnectionsMenu.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitOrganizationMenuItemContent.scss
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/GithubSyncDetails.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.scss
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.tsx
  packages/amplication-client/src/Resource/git/ProjectConfigurationGitSettings.scss
  packages/amplication-client/src/Resource/git/ProjectConfigurationGitSettings.tsx
  packages/amplication-client/src/Resource/git/ServiceConfigurationGitSettings.scss
  packages/amplication-client/src/Resource/git/ServiceConfigurationGitSettings.tsx
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.scss
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/Workspaces/queries/workspaceQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-data-service-generator/src/models.ts
  packages/amplication-design-system/src/style/mixin.scss
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/block/block.service.spec.ts
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/git/__tests__/git.service.spec.ts
  packages/amplication-server/src/core/git/dto/args/ConnectToProjectGitRepositoryArgs.ts
  packages/amplication-server/src/core/git/dto/args/DisconnectGitRepositoryArgs.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/__mocks__/Resource.mock.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
Labels: @amplication/client, @amplication/server

#3554 Implement the creation of a new project with project configuration on creating a new workspace
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: 0.15.0

#3473 Fixing resource list item sizes
  packages/amplication-client/src/Components/ResourceCircleBadge.tsx
  packages/amplication-client/src/Workspaces/ResourceListItem.scss
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
Labels: @amplication/client, 0.15.0

#3568 Fix connect project configuration to GitHub when there are no services
  helm/charts/services/amplication-git-pull-service/templates/deployment.yaml
  helm/charts/services/amplication-server/templates/deployment.yaml
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
Labels: 0.15.0

#3569 After sync git organization the page doesn't refreshing the new git organization in list
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/git/AuthResourceWithGit.tsx
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useWorkspaceSelector.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: @amplication/client, 0.15.0

#3572 fix bugs
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/ViewCodeViewTile.tsx
Labels: @amplication/client, 0.15.0

#3573 fix creaeWorkspace return users
  packages/amplication-client/src/Resource/ResourceForm.scss
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: @amplication/server, 0.15.0

#3580 fix repoName spaces and under-score
  packages/amplication-server/src/core/git/git.provider.service.ts
Labels: @amplication/server, @amplication/git-service

#3593 Fix header menu not to show hr when there are no resources
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: 0.15.1

#3614 Fix last commit text and status UI issue
  packages/amplication-client/src/VersionControl/BuildStatusIcons.scss
  packages/amplication-client/src/VersionControl/LastCommit.scss
  packages/amplication-client/src/VersionControl/LastCommit.tsx
Labels: 0.15.1

#3594 Fix UI issues on code view selectors
  packages/amplication-client/src/Components/CommitSelector.scss
  packages/amplication-client/src/Components/CommitSelector.tsx
  packages/amplication-client/src/Components/CommitSelectorItem.scss
  packages/amplication-client/src/Components/CommitSelectorItem.tsx
  packages/amplication-client/src/Components/ResourceSelectorItem.tsx
  packages/amplication-client/src/VersionControl/CommitData.scss
  packages/amplication-client/src/VersionControl/CommitData.tsx
  packages/amplication-client/src/VersionControl/CommitListItem.scss
  packages/amplication-client/src/VersionControl/CommitListItem.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/style/mixin.scss
  packages/amplication-design-system/src/components/UserAvatar/UserAvatar.scss
Labels: 0.15.1

#3620 Analytics stop work after routes refactor in most of the pages
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceEntitiesRoutes.tsx
  packages/amplication-client/src/routes/resourceRoutes.tsx
  packages/amplication-client/src/routes/resourceSettingsRoutes.tsx
  packages/amplication-client/src/routes/routesUtil.tsx
Labels: @amplication/client

#3621 Fix commit loader
  packages/amplication-client/src/VersionControl/BuildStatusIcons.tsx
  packages/amplication-client/src/VersionControl/LastCommit.scss
  packages/amplication-client/src/VersionControl/LastCommit.tsx
Labels: 0.15.1

#3627 fix resource list
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: @amplication/client

#3628 service wizard fix css style
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.scss
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-design-system/src/components/Modal/Modal.tsx
Labels: @amplication/client

#3623 Remove the custom color feature
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/CommandPalette/CommandPalette.tsx
  packages/amplication-client/src/Components/ColorSelectButton.scss
  packages/amplication-client/src/Components/ColorSelectButton.tsx
  packages/amplication-client/src/Components/ResourceCircleBadge.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/ResourceHome.scss
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelector.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorListItem.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/resourceThemeMap.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-data-service-generator/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/package-lock.json
  packages/amplication-prisma-db/prisma/migrations/20220829110134_remove_color/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/package-lock.json
  packages/amplication-server/package.json
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/resource/InvalidColorError.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/dto/ResourceUpdateInput.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
Labels: @amplication/client, @amplication/server, @amplication/prisma-db

#3674 Fix pending changes UI
  packages/amplication-client/src/VersionControl/Commit.scss
  packages/amplication-client/src/VersionControl/CommitResourceListItem.scss
  packages/amplication-client/src/VersionControl/LastCommit.scss
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/PendingChange.scss
  packages/amplication-client/src/VersionControl/PendingChanges.scss
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/style/mixin.scss
  packages/amplication-design-system/src/style/css-variables.scss
Labels: 0.15.3

#3669 Delete service resource throw an error when it connected to GitRepository with override settings
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: @amplication/server, 0.15.3

#3599 Implement Amplication footer
  packages/amplication-client/src/Resource/git/AppGitStatusPanel.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/GithubSyncDetails.tsx
  packages/amplication-client/src/Resource/git/GitRepoDetails.tsx
  packages/amplication-client/src/VersionControl/ChangesPage.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/Workspaces/WorkspaceFooter.scss
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-design-system/src/style/icon.scss
Labels: 0.15.3
