Repository amplication/amplication, pull requests merged in 2023-10, with the labels that each got.

#7098 style(client):pending changes bar
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
  packages/amplication-client/src/Components/ClickableId.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/PendingChangeContent.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.scss
Labels: lib:ui-design-system, app:client

#7108 fix(client):build page failed after refresh
  packages/amplication-client/src/VersionControl/BuildPage.tsx
Labels: app:client

#7074 chore(deps): update kafkajs to v2 to leverage new partitioner. [multiline]
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:git-push-webhook-service, app:git-pull-request-service, app:git-pull-service, app:data-service-generator-catalog, app:storage-gateway, app:build-manager, app:data-service-generator, app:client, app:server, app:notification-service, app:git-sync-manager, app:plugin-api, app:gpt-gateway

#7034 chore(git-sync): improve tracing data
  ee/packages/git-sync-manager/src/pull-request/pull-request.service.ts
Labels: app:git-sync-manager

#6983 fix(dsg): db:clean script to rely on prisma command
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/server/static/scripts/clean.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:data-service-generator

#7011 feat(dsg): add events needed in auth0 plugin
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/code-gen-types.spec.ts
  packages/amplication-code-gen-types/src/code-gen-types.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-code-gen-types/src/plugin-events-params.ts
  packages/amplication-code-gen-types/src/plugin-events.ts
  packages/amplication-code-gen-types/src/plugins-types.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/serviceSettings/dto/EnumAuthenticationProviderType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/admin/app/create-app.ts
  packages/data-service-generator/src/admin/create-admin.ts
  packages/data-service-generator/src/admin/create-dotenv.ts
  packages/data-service-generator/src/admin/entity/create-entities-components.ts
  packages/data-service-generator/src/admin/entity/create-entity-component-module.ts
  packages/data-service-generator/src/admin/entity/create-entity-components-modules.ts
  packages/data-service-generator/src/admin/entity/create-entity-components.ts
  packages/data-service-generator/src/admin/entity/create-entity-title-components.ts
  packages/data-service-generator/src/admin/entity/entity-create-component/create-entity-create-component.ts
  packages/data-service-generator/src/admin/entity/entity-edit-component/create-edit-entity-component.ts
  packages/data-service-generator/src/admin/entity/entity-list-component/create-entity-list-component.ts
  packages/data-service-generator/src/admin/entity/entity-show-component/create-entity-show-component.ts
  packages/data-service-generator/src/admin/entity/entity-title-component/create-entity-title-component.ts
  packages/data-service-generator/src/admin/types.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/swagger/create-swagger.ts
Labels: lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:git-pull-request-service, app:data-service-generator-catalog, app:storage-gateway, app:build-manager, app:data-service-generator, app:client, app:server, app:notification-service, app:git-sync-manager

#6754 feat(client): Edit entity via ERD
  packages/amplication-client/src/Entity/EntityERD/EntitiesERD.scss
  packages/amplication-client/src/Entity/EntityERD/nodes/modelNode.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
Labels: app:client, app:amplication-client

#7077 feat(git-sync): improve messaging of the pull request creation logic
  ee/packages/git-sync-manager/src/pull-request/pull-request.controller.ts
  ee/packages/git-sync-manager/src/pull-request/pull-request.type.ts
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/create-pr-log/index.ts
  libs/schema-registry/src/lib/create-pr-log/key.ts
  libs/schema-registry/src/lib/create-pr-log/value.ts
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: lib:schema-registry, app:git-pull-request-service, app:storage-gateway, app:build-manager, app:server, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7156 fix(server): create pr event not being compliant with schema
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:amplication-server

#7161 feat(server): Allow renaming of 'User' entity
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#7159 feat(design-system):enable storybook controls
  libs/ui/design-system/.storybook/main.ts
  libs/ui/design-system/src/lib/components/Button/Button.stories.tsx
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.stories.scss
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.stories.tsx
  libs/ui/design-system/src/lib/components/HorizontalRule/HorizontalRule.stories.tsx
  libs/ui/design-system/src/lib/components/Text/Text.stories.tsx
  libs/ui/design-system/src/lib/index.scss
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7167 fix(server): id properties
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7171 fix(server): import mongo id type attr
  packages/amplication-server/src/core/prismaSchemaParser/helpers.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7166 fix(server): exclude Amplication id and default attributes for id field
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/helpers.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7088 fix(data-service-gen): Standardize code generation output
  packages/data-service-generator/src/admin/create-admin.ts
  packages/data-service-generator/src/admin/create-types-related-files/create-types-related-files.ts
  packages/data-service-generator/src/server/create-main/create-main-file.ts
  packages/data-service-generator/src/server/create-server.ts
  packages/data-service-generator/src/server/create-types-related-files/create-types-related-files.ts
  packages/data-service-generator/tests/e2e/data-service-generator.e2e.spec.ts
Labels: app:data-service-generator

#7146 feat(client): select repo automatically pops up after user connect to…
  packages/amplication-client/src/Resource/git/AuthWithGitProvider.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
Labels: app:amplication-client

#7152 fix(client): two scroll-bars in code view
  packages/amplication-client/src/Resource/code-view/CodeViewPage.scss
Labels: app:amplication-client

#7183 improve notification feature
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-server/src/core/build/build.service.ts
  packages/notification-service/src/notification-packages/buildCompleted.ts
Labels: app:notification-service, app:amplication-client, app:amplication-server

#6992 fix(server): import schema id field more cases
  packages/amplication-server/src/core/prismaSchemaParser/helpers.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7198 chore(dsg): update dependencies and base container image
  package-lock.json
  package.json
  packages/amplication-code-gen-types/package.json
  packages/data-service-generator/Dockerfile
Labels: lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7201 chore(dsg): update tslib to fix package:container issue
  package-lock.json
  package.json
Labels: lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7148 test(data-service-generator): fix spelling in ts and snap files
  packages/data-service-generator/src/server/static/src/providers/secrets/base/secretsManager.service.base.spec.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:data-service-generator

#7191 fix(client): center align delete project text in project settings
  packages/amplication-client/src/Project/ProjectFormPage.tsx
Labels: app:amplication-client

#7210 fix(server): add the default attr to the id field if it doesn't exist
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7154 docs: grammatical errors in the readme
  README.md
Labels: ignore-from-release-notes

#7094 feat(client): version number on workspace header to link to github releases
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:client, app:amplication-client

#7219 fix(server): throwing an error when something went wrong
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#7001 feat: add documentation link for importing prisma schema
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.scss
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.tsx
Labels: app:client, app:amplication-client

#7242 fix(client):change related entity
  packages/amplication-client/src/Entity/RelatedEntityFieldField.tsx
  packages/amplication-client/src/Entity/RelationFkHolderField.tsx
Labels: app:amplication-client

#7250 Merge master to next
  .github/workflows/release.dsg.production.yml
  .github/workflows/release.production.yml
  packages/amplication-client/scripts/update-version.ts
  packages/amplication-client/src/Entity/RelatedEntityFieldField.tsx
  packages/amplication-client/src/Entity/RelationFkHolderField.tsx
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/scripts/update-version.ts
  packages/amplication-server/src/util/version.ts
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, app:data-service-generator, ignore-from-release-notes, app:amplication-client, app:amplication-server

#7247 fix(client): lazy load components from design-system to prevent inclusion in the main bundle
  .eslintrc.json
  libs/ui/design-system/src/lib/components/CircularProgress/CircularProgress.tsx
  libs/ui/design-system/src/lib/components/Loader/FullScreenLoader.tsx
  libs/ui/design-system/src/lib/components/PlanUpgradeConfirmation/PlanUpgradeConfirmation.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/project.json
  packages/amplication-client/src/App.tsx
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.scss
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.tsx
  packages/amplication-client/src/routes/routesUtil.tsx
  packages/amplication-client/webpack.config.js
  tsconfig.base.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7253 fix(client): load css-variables before the full design system loads
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/index.tsx
  tsconfig.base.json
Labels: lib:ui-design-system, app:amplication-client

#7268 Sync next with master
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/index.tsx
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
  tsconfig.base.json
Labels: lib:ui-design-system, ignore-from-release-notes, app:amplication-client, app:amplication-server

#7269 upgrade react command palette
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7251 fix(client): On Hover version number not displayed
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#7188 fix(client): fixed icon for the general part of settings page broken on firefox
  libs/ui/design-system/src/lib/style/icon.scss
  packages/amplication-client/src/Layout/InnerTabLink.scss
  packages/amplication-client/src/Layout/InnerTabLink.tsx
Labels: lib:ui-design-system, app:amplication-client

#7274 Feat(server): project limitation
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/billing/billing.types.ts
  packages/amplication-server/src/core/project/FeatureUsageReport.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7279 add more notification features
  libs/schema-registry/src/lib/user-build/value.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/notification-service/src/notification-packages/buildCompleted.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7282 Fix notification date
  packages/notification-service/src/notification-packages/buildCompleted.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7267 fix: Removed the "The selected repository must not be empty" notification from the service wizard
  packages/amplication-client/src/Resource/git/GitSyncNotes.tsx
Labels: app:amplication-client

#7273 fix(dsg): correcting spelling mistake in readme in static admin UI
  packages/data-service-generator/src/admin/static/README.md
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7192 blocking the "Continue" button after it has been clicked once.
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizardFooter.tsx
Labels: app:amplication-client

#7280 fix(client): remove resource-id and default redirect to general setting
  packages/amplication-client/src/VersionControl/PendingChangeContent.tsx
Labels: app:amplication-client

#7295 Added:the word "field" to the reserved words.
  packages/amplication-server/src/core/entity/reservedNames.ts
Labels: app:amplication-server

#6921 feat(dsg): update code to nestjs v10
  package-lock.json
  package.json
  packages/data-service-generator/jest.e2e.config.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/src/server/app-module/app.module.template.ts
  packages/data-service-generator/src/server/app-module/create-app-module.ts
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/server/resource/module/create-module.ts
  packages/data-service-generator/src/server/resource/module/module.base.template.ts
  packages/data-service-generator/src/server/resource/resolver/resolver.base.template.ts
  packages/data-service-generator/src/server/resource/test/controller.spec.template.ts
  packages/data-service-generator/src/server/static/src/prisma.util.ts
  packages/data-service-generator/src/server/static/src/prisma/prisma.service.ts
  packages/data-service-generator/src/server/static/tsconfig.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/tests/e2e/plugins.ts
  packages/data-service-generator/tsconfig.spec.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7080 feat: added nullable options to graphql @field decorators
  packages/amplication-server/src/core/build/dto/Build.ts
Labels: on hold, app:amplication-server

#7344 fix(dsg-utils): library buildable state and define package.json to be able to import as package-based
  libs/util/dsg-utils/package.json
  libs/util/dsg-utils/project.json
  packages/data-service-generator/Dockerfile
  packages/data-service-generator/src/entity-util.ts
  packages/data-service-generator/src/prepare-context.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-server, lib:util-dsg-utils

#7332 test(dsg): fix flacky e2e tests
  .github/workflows/e2e.yml
  package-lock.json
  package.json
  packages/data-service-generator/package.json
  packages/data-service-generator/src/server/docker-compose/docker-compose.template.yml
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/tests/e2e/data-service-generator.e2e.spec.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7353 test(dsg): update snapshot testing to include previously left-out plugin installation logic
  packages/data-service-generator/jest.config.ts
  packages/data-service-generator/src/create-data-service.ts
  packages/data-service-generator/src/generate-code.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/tests/create-data-service-custom-path.spec.ts
  packages/data-service-generator/src/tests/create-data-service-numeric-user-id.spec.ts
  packages/data-service-generator/src/tests/create-data-service-with-kafka.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-graphql.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-restApi.spec.ts
  packages/data-service-generator/src/tests/create-data-service.spec.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7009 refactor: update error message for a clearer explanation in the Prisma DB import flow
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7358 improve DSG performance on findContainedIdentifiers
  packages/data-service-generator/src/generate-code.ts
  packages/data-service-generator/src/server/resource/create-dtos.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/utils/ast.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-build-manager
