Repository amplication/amplication, pull requests merged in 2023-11, with the labels that each got.

#7366 feat(client): improve readability of dsg version changelog
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/Catalog.tsx
Labels: app:amplication-client

#7346 Update README.md - fixed small grammar mistake inside section "Contributing".
  README.md
Labels: on hold, hacktoberfest-accepted

#7342 fix(amplication): misc:twitter Logo and Hover Badge Enhancement in Readme
  README.md
Labels: hacktoberfest-accepted

#7320 fix(amplication): typo fixed in Readme
  README.md
Labels: hacktoberfest-accepted

#7117 fix(amplication): grammar issues and unnecessary words
  README.md
Labels: ignore-from-release-notes, hacktoberfest-accepted

#7376 fix(amplication): update models
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7333 Feat/6905 grpc
  packages/amplication-code-gen-types/jest.config.ts
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/index.ts
  packages/amplication-code-gen-types/src/plugin-events-params.types.ts
  packages/amplication-code-gen-types/src/plugin-events.types.ts
  packages/amplication-code-gen-types/src/plugins.types.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/src/dsg-context.ts
  packages/data-service-generator/src/prepare-context.spec.ts
  packages/data-service-generator/src/prepare-context.ts
  packages/data-service-generator/src/server/connect-microservices/connect-microservices.ts
  packages/data-service-generator/src/server/resource/create-resource.ts
  packages/data-service-generator/src/server/resource/grpc-controller/create-grpc-controller.ts
  packages/data-service-generator/src/server/resource/module/create-module.ts
  packages/data-service-generator/src/server/resource/module/module.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/appInfo.ts
  packages/data-service-generator/src/tests/create-data-service-with-grpc.spec.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7382 chore: fix amplication services local debugger
  ee/packages/amplication-git-pull-service/project.json
  ee/packages/amplication-git-pull-service/webpack.config.js
  ee/packages/amplication-git-push-webhook-service/project.json
  ee/packages/amplication-git-push-webhook-service/webpack.config.js
  ee/packages/git-sync-manager/project.json
  ee/packages/git-sync-manager/webpack.config.js
  packages/amplication-build-manager/project.json
  packages/amplication-build-manager/webpack.config.js
  packages/amplication-plugin-api/project.json
  packages/amplication-plugin-api/webpack.config.js
  packages/amplication-server/project.json
  packages/amplication-server/webpack.config.js
  packages/amplication-storage-gateway/project.json
  packages/amplication-storage-gateway/webpack.config.js
  packages/data-service-generator-catalog/project.json
  packages/data-service-generator-catalog/webpack.config.js
  packages/gpt-gateway/project.json
  packages/gpt-gateway/webpack.config.js
  packages/notification-service/project.json
  packages/notification-service/webpack.config.js
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7381 fix(server): issue where the subscription success and cancel url where inverted
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-server

#7306 Added field in reserved_names array
  packages/amplication-server/src/core/entity/reservedNames.ts
Labels: app:amplication-server, hacktoberfest-accepted

#7300 fix(client): change icon color in RepositoryActions
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.tsx
Labels: app:amplication-client, hacktoberfest-accepted

#7245 fix(client): "Go to view" button is now visible in all possible viewports
  packages/amplication-client/src/VersionControl/PendingChanges.scss
Labels: app:amplication-client, hacktoberfest-accepted

#7111 fix(client): FAQ question header cursor change
  packages/amplication-client/src/Purchase/Question.scss
Labels: on hold, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, hacktoberfest-accepted

#7410 fix(client): support dynamic number of plans (css)
  packages/amplication-client/src/Purchase/PurchasePage.scss
Labels: app:amplication-client

#7399 feat(code-gen-types): add secrets manager plugin event
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/plugin-events-params.types.ts
  packages/amplication-code-gen-types/src/plugin-events.types.ts
  packages/amplication-code-gen-types/src/plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7396 Feat(build-manager): introduce a persistent state for build jobs
  docker-compose.dev.yml
  package-lock.json
  package.json
  packages/amplication-build-manager/.env
  packages/amplication-build-manager/src/build-logger/build-logger.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.ts
  packages/amplication-build-manager/src/build-runner/build-runner.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.spec.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.ts
  packages/amplication-build-manager/src/code-generator/code-generator-splitter.service.spec.ts
  packages/amplication-build-manager/src/code-generator/code-generator-splitter.service.ts
  packages/amplication-build-manager/src/env.ts
  packages/amplication-build-manager/src/redis/redis.service.spec.ts
  packages/amplication-build-manager/src/redis/redis.service.ts
  packages/amplication-build-manager/src/types.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7420 test(dsg): add required properties to the test user entity
  packages/data-service-generator/tests/e2e/data/base/entities.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7423 feat(client/server): allow using the Roles field
  packages/amplication-client/src/Entity/constants.ts
  packages/amplication-server/src/core/entity/constants.ts
Labels: app:amplication-client, app:amplication-server

#7425 fix(git-sync-manager): catch no changes in pr issue to display it as warning
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/pull-request/pull-request.controller.ts
  libs/util/git/src/errors/NoChangesOnPullRequest.ts
  libs/util/git/src/errors/index.ts
  libs/util/git/src/index.ts
  libs/util/git/src/providers/github/github.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7427 refactor(dsg): move docker-compose variables to plugin
  packages/data-service-generator/src/server/docker-compose/docker-compose.template.yml
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7390 convert dtos nested loops to one loop
  packages/data-service-generator/src/server/resource/controller/create-data-mapping.spec.ts
  packages/data-service-generator/src/server/resource/controller/create-select.spec.ts
  packages/data-service-generator/src/server/resource/create-dtos.ts
  packages/data-service-generator/src/server/resource/dto/create-create-input.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-create-input.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-entity-dto.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-entity-dto.ts
  packages/data-service-generator/src/server/resource/dto/create-update-input.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-update-input.ts
  packages/data-service-generator/src/server/resource/dto/create-where-input.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-where-input.ts
  packages/data-service-generator/src/server/resource/dto/create-where-unique-input.spec.ts
  packages/data-service-generator/src/server/resource/dto/create-where-unique-input.ts
  packages/data-service-generator/src/server/resource/dto/graphql/count/create-count-args.spec.ts
  packages/data-service-generator/src/server/resource/dto/graphql/create/create-create-args.spec.ts
  packages/data-service-generator/src/server/resource/dto/graphql/delete/create-delete-args.spec.ts
  packages/data-service-generator/src/server/resource/dto/graphql/find-many/create-find-many-args.spec.ts
  packages/data-service-generator/src/server/resource/dto/graphql/find-one/create-find-one.spec.ts
  packages/data-service-generator/src/server/resource/dto/graphql/update/create-update-args.spec.ts
  packages/data-service-generator/src/tests/server/resource/dto/create-input-dto/jsonfield-tests.spec.ts
  packages/data-service-generator/src/tests/server/resource/dto/entity-dto.spec.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7387 Refactor(build manager): split server and admin into two jobs
  docker-compose.dev.yml
  ee/packages/git-sync-manager/src/models.ts
  package-lock.json
  package.json
  packages/amplication-build-manager/.env
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.spec.ts
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.ts
  packages/amplication-build-manager/src/build-logger/build-logger.controller.spec.ts
  packages/amplication-build-manager/src/build-logger/build-logger.controller.ts
  packages/amplication-build-manager/src/build-logger/build-logger.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.ts
  packages/amplication-build-manager/src/build-runner/build-runner.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.spec.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.ts
  packages/amplication-build-manager/src/env.ts
  packages/amplication-build-manager/src/redis/redis.service.spec.ts
  packages/amplication-build-manager/src/redis/redis.service.ts
  packages/amplication-build-manager/src/types.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/serviceSettings/constants.ts
  packages/amplication-server/src/core/serviceSettings/dto/ServerSettings.ts
  packages/amplication-server/src/core/serviceSettings/dto/ServerSettingsUpdateInput.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7436 fix(build-manager): Redis TLS connection
  packages/amplication-build-manager/.env
  packages/amplication-build-manager/src/env.ts
  packages/amplication-build-manager/src/redis/redis.service.ts
Labels: app:amplication-build-manager

#7437 fix(build-manager): redis env
  packages/amplication-build-manager/src/env.ts
Labels: app:amplication-build-manager

#7439 fix(server): allow all field names on the Auth entity
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#7458 fix(dsg): failing generated test for secret manager base provider
  packages/data-service-generator/src/server/secrets-manager/static/base/secretsManager.service.base.spec.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7442 feat(client): add gitlab provider option
  ee/packages/git-sync-manager/src/models.ts
  libs/util/git/src/git-provider-properties.map.ts
  libs/util/git/src/types.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/git/AuthResourceWithGitLabCallback.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/Resource/git/git-provider-icon-map.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/util/BillingFeature.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20231108172126_add_gitlab/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-git, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7452 feat(plugin-api): add support for hiding prerelease versions
  packages/amplication-plugin-api/.env
  packages/amplication-plugin-api/prisma/manual-data-migrations/20231117_delete_prerelease_plugin_versions.sql
  packages/amplication-plugin-api/src/pluginVersion/npm-plugin-version.service.ts
Labels: app:amplication-plugin-api

#7462 chore(build-manager): add logging and additional post param to the argo-events DSG sensor
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
Labels: app:amplication-build-manager

#7478 fix(build-manager): from producing bad kafka event for failed code generation
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-server/src/core/build/build.controller.ts
Labels: app:amplication-build-manager, app:amplication-server

#7481 fix(build-manager): handle and report build errors more accurately and reliably
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
Labels: app:amplication-build-manager

#7483 fix(build-manager): avoid duplicated failure events on exception in failure generation jobs
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
Labels: app:amplication-build-manager

#7484 fix(plugin-api): nx target for prisma db clean and add delete user migration
  packages/amplication-plugin-api/prisma/migrations/20231123104044_remove_user_entity/migration.sql
  packages/amplication-plugin-api/project.json
Labels: app:amplication-plugin-api

#7495 Refactor(build-manager): copy files and emit logic
  packages/amplication-build-manager/jest.config.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
Labels: app:amplication-build-manager

#7490 chore: `nx db:migrate:dev` command
  ee/packages/amplication-git-pull-service/project.json
  ee/packages/amplication-git-pull-service/scripts/clean.ts
  packages/amplication-plugin-api/project.json
  packages/amplication-prisma-db/prisma/clean.ts
  packages/amplication-prisma-db/project.json
  packages/data-service-generator-catalog/project.json
  packages/data-service-generator-catalog/scripts/clean.ts
  packages/gpt-gateway/project.json
  packages/gpt-gateway/scripts/clean.ts
Labels: lib:amplication-prisma-db, app:data-service-generator-catalog, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-server, app:amplication-plugin-api

#7514 fix(dsg): avoid adding postgres plugin when ms-sql plugin is installed
  packages/data-service-generator/src/utils/dynamic-installation/defaultPlugins.spec.ts
  packages/data-service-generator/src/utils/dynamic-installation/defaultPlugins.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7518 add identifier to process env
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/environments/environment.production.ts
  packages/amplication-client/src/environments/environment.sandbox.ts
  packages/amplication-client/src/environments/environment.staging.ts
Labels: app:amplication-client

#7516 refactor(dsg): remove unused code
  packages/data-service-generator/package.json
  packages/data-service-generator/src/errors/PackageInstallationFailed.ts
  packages/data-service-generator/src/utils/dynamic-installation/Tarball.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7520 test(dsg): refactor snapshot testing mock data for plugin installations
  packages/data-service-generator/scripts/create-input-json.ts
  packages/data-service-generator/src/create-data-service.ts
  packages/data-service-generator/src/dynamic-package-installation.ts
  packages/data-service-generator/src/tests/create-data-service-custom-path.spec.ts
  packages/data-service-generator/src/tests/create-data-service-numeric-user-id.spec.ts
  packages/data-service-generator/src/tests/create-data-service-with-auth-jwt.spec.ts
  packages/data-service-generator/src/tests/create-data-service-with-grpc.spec.ts
  packages/data-service-generator/src/tests/create-data-service-with-kafka.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-admin-ui.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-graphql.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-restApi.spec.ts
  packages/data-service-generator/src/tests/create-data-service-without-server.spec.ts
  packages/data-service-generator/src/tests/create-data-service.spec.ts
  packages/data-service-generator/src/tests/dynamic-plugin-installation-path.ts
  packages/data-service-generator/src/tests/mock-data-plugin-installations.ts
  packages/data-service-generator/src/tests/pluginInstallation.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7145 fix(client): tooltip for logout
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client, hacktoberfest-accepted

#7301 Added the tutorial for the web app
  tutorials/snapshot_tutorial.md
Labels: hacktoberfest-accepted

#7523 fix(dsg): controller.spec => change the imported IsJSONValue to relative path
  packages/data-service-generator/src/server/resource/dto/class-validator.util.ts
  packages/data-service-generator/src/server/static/tsconfig.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7527 Feat(client): contact us Calendly
  codegen.ts
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Workspaces/queries/workspaceQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/.env
  packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/env.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils
