Repository amplication/amplication, pull requests merged in 2023-12, with the labels that each got.

#7534 chore(server): increase test coverage threshold
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-server

#7537 fix(server): skip billing check when commit from custom actions migration
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7538 fix(server): only auto-commit Module and ModuleAction blocks during migration
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7543 chore(dsg): fix dockerfile to rely on published libraries
  packages/data-service-generator/Dockerfile
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils

#7553 fix(build-manager): support for old `data-servivce-generator` versions that don't support build split
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.module.ts
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.spec.ts
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.ts
  packages/amplication-build-manager/src/build-logger/build-logger.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/types.ts
Labels: app:amplication-build-manager

#7555 test(build-manager): add tests for build log when build is split
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.spec.ts
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.ts
  packages/amplication-build-manager/src/build-logger/build-logger.controller.spec.ts
  packages/amplication-build-manager/src/build-logger/build-logger.controller.ts
Labels: app:amplication-build-manager

#7556 improve notification widget design
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/notificationStyle.ts
  packages/amplication-client/src/assets/images/no-notification.svg
Labels: app:amplication-client

#7565 refactor(server): billing limitation graphql errors
  libs/util/graphql-error-codes/.eslintrc.json
  libs/util/graphql-error-codes/README.md
  libs/util/graphql-error-codes/package.json
  libs/util/graphql-error-codes/project.json
  libs/util/graphql-error-codes/src/index.ts
  libs/util/graphql-error-codes/src/lib/graphql-error-codes.ts
  libs/util/graphql-error-codes/tsconfig.json
  libs/util/graphql-error-codes/tsconfig.lib.json
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/errors/BillingLimitationError.ts
  packages/amplication-server/src/errors/graphql/graphql-billing-limitation-error.ts
  packages/amplication-server/src/errors/graphql/graphql-internal-server-error.ts
  packages/amplication-server/src/errors/graphql/graphql-unique-key-error.ts
  packages/amplication-server/src/filters/GqlResolverExceptions.filter.spec.ts
  packages/amplication-server/src/filters/GqlResolverExceptions.filter.ts
  tsconfig.base.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes

#7568 fix(dsg): update jwt snapshot after updating the plugin with custom actions
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7570 chore(server): add $groups to two analytics events for testing group analytics
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7571 fix(server): custom-action migration: create relation fields.
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7557 feat(dsg): add support for custom-actions in controller.spc file
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/plugin-events-params.types.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/src/server/resource/test/create-controller-spec.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:util-code-gen-utils, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7572 feat(server): add $group for group analytics in the server
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7560 chore(server): ignore webpack sourcemap errors for prisma generated client
  packages/amplication-server/webpack.config.js
Labels: app:amplication-server

#7576 feat(server): update limitation checks on the commit action
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/billing/billing.service.types.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7577 feat(server): add bypass limitation option for commit/build action
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/dto/CommitCreateInput.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7588 test(server): refactor project service tests to allow mocking billing service getter methods
  packages/amplication-server/src/core/project/project.service.spec.ts
Labels: app:amplication-server

#7585 feat(server): update customer provisioning with new default Enterprise plan
  libs/util/billing-types/src/index.ts
  libs/util/billing-types/src/lib/billing-addons.types.ts
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#7587 feat(client): add module actions free plan page
  libs/ui/design-system/src/lib/components/Tabs/Tabs.tsx
  libs/ui/design-system/src/lib/icons/amplicationicon.eot
  libs/ui/design-system/src/lib/icons/amplicationicon.svg
  libs/ui/design-system/src/lib/icons/amplicationicon.ttf
  libs/ui/design-system/src/lib/icons/amplicationicon.woff
  libs/ui/design-system/src/lib/icons/amplicationicon.woff2
  packages/amplication-client/src/ModuleActions/ModuleActionsFreePlan.scss
  packages/amplication-client/src/ModuleActions/ModuleActionsFreePlan.tsx
  packages/amplication-client/src/Modules/ModulePage.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/assets/images/module-actions-free-plan.svg
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
Labels: lib:ui-design-system, app:amplication-client

#7573 feat(client): add $group for group analytics in the client (HF)
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
Labels: app:amplication-client

#7599 Feat(server): end of trial block create service and project based on license
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#7580 Feat/disabled buttons
  packages/amplication-client/src/Components/FeatureControlContainer.tsx
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.scss
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#7536 feat(client): introduce featured indicator for UI elements
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicator.scss
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.scss
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/LockedFeatureIndicator.scss
  packages/amplication-client/src/Components/LockedFeatureIndicator.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Layout/PageLayout.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.scss
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.scss
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/MemberList.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorList.tsx
  packages/amplication-client/src/Workspaces/queries/workspaceQueries.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#7602 fix(server): remove redundant check on entitlement not in use anymore
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-server

#7601 fix(client): pro plan upgrade button logic
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
Labels: app:amplication-client, app:amplication-server

#7603 chore(server): enhance billing limitation error details
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/errors/BillingLimitationError.ts
  packages/amplication-server/src/errors/graphql/graphql-billing-limitation-error.ts
  packages/amplication-server/src/filters/GqlResolverExceptions.filter.spec.ts
  packages/amplication-server/src/filters/GqlResolverExceptions.filter.ts
Labels: app:amplication-server

#7584 Fix/7561 custom action relation fields
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7600 add downloads count to plugin api
  packages/amplication-plugin-api/prisma/migrations/20231212143802_add_downloads_plugin/migration.sql
  packages/amplication-plugin-api/prisma/schema.prisma
  packages/amplication-plugin-api/src/npm/npm.service.ts
  packages/amplication-plugin-api/src/plugin/base/Plugin.ts
  packages/amplication-plugin-api/src/plugin/github-plugin.service.ts
  packages/amplication-plugin-api/src/plugin/plugin.constants.ts
  packages/amplication-plugin-api/src/plugin/plugin.types.ts
Labels: app:amplication-plugin-api

#7605 chore(client): update events across commit and workspace pages
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Resource/PurchaseMenuItem.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/Resource/git/useAuthWithGit.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-client/src/util/analytics.ts
Labels: app:amplication-client

#7620 fix(client): github button
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
Labels: app:amplication-client

#7622 fix(client): tooltip when not needed
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
Labels: app:amplication-client

#7623 Fix/resource limit
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Project/DeleteProject.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/MemberList.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-client, app:amplication-server

#7624 Fix/tooltip text
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#7522 Update: In-app Pricing Page FAQs
  packages/amplication-client/src/Purchase/FAQ.tsx
Labels: app:amplication-client

#7627 fix(client): show plugin categories label in plural, first letter capital, space between categories
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
Labels: app:amplication-client

#7628 Fix/npm downloads
  packages/amplication-plugin-api/src/plugin/plugin.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes

#7630 fix(server): issue related to custom git base branch limitation
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7631 refactor(server): billing report methods to use explicit instructions and remove custom logic
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-server

#7632 fix(client): issue upgrade button on a free account
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
Labels: app:amplication-client

#7626 chore(client): update purchase page style to latest requirement
  package-lock.json
  package.json
  packages/amplication-client/src/Purchase/PurchasePage.scss
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes

#7635 fix(client): start trial cta
  packages/amplication-client/src/Purchase/PurchasePage.tsx
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes

#7638 fix(client): update text in start trial button
  packages/amplication-client/src/Purchase/PurchasePage.tsx
Labels: app:amplication-client

#7639 fix(client): pricing page enterprise plan colour
  packages/amplication-client/src/Purchase/PurchasePage.scss
Labels: app:amplication-client

#7640 fix(server): team members workspace usage report
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/project/FeatureUsageReport.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#7637 Release v1.12.1
  package-lock.json
  package.json
  packages/amplication-client/src/Purchase/PurchasePage.scss
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/project/FeatureUsageReport.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes

#7606 add two events to notification center
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: app:amplication-client

#7641 chore(client): configure amplication analytics
  packages/amplication-client/.env
  packages/amplication-client/public/index.html
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/environments/environment.production.ts
  packages/amplication-client/src/environments/environment.sandbox.ts
  packages/amplication-client/src/environments/environment.staging.ts
  packages/amplication-client/src/util/analytics.ts
Labels: app:amplication-client

#7644 fix(client): environment variables configuration to allow interpolation in index.html
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/project.json
  packages/amplication-client/src/Layout/MainLayout.tsx
  packages/amplication-client/src/User/Login.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/environments/environment.production.ts
  packages/amplication-client/src/environments/environment.sandbox.ts
  packages/amplication-client/src/environments/environment.staging.ts
  packages/amplication-client/src/environments/environment.ts
  packages/amplication-client/src/index.tsx
Labels: app:amplication-client

#7647 Chore: Merge master backwards into next
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/project.json
  packages/amplication-client/public/index.html
  packages/amplication-client/src/Layout/MainLayout.tsx
  packages/amplication-client/src/User/Login.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/environments/environment.production.ts
  packages/amplication-client/src/environments/environment.sandbox.ts
  packages/amplication-client/src/environments/environment.staging.ts
  packages/amplication-client/src/environments/environment.ts
  packages/amplication-client/src/index.tsx
  packages/amplication-client/src/util/analytics.ts
Labels: ignore-from-release-notes, app:amplication-client

#7645 refactor(client): improve custom actions UI based on entitlement
  libs/ui/design-system/src/lib/components/Text/Text.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionListItem.tsx
  packages/amplication-client/src/ModuleActions/ModuleActions.scss
  packages/amplication-client/src/ModuleActions/ModuleActions.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsDisabled.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsEnabled.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsFreePlan.scss
  packages/amplication-client/src/ModuleActions/ModuleActionsFreePlan.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-client/src/style/dark-css-variables.css
Labels: lib:ui-design-system, app:amplication-client

#7648 fix git provider url on wizard
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
Labels: app:amplication-client

#7652 fix(client): check if billing not enabled and return free plan state
  packages/amplication-client/.env
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Purchase/PromoBanner.tsx
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
Labels: app:amplication-client

#7656 fix(client): fix mismatch in env var for dsg catalog URL
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
Labels: app:amplication-client

#7660 fix(client): aws code commit button style
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
Labels: app:amplication-client

#7659 test(dsg): update kafka snapshot
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7661 fix(ui-design-system): limitationDialog component design for non bypassable limitations
  libs/ui/design-system/src/lib/components/LimitationDialog/LimitationDialog.tsx
  packages/amplication-client/project.json
Labels: lib:ui-design-system, app:amplication-client

#7683 fix(client): billing key
  packages/amplication-client/.env
Labels: app:amplication-client

#7686 chore(gpt-gateway-admin): fix configurations to allow deployment to cloud environments
  .gitignore
  .nxignore
  packages/gpt-gateway-admin/.env
  packages/gpt-gateway-admin/Dockerfile
  packages/gpt-gateway-admin/package-lock.json
  packages/gpt-gateway-admin/package.json
  packages/gpt-gateway-admin/project.json
  packages/gpt-gateway-admin/scripts/entrypoint.sh
  packages/gpt-gateway-admin/scripts/inject-variables.js
  packages/gpt-gateway-admin/src/Login.tsx
  packages/gpt-gateway-admin/src/data-provider/graphqlDataProvider.ts
  packages/gpt-gateway-admin/src/env.ts
  packages/gpt-gateway-admin/tsconfig.app.json
  packages/gpt-gateway-admin/tsconfig.json
  packages/gpt-gateway-admin/tsconfig.spec.json
Labels: app:gpt-gateway-admin

#7658 feat(server): licensed on projects and resources
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20231219171327_add_licensed_for_project_and_resource/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/.env
  packages/amplication-server/src/core/administrator/administrator.module.ts
  packages/amplication-server/src/core/administrator/administrator.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/block/block.service.spec.ts
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/project/project.module.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/__mocks__/Resource.mock.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/subscription/subscription.service.spec.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
  packages/amplication-server/src/core/userAction/userAction.resolver.spec.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/env.ts
  packages/amplication-server/src/guards/gql-cron.guard.spec.ts
  packages/amplication-server/src/guards/gql-cron.guard.ts
  packages/amplication-server/src/models/Project.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7682 feat(client+server): handle "inactive" state for projects and services
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/project/project.resolver.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/Project.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7684 refactor(client): change tooltip text for enterprise trial
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsEnabled.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#7662 add resource name to build complete message
  libs/schema-registry/src/lib/user-build/value.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: lib:ui-design-system, lib:schema-registry, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7689 Fix(client): enterprise tooltip text and alignment
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
Labels: app:amplication-client

#7672 feat(server): add ability to move services across resources
  packages/amplication-server/src/core/entity/__mocks__/entitiesToCopy.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/dto/CopiedEntities.ts
  packages/amplication-server/src/core/resource/dto/CreateResourceEntitiesArgs.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateCopiedEntitiesInput.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/schema.graphql
Labels: app:amplication-server

#7690 refactor(server): emit update project and service licensed field on promotional entitlement
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
Labels: app:amplication-server

#7691 fix(client): github button disabled instead of enabled
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
Labels: app:amplication-client

#7692 fix(server): stigg webhook promotionalEntitlement and add debug logging
  packages/amplication-server/src/core/subscription/subscription.service.ts
Labels: app:amplication-server

#7694 fix(server): add debug logging for subscription
  packages/amplication-server/src/core/subscription/dto/UpdateStatusDto.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
Labels: app:amplication-server

#7697 chore(server): cleanup subscription debug logging
  packages/amplication-server/src/core/subscription/subscription.service.ts
Labels: app:amplication-server

#7676 fix(client): remove inconsistent space in entity permissions
  .github/PULL_REQUEST_TEMPLATE.md
  packages/amplication-client/src/Permissions/PermissionsForm.scss
Labels: app:amplication-client

#7529 feat(client): display nicely formatted markdown `data-service-generator` version changelog
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/Catalog.tsx
Labels: app:amplication-client

#7698 chore(gpt-gateway): expose env variable for playground and introspection configurations
  packages/gpt-gateway/.env
  packages/gpt-gateway/src/app.module.ts
Labels: app:gpt-gateway

#7702 fix categories chip on plugins items
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.scss
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
Labels: app:amplication-client

#7710 fix(dsg): update snapshots
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7716 fix(client): custom action indicator for enterprise not in trial
  packages/amplication-client/src/ModuleActions/ModuleActionsDisabled.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsEnabled.tsx
Labels: app:amplication-client

#7718 fix(client): fix L&F for plugins page according to design
  packages/amplication-client/src/Plugins/PluginsCatalogItem.scss
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
Labels: app:amplication-client

#7564 feat(dsg): Generate dotenv file sorted alphabetically
  packages/data-service-generator/src/admin/create-dotenv.ts
  packages/data-service-generator/src/server/create-dotenv.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/dotenv.spec.ts
  packages/data-service-generator/src/utils/dotenv.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator
