Repository amplication/amplication, pull requests merged in 2024-07, with the labels that each got.

#8746 feat(client):collapse pending changes groups by default
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/VersionControl/PendingChangesListGroup.tsx
Labels: app:amplication-client

#8748 style(client):fix code view style
  libs/ui/design-system/src/lib/components/CodeEditor/CodeEditor.tsx
  libs/ui/design-system/src/lib/components/TreeView/TreeView.scss
  libs/ui/design-system/src/lib/components/TreeView/TreeView.tsx
  packages/amplication-client/src/Resource/code-view/CodeViewPage.scss
Labels: lib:ui-design-system, app:amplication-client

#8749 fix(server): Jovu: error create entity limitation
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8752 feat(server):add event fro StartJovuThread
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#8751 refactor(client):break assistant to components
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/AssistantChat.scss
  packages/amplication-client/src/Assistant/AssistantChat.tsx
  packages/amplication-client/src/Assistant/AssistantChatInput.scss
  packages/amplication-client/src/Assistant/AssistantChatInput.tsx
  packages/amplication-client/src/Assistant/AssistantMessage.tsx
  packages/amplication-client/src/Assistant/OnboardingWithJovu.scss
  packages/amplication-client/src/index.scss
Labels: app:amplication-client

#8756 Feat(client): add commit action to git sync page
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
  packages/amplication-client/src/Resource/git/AuthWithGitProvider.tsx
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitRepos/GithubRepos.tsx
  packages/amplication-client/src/Resource/git/useAuthWithGit.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
Labels: app:amplication-client

#8753 feat(client):onboarding checklist
  package-lock.json
  package.json
  packages/amplication-client/.env
  packages/amplication-client/src/Components/UserBadge.tsx
  packages/amplication-client/src/Entity/Entity.tsx
  packages/amplication-client/src/OnboardingChecklist/OnboardingChecklist.tsx
  packages/amplication-client/src/OnboardingChecklist/context/OnboardingChecklistContext.tsx
  packages/amplication-client/src/Profile/ProfileForm.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/env.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8758 feat(client): add analytics to upgrade button: .NET promote page
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
Labels: app:amplication-client

#8761 fix(client): open pr dialog only from gitSync page
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
Labels: app:amplication-client

#8762 refactor(client): add another function for handleDone repo selected
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
Labels: app:amplication-client

#8759 feat(client): update the onboarding context with resourceId
  packages/amplication-client/src/Entity/DeleteEntityField.tsx
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/ModuleActions/DeleteModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/DeleteModuleDto.tsx
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/OnboardingChecklist/OnboardingChecklist.tsx
  packages/amplication-client/src/OnboardingChecklist/context/OnboardingChecklistContext.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Resource/create-message-broker/CreateMessageBroker.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/VersionControl/BuildGitLink.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/hooks/useprojectResources.ts
Labels: app:amplication-client

#8770 fix(dsg): fix folder structure for custom modules to be all lowercase
  packages/data-service-generator/src/server/custom-module/custom-controller/create-controller.ts
  packages/data-service-generator/src/server/custom-module/custom-module/create-module.ts
  packages/data-service-generator/src/server/custom-module/custom-service/create-service.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8774 fix(dsg): add stringLiteral("args") for primitive input type in resolver
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver-custom-actions.ts
  packages/data-service-generator/src/server/resource/resolver/create-resolver-custom-actions.ts
  packages/data-service-generator/src/utils/create-graphql-args-decorator.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8768 Feat(client): Add options list for commit
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/VersionControl/Commit.scss
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButton.scss
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.scss
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
Labels: app:amplication-client

#8775 fix(client): bypassLimitationsRef.current
  packages/amplication-client/src/VersionControl/CommitButton.tsx
Labels: app:amplication-client

#8779 feat(client): start the checkout page on a monthly option by default, and make it configurable
  packages/amplication-client/.env
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/env.ts
Labels: app:amplication-client

#8780 fix(server): add validation to dto properties when creating a new DTO
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-server

#8781 feat(server): add package block type
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/assistant/functions/types/createService.types.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/package/dto/CreatePackageArgs.ts
  packages/amplication-server/src/core/package/dto/DeletePackageArgs.ts
  packages/amplication-server/src/core/package/dto/FindManyPackageArgs.ts
  packages/amplication-server/src/core/package/dto/Package.ts
  packages/amplication-server/src/core/package/dto/PackageCreateInput.ts
  packages/amplication-server/src/core/package/dto/PackageOrderByInput.ts
  packages/amplication-server/src/core/package/dto/PackageUpdateInput.ts
  packages/amplication-server/src/core/package/dto/PackageWhereInput.ts
  packages/amplication-server/src/core/package/dto/UpdatePackageArgs.ts
  packages/amplication-server/src/core/package/enums/EnumPackageStatus.ts
  packages/amplication-server/src/core/package/package.module.ts
  packages/amplication-server/src/core/package/package.resolver.ts
  packages/amplication-server/src/core/package/package.service.ts
  packages/amplication-server/src/enums/EnumBlockType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8786 fix(client): fix bug with custom action screen creating errors
  packages/amplication-client/src/ModuleDtoProperty/DtoPropertyTypesSelectField.tsx
Labels: app:amplication-client

#8790 fix(server): always sort the entity fields alphabetically when creating the DSGResourceData
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8791 refactor(server): consolidate sorting of entities and entity fields into the getOrderedEntities method
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8793 fix(dsg): normalize folder name to all lowercase for the resolver as well
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8792 Release v3.1.5
  packages/amplication-client/.env
  packages/amplication-client/src/ModuleDtoProperty/DtoPropertyTypesSelectField.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/VersionControl/Commit.scss
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButton.scss
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.scss
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/env.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/data-service-generator/src/server/custom-module/custom-controller/create-controller.ts
  packages/data-service-generator/src/server/custom-module/custom-module/create-module.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver-custom-actions.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver.ts
  packages/data-service-generator/src/server/custom-module/custom-service/create-service.ts
  packages/data-service-generator/src/server/resource/resolver/create-resolver-custom-actions.ts
  packages/data-service-generator/src/utils/create-graphql-args-decorator.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, ignore-from-release-notes, app:amplication-client, app:amplication-server

#8813 Feat/pull-private-plugins
  ee/packages/git-sync-manager/.env
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/app.module.ts
  ee/packages/git-sync-manager/src/env.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.controller.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.module.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/pull-private-plugins-failure/index.ts
  libs/schema-registry/src/lib/pull-private-plugins-failure/key.ts
  libs/schema-registry/src/lib/pull-private-plugins-failure/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-log/index.ts
  libs/schema-registry/src/lib/pull-private-plugins-log/key.ts
  libs/schema-registry/src/lib/pull-private-plugins-log/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-request/index.ts
  libs/schema-registry/src/lib/pull-private-plugins-request/key.ts
  libs/schema-registry/src/lib/pull-private-plugins-request/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-success/index.ts
  libs/schema-registry/src/lib/pull-private-plugins-success/key.ts
  libs/schema-registry/src/lib/pull-private-plugins-success/value.ts
  libs/util/git/src/git-client.service.ts
  libs/util/git/src/providers/git-cli.ts
  libs/util/git/src/types.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8814 Feat(server):Block Type PrivatePlugin
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/PrivatePlugins/DeletePrivatePlugins.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-prisma-db/prisma/migrations/20240730055822_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/privatePlugin/dto/CreatePrivatePluginArgs.ts
  packages/amplication-server/src/core/privatePlugin/dto/DeletePrivatePluginArgs.ts
  packages/amplication-server/src/core/privatePlugin/dto/FindManyPrivatePluginArgs.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePlugin.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginCreateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginOrderByInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginUpdateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginWhereInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/UpdatePrivatePluginArgs.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.module.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/enums/EnumBlockType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8818 Feat: Install Private Plugins
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-feature.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/hooks/usePluginCatalog.ts
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/pluginInstallation/dto/PluginInstallation.ts
  packages/amplication-server/src/core/pluginInstallation/dto/PluginInstallationCreateInput.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.module.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types, lib:code-gen-types

#8819 feat(server):download private plugins step
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.controller.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  libs/schema-registry/src/lib/pull-private-plugins-failure/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-log/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-request/value.ts
  libs/schema-registry/src/lib/pull-private-plugins-success/value.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/git/dto/objects/GitConnectionSettings.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/pluginInstallation/dto/PluginInstallation.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server
