Repository amplication/amplication, pull requests merged in 2024-05, with the labels that each got.

#8350 feat(server):create action with jovu
  packages/amplication-server/src/core/assistant/assistant.service.ts
Labels: app:amplication-server

#8348 feat(server):add support to get a list of actions in the assistant
  packages/amplication-server/src/core/assistant/assistant.service.ts
Labels: app:amplication-server

#8343 style(client):DTO property list UX
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
  libs/ui/design-system/src/lib/components/TextInput/TextInput.tsx
  libs/ui/design-system/src/lib/components/VerticalNavigation/VerticalNavigationItem.tsx
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Components/OptionalDescriptionField.tsx
  packages/amplication-client/src/Entity/EntityForm.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoListItem.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoProperty.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoPropertyPreview.tsx
  packages/amplication-client/src/Modules/ModuleForm.tsx
  packages/amplication-client/src/VersionControl/BuildNewVersion.scss
  packages/amplication-client/src/VersionControl/BuildNewVersion.tsx
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#8346 feast(server):jovu create enum
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/moduleDto/dto/CreateModuleDtoArgs.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-server

#8342 feat(server):add module functions for assistant service
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
  libs/ui/design-system/src/lib/components/TextInput/TextInput.tsx
  libs/ui/design-system/src/lib/components/VerticalNavigation/VerticalNavigationItem.tsx
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Components/OptionalDescriptionField.tsx
  packages/amplication-client/src/Entity/EntityForm.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoListItem.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoProperty.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoPropertyPreview.tsx
  packages/amplication-client/src/Modules/ModuleForm.tsx
  packages/amplication-client/src/VersionControl/BuildNewVersion.scss
  packages/amplication-client/src/VersionControl/BuildNewVersion.tsx
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/moduleDto/dto/CreateModuleDtoArgs.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#8360 feat(client): upgrade link updates.
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/LicenseIndicatorContainer.tsx
  packages/amplication-client/src/Layout/PageLayout.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/VersionControl/hooks/useABTesting.ts
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#8365 Test(Server): Test assistant service
  packages/amplication-server/src/core/assistant/assistant.resolver.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/billing/billing.service.mock.ts
Labels: app:amplication-server

#8341 Epic: Jovu Phase 2
  .vscode/settings.json
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
  libs/ui/design-system/src/lib/components/TextInput/TextInput.tsx
  libs/ui/design-system/src/lib/components/VerticalNavigation/VerticalNavigationItem.tsx
  libs/util/billing-types/src/lib/billing-feature.types.ts
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/AssistantMessage.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Components/OptionalDescriptionField.tsx
  packages/amplication-client/src/Entity/EntityForm.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoListItem.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoProperty.tsx
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoPropertyPreview.tsx
  packages/amplication-client/src/Modules/ModuleForm.tsx
  packages/amplication-client/src/VersionControl/BuildNewVersion.scss
  packages/amplication-client/src/VersionControl/BuildNewVersion.tsx
  packages/amplication-client/src/Workspaces/WorkspaceForm.tsx
  packages/amplication-client/src/assets/jovu.svg
  packages/amplication-server/.env
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistant.resolver.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/billing/billing.service.mock.ts
  packages/amplication-server/src/core/moduleDto/dto/CreateModuleDtoArgs.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/pluginCatalog/dto/PluginCatalogItem.ts
  packages/amplication-server/src/core/pluginCatalog/dto/PluginCatalogItemVersion.ts
  packages/amplication-server/src/core/pluginCatalog/pluginCatalog.module.ts
  packages/amplication-server/src/core/pluginCatalog/pluginCatalog.service.ts
  packages/amplication-server/src/env.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server, lib:billing-types

#8379 feat(local-dsg): multi images
  packages/local-data-service-generator-controller/src/code-gen/code-gen.controller.ts
  packages/local-data-service-generator-controller/src/code-gen/types.ts
Labels: app:local-data-service-generator-controller

#8381 chore(dsg-catalog): add missing db migration
  packages/data-service-generator-catalog/jest.config.ts
  packages/data-service-generator-catalog/prisma/migrations/20240503134532_add_generator_model/migration.sql
Labels: app:data-service-generator-catalog

#8374 style(client):update jovu logo
  libs/ui/design-system/src/lib/components/CircularProgress/CircularProgress.tsx
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/AssistantMessage.tsx
  packages/amplication-client/src/Assistant/JovuLogo.scss
  packages/amplication-client/src/Assistant/JovuLogo.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/assets/jovu-logo.svg
  packages/amplication-client/src/assets/jovu.svg
Labels: lib:ui-design-system, app:amplication-client

#8386 Feat/jovu update client
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Assistant/queries/assistantQueries.ts
  packages/amplication-client/src/Resource/AddResourceFunctionalityButton.tsx
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/hooks/useResourceSummary.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/dto/AssistantMessageDelta.ts
  packages/amplication-server/src/core/assistant/dto/EnumAssistantFunctions.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8389 Feat(server): Jovu - Separate field creation from entity creation
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Entity/EntityERD/EntitiesERD.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/dto/EnumAssistantFunctions.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8391 feat(client):improve chat ux
  package-lock.json
  package.json
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/AssistantChatInput.tsx
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8393 style(client):arrange content when Jovu is open
  packages/amplication-client/src/Entity/EntityList.scss
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Modules/ModulesToolbar.scss
  packages/amplication-client/src/Project/ProjectList.tsx
  packages/amplication-client/src/Resource/PluginsTile.scss
  packages/amplication-client/src/UsageInsights/UsageInsights.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.scss
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.tsx
  packages/amplication-client/src/VersionControl/Commit.scss
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: app:amplication-client

#8394 feat(client):update jovu starters
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
Labels: app:amplication-client

#8396 chore(client):extract upgrade button to a separate component
  .vscode/settings.json
  packages/amplication-client/src/Workspaces/WorkspaceHeader/UpgradeCtaButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#8398 feat(client):ask jovu and create with jovu buttons
  packages/amplication-client/src/Assistant/AskJovuButton.tsx
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/CreateWithJovuButton.tsx
  packages/amplication-client/src/Assistant/context/AssistantContext.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/Modules/NewModuleChild.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: app:amplication-client

#8400 chore(server):split assistant service
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8404 feat(client):add animated logo while jovu is thinking
  packages/amplication-client/src/Assistant/JovuLogo.tsx
  packages/amplication-client/src/assets/jovu-logo.json
Labels: app:amplication-client

#8406 feat(client):update jovu logo file
  packages/amplication-client/src/assets/jovu-logo.svg
Labels: app:amplication-client

#8409 fix(client): fix subscription null issue
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
Labels: app:amplication-client

#8422 feat(client): Add a message about the trial in the new service splash screen
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceWelcome.tsx
Labels: app:amplication-client

#8435 fix(client): add the end text for disabled features
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
Labels: app:amplication-client

#8431 chore(server): update contact us link
  packages/amplication-server/.env
Labels: app:amplication-server

#8437 fix(client): end text content for disabled
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
Labels: app:amplication-client

#8429 8364-dotnet-experience-fixes
  packages/amplication-client/src/VersionControl/DotNetPromoteStartupOrEnterpriseIOption.tsx
Labels: app:amplication-client

#8424 fix(server):send error per entity
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8428 feat(server):improve entity name lookup
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8430 fix(client):scope chat enter hook
  packages/amplication-client/src/Assistant/AssistantChatInput.tsx
  packages/amplication-client/src/Entity/NewEntityField.scss
Labels: app:amplication-client

#8439 fix(client):open external links from jovu in a new tab
  packages/amplication-client/src/Assistant/AssistantMessage.tsx
Labels: app:amplication-client

#8450 chore(client): enable Jovu on staging
  packages/amplication-client/.env.staging
Labels: app:amplication-client

#8453 chore(client): enable Jovu on production
  packages/amplication-client/.env.production
Labels: app:amplication-client

#8445 feat(server):generate args types for assistant functions and validate args schema
  package-lock.json
  package.json
  packages/amplication-server/project.json
  packages/amplication-server/scripts/generate-assistant-functions-types.ts
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/assistant/functions/commitProjectPendingChanges.json
  packages/amplication-server/src/core/assistant/functions/createEntities.json
  packages/amplication-server/src/core/assistant/functions/createEntityFields.json
  packages/amplication-server/src/core/assistant/functions/createModule.json
  packages/amplication-server/src/core/assistant/functions/createModuleAction.json
  packages/amplication-server/src/core/assistant/functions/createModuleDto.json
  packages/amplication-server/src/core/assistant/functions/createModuleEnum.json
  packages/amplication-server/src/core/assistant/functions/createProject.json
  packages/amplication-server/src/core/assistant/functions/createService.json
  packages/amplication-server/src/core/assistant/functions/getModuleActions.json
  packages/amplication-server/src/core/assistant/functions/getModuleDtosAndEnums.json
  packages/amplication-server/src/core/assistant/functions/getPlugins.json
  packages/amplication-server/src/core/assistant/functions/getProjectPendingChanges.json
  packages/amplication-server/src/core/assistant/functions/getProjectServices.json
  packages/amplication-server/src/core/assistant/functions/getServiceEntities.json
  packages/amplication-server/src/core/assistant/functions/getServiceModules.json
  packages/amplication-server/src/core/assistant/functions/index.ts
  packages/amplication-server/src/core/assistant/functions/installPlugins.json
  packages/amplication-server/src/core/assistant/functions/types/commitProjectPendingChanges.ts
  packages/amplication-server/src/core/assistant/functions/types/createEntities.ts
  packages/amplication-server/src/core/assistant/functions/types/createEntityFields.ts
  packages/amplication-server/src/core/assistant/functions/types/createModule.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleAction.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleDto.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleEnum.ts
  packages/amplication-server/src/core/assistant/functions/types/createProject.ts
  packages/amplication-server/src/core/assistant/functions/types/createService.ts
  packages/amplication-server/src/core/assistant/functions/types/getModuleActions.ts
  packages/amplication-server/src/core/assistant/functions/types/getModuleDtosAndEnums.ts
  packages/amplication-server/src/core/assistant/functions/types/getPlugins.ts
  packages/amplication-server/src/core/assistant/functions/types/getProjectPendingChanges.ts
  packages/amplication-server/src/core/assistant/functions/types/getProjectServices.ts
  packages/amplication-server/src/core/assistant/functions/types/getServiceEntities.ts
  packages/amplication-server/src/core/assistant/functions/types/getServiceModules.ts
  packages/amplication-server/src/core/assistant/functions/types/index.ts
  packages/amplication-server/src/core/assistant/functions/types/installPlugins.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8447 feat(client):Create with Jovu button
  packages/amplication-client/src/Assistant/CreateWithJovuButton.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDtoEnum.tsx
  packages/amplication-client/src/Modules/NewModuleChild.tsx
  packages/amplication-client/src/style/mixin.scss
Labels: app:amplication-client

#8458 Feat/jovu onboarding
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/AssistantChatInput.tsx
  packages/amplication-client/src/Assistant/JovuLogo.scss
  packages/amplication-client/src/Assistant/JovuLogo.tsx
  packages/amplication-client/src/Assistant/OnboardingWithJovu.scss
  packages/amplication-client/src/Assistant/OnboardingWithJovu.tsx
  packages/amplication-client/src/Assistant/OnboardingWithJovuPage.tsx
  packages/amplication-client/src/Assistant/context/AssistantContext.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/src/core/assistant/assistant.resolver.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/dto/EnumAssistantMessageType.ts
  packages/amplication-server/src/core/assistant/dto/SendAssistantMessageInput.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8460 feat: Direct users to ERD view when creating entities with Jovu
  packages/amplication-client/src/Entity/EntityList.scss
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/routes/resourceEntitiesRoutes.tsx
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-client, app:amplication-server

#8462 feat(server):validate duplicate plugins
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.spec.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
Labels: app:amplication-server

#8464 feat(server):validate duplicate modules
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
Labels: app:amplication-server

#8465 Update README file to reflect our .NET solution
  README.md
Labels: app:data-service-generator-catalog, app:amplication-plugin-api

#8469 Update README with AI content
  README.md
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8411 fix(client): fix message broker settings page
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
Labels: app:amplication-client

#8354 chore(plugin-api): create manual idempotent migration to add new storage category to plugin catalog
  packages/amplication-plugin-api/prisma/migrations/20240430074127_add_storage_category/migration.sql
Labels: app:amplication-plugin-api

#8473 Feat/jovu create serviec with plugins
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/assistant/functions/createService.json
  packages/amplication-server/src/core/assistant/functions/types/createService.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8477 chore(server): remove gql schema and model generation from the nx cacheable targets
  nx.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8483 Feat(server): Use GPT 4o and support multiple responses per prompt
  package-lock.json
  package.json
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8487 refactor(server): assistant-function-types
  packages/amplication-server/scripts/generate-assistant-functions-types.ts
  packages/amplication-server/src/core/assistant/functions/types/commitProjectPendingChanges.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createEntities.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createEntityFields.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createModule.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleAction.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleDto.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createModuleEnum.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createProject.types.ts
  packages/amplication-server/src/core/assistant/functions/types/createService.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getModuleActions.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getModuleDtosAndEnums.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getPlugins.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getProjectPendingChanges.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getProjectServices.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getServiceEntities.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getServiceModules.types.ts
  packages/amplication-server/src/core/assistant/functions/types/index.ts
  packages/amplication-server/src/core/assistant/functions/types/installPlugins.types.ts
Labels: app:amplication-server

#8485 fix: code generator version selectors
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.spec.ts
  packages/amplication-build-manager/src/code-generator/code-generator-catalog.service.ts
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersion.tsx
  packages/amplication-server/src/core/build/build.controller.ts
  packages/data-service-generator-catalog/src/version/dto/GetCodeGeneratorVersionInput.ts
  packages/data-service-generator-catalog/src/version/version.service.spec.ts
  packages/data-service-generator-catalog/src/version/version.service.ts
Labels: app:data-service-generator-catalog, app:amplication-build-manager, app:amplication-client, app:amplication-server

#8454 refactor(dsg): move dsg version log up to be one of the first build log entry
  packages/data-service-generator/package.json
  packages/data-service-generator/src/create-data-service.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8496 Feat/dto types validation
  packages/amplication-client/src/ModuleDtoProperty/DtoPropertyTypesSelectField.tsx
  packages/amplication-server/src/core/assistant/functions/createModuleAction.json
  packages/amplication-server/src/core/assistant/functions/types/createModuleAction.types.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.module.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-client, app:amplication-server

#8498 V2.0.2
  packages/amplication-client/src/ModuleDtoProperty/DtoPropertyTypesSelectField.tsx
  packages/amplication-server/src/core/assistant/functions/createModuleAction.json
  packages/amplication-server/src/core/assistant/functions/types/createModuleAction.types.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.module.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#8468 feat(code-gen-types): add DotNet plugin events and types
  libs/util/code-gen-types/README.md
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
  libs/util/code-gen-types/src/index.ts
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8510 chore(code-gen-types): add new dotnet event for appsettings.json
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8518 chore(generator): add script to generate local code through container
  packages/data-service-generator/package.json
  packages/data-service-generator/project.json
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8516 Feat/8515 create extensions event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8519 feat(code-gen-types): add new dotnet event for programcs generation
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8504 fix(server): id field and index attribute
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
Labels: app:amplication-server

#8522 feat(server):alter reserved name on creation
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8526 chore(code-gen-types): update create program file dotnet plugin event params
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8525 feat(code-gen-types): dotnet create entity controller base params
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8527 feat(server):alter reserved name on creation
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8480 chore(client): improve git repo connection page
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGithubSync.scss
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
Labels: app:amplication-client

#7404 fix(client): modify the to attribute of the Link used by ProjectListItem and CreateResourceButtonItem
  packages/amplication-client/src/Components/CreateResourceButtonItem.tsx
  packages/amplication-client/src/Project/ProjectListItem.tsx
Labels: app:amplication-client

#8543 Feat(server+client): Jovu analytics
  packages/amplication-client/src/Assistant/OnboardingWithJovu.tsx
  packages/amplication-client/src/Resource/create-resource/wizardResourceSchema.ts
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
Labels: app:amplication-client, app:amplication-server

#8549 Feat(server): handle auth entity for jovu
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.spec.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8551 (Fix): server 8356=> BTM apply changes failed
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8537 chore(code-gen-types): remove dotnet plugin redundant event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8550 (Fix): 8545 models and models actions update data
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionForm.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionListItem.tsx
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8560 Feat(client): commit errors
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/OnBoardingBuildPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommitStatus.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/VersionControl/useBuildWatchStatus.tsx
Labels: app:amplication-client

#8552 Release v2.0.4
  libs/util/code-gen-types/README.md
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
  libs/util/code-gen-types/src/index.ts
  package-lock.json
  package.json
  packages/amplication-client/src/Assistant/OnboardingWithJovu.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Components/CreateResourceButtonItem.tsx
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionForm.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionListItem.tsx
  packages/amplication-client/src/Project/ProjectListItem.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGithubSync.scss
  packages/amplication-client/src/Resource/create-resource/wizardResourceSchema.ts
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/OnBoardingBuildPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommitStatus.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/VersionControl/useBuildWatchStatus.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.spec.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/project.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8568 feat(code-gen-types): add CreateEntityModel plugin event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8570 fix(client):project list link
  packages/amplication-client/src/Project/ProjectListItem.tsx
Labels: app:amplication-client

#8571 feat(code-gen-types): improve csproj event parameters for dotnet plugin event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8575 fix(code-gen-types): add codeBlock type to LoadStaticFiles PluginEventType
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8578 feat(code-gen-types): add createResourceDbContextFile plugin event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types
