Repository amplication/amplication, pull requests merged in 2024-03, with the labels that each got.

#8161 Release v1.14.2
  ee/packages/amplication-git-pull-service/src/app.module.ts
  ee/packages/amplication-git-pull-service/src/main.ts
  ee/packages/amplication-git-push-webhook-service/src/app.module.ts
  ee/packages/amplication-git-push-webhook-service/src/main.ts
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/app.module.ts
  ee/packages/git-sync-manager/src/main.ts
  jest.preset.js
  libs/util/nestjs/tracing/aws-opendistro.config.yml
  libs/util/nestjs/tracing/docker-compose.aws-xray.yml
  libs/util/nestjs/tracing/src/index.ts
  libs/util/nestjs/tracing/src/lib/tracing.module.ts
  libs/util/nestjs/tracing/src/lib/tracing.ts
  package-lock.json
  package.json
  packages/amplication-build-manager/src/app.module.ts
  packages/amplication-build-manager/src/main.ts
  packages/amplication-git-pull-request-service/src/app.module.ts
  packages/amplication-git-pull-request-service/src/main.ts
  packages/amplication-plugin-api/src/app.module.ts
  packages/amplication-plugin-api/src/main.ts
  packages/amplication-server/src/app.module.ts
  packages/amplication-server/src/main.ts
  packages/amplication-storage-gateway/src/app.module.ts
  packages/amplication-storage-gateway/src/constants.ts
  packages/amplication-storage-gateway/src/main.ts
  packages/data-service-generator-catalog/src/app.module.ts
  packages/data-service-generator-catalog/src/main.ts
  packages/gpt-gateway/src/app.module.ts
  packages/gpt-gateway/src/constants.ts
  packages/gpt-gateway/src/main.ts
  packages/notification-service/src/app.module.ts
  packages/notification-service/src/constants.ts
  packages/notification-service/src/main.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8118 chore(deps): update prisma to v5
  ee/packages/amplication-git-pull-service/src/prisma/prisma.service.ts
  ee/packages/amplication-git-push-webhook-service/src/prisma/prisma.service.ts
  ee/packages/git-sync-manager/src/models.ts
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-plugin-api/src/prisma/prisma.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/commit/dto/CommitWhereUniqueInput.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/prisma/prisma.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator-catalog/src/prisma/prisma.service.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/src/models.ts
Labels: type: dependencies, app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7740 chore(client): add support for realtime user monitoring
  package-lock.json
  package.json
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/src/App.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/routes/routesUtil.tsx
  packages/amplication-client/src/util/monitoring.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8109 fix(server): negative timer displayed during schema import process
  packages/amplication-server/src/core/dbSchemaImport/constants.ts
  packages/amplication-server/src/core/dbSchemaImport/dbSchemaImport.service.ts
Labels: app:amplication-server

#8166 chore(tracing): remove prisma instrumentation
  libs/util/nestjs/tracing/src/lib/tracing.ts
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8165 chore(client): add support for real time user monitoring
  package-lock.json
  package.json
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/src/App.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/routes/routesUtil.tsx
  packages/amplication-client/src/util/monitoring.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8168 chore(client): update trial length texts to 7 days
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/PreviewUserLoginModal.tsx
  packages/amplication-client/src/User/Login.tsx
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
Labels: app:amplication-client

#8171 chore(dsg): fix linting
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8175 refactor(server): IDP module
  packages/amplication-server/src/core/auth/auth-utils.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/previewUser.service.spec.ts
  packages/amplication-server/src/core/auth/previewUser.service.ts
  packages/amplication-server/src/core/idp/auth0.service.ts
  packages/amplication-server/src/core/idp/idp.module.ts
  packages/amplication-server/src/core/idp/types.ts
Labels: app:amplication-server

#8178 chore(git-pull-request): remove redundant code
  README.md
  packages/amplication-git-pull-request-service/.env
  packages/amplication-git-pull-request-service/.eslintrc.json
  packages/amplication-git-pull-request-service/.gitignore
  packages/amplication-git-pull-request-service/Dockerfile
  packages/amplication-git-pull-request-service/README.md
  packages/amplication-git-pull-request-service/jest.config.ts
  packages/amplication-git-pull-request-service/project.json
  packages/amplication-git-pull-request-service/src/app.module.ts
  packages/amplication-git-pull-request-service/src/diff/build-path-factory.ts
  packages/amplication-git-pull-request-service/src/diff/delete-files.ts
  packages/amplication-git-pull-request-service/src/diff/diff.module.ts
  packages/amplication-git-pull-request-service/src/diff/diff.service.ts
  packages/amplication-git-pull-request-service/src/diff/diff.types.ts
  packages/amplication-git-pull-request-service/src/diff/diffset-mapper.ts
  packages/amplication-git-pull-request-service/src/env.ts
  packages/amplication-git-pull-request-service/src/errors/MissingBuildFiles.ts
  packages/amplication-git-pull-request-service/src/main.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-git-pull-request-service/src/pull-request/pull-request.controller.ts
  packages/amplication-git-pull-request-service/src/pull-request/pull-request.module.ts
  packages/amplication-git-pull-request-service/src/pull-request/pull-request.service.ts
  packages/amplication-git-pull-request-service/src/pull-request/pull-request.type.ts
  packages/amplication-git-pull-request-service/tests/diff/build-path-factory.spec.ts
  packages/amplication-git-pull-request-service/tests/diff/delete-files.spec.ts
  packages/amplication-git-pull-request-service/tests/diff/diff.service.spec.ts
  packages/amplication-git-pull-request-service/tests/diff/diffset-mapper.spec.ts
  packages/amplication-git-pull-request-service/tests/diff/mocks.ts
  packages/amplication-git-pull-request-service/tsconfig.app.json
  packages/amplication-git-pull-request-service/tsconfig.json
  packages/amplication-git-pull-request-service/tsconfig.spec.json
  packages/amplication-server/project.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8181 hotfix(dsg): ts version
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8184 fix(dsg): pin TS version and update snapshots
  packages/data-service-generator/.eslintrc.json
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8173 feat(client+server): Onboarding Preview
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.scss
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/OnboardingPreview/OnboardingPreviewPage.tsx
  packages/amplication-client/src/OnboardingPreview/OnboardingPreviewSuccess.tsx
  packages/amplication-client/src/OnboardingPreview/constants.ts
  packages/amplication-client/src/OnboardingPreview/hooks/useOnboardingPreview.ts
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240305164949_preview_onboarding/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/auth/auth-utils.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/dto/EnumPreviewAccountType.ts
  packages/amplication-server/src/core/auth/previewUser.service.spec.ts
  packages/amplication-server/src/core/auth/previewUser.service.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/idp/auth0.service.ts
  packages/amplication-server/src/core/idp/idp.module.ts
  packages/amplication-server/src/core/idp/types.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/models/AuthPreviewAccount.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8042 feat(design-system): add panel footer
  libs/ui/design-system/src/lib/components/Panel/Panel.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.stories.tsx
  libs/ui/design-system/src/lib/components/Panel/Panel.tsx
Labels: lib:ui-design-system, app:amplication-client

#8185 Feat(sever + notifications): preview onboarding code generation ready nofitication
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/create-pr-process-completed/index.ts
  libs/schema-registry/src/lib/create-pr-process-completed/key.ts
  libs/schema-registry/src/lib/create-pr-process-completed/value.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/previewUser.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/idp/auth0.service.ts
  packages/amplication-server/src/core/user/user.module.ts
  packages/amplication-server/src/core/user/user.service.spec.ts
  packages/amplication-server/src/core/user/user.service.ts
  packages/amplication-server/src/env.ts
  packages/notification-service/src/app.controller.ts
  packages/notification-service/src/app.service.ts
  packages/notification-service/src/notification-packages/previewUserGenerationCompleted.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8188 chore(client): remove architecture tab beta indicator
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
Labels: app:amplication-client

#8191 feat:onboarding preview fixes
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.scss
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/OnboardingPreview/OnboardingPreviewSuccess.tsx
  packages/amplication-client/src/OnboardingPreview/constants.ts
Labels: app:amplication-client

#8196 feat(client): Generic component for new children for modules
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDtoEnum.tsx
  packages/amplication-client/src/Modules/NewModuleChild.scss
  packages/amplication-client/src/Modules/NewModuleChild.tsx
Labels: app:amplication-client

#8197 Feat/select module for new children
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDtoEnum.tsx
  packages/amplication-client/src/Modules/ModulesToolbar.tsx
  packages/amplication-client/src/Modules/NewModuleChild.scss
  packages/amplication-client/src/Modules/NewModuleChild.tsx
Labels: app:amplication-client

#8208 fix(client):improve plugin experience
  packages/amplication-client/src/Components/TitleAndIcon.scss
  packages/amplication-client/src/Components/TitleAndIcon.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/Resource/AddResourceFunctionalityButton.tsx
  packages/amplication-client/src/Resource/OverviewSecondaryTile/OverviewSecondaryTile.tsx
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/ResourceOverview.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Resource/hooks/useResourceSummary.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: app:amplication-client

#8210 feat(server):default email field
  packages/amplication-server/src/core/entity/constants.ts
Labels: app:amplication-server

#8097 fix(client): refetchLastCommit after onboarding in done
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
Labels: app:amplication-client

#8055 fix(dsg): update amplication logo in Readme file
  packages/data-service-generator/src/admin/static/README.md
  packages/data-service-generator/src/server/static/README.md
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8202 test(dsg): fix auth-core plugin version to latest in dsg e2e tests
  packages/data-service-generator/tests/e2e/plugins.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8215 Preview onboarding plugin settings
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-client, app:amplication-server

#8213 Release v1.14.5
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/OnboardingPreview/constants.ts
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
  packages/amplication-server/src/core/entity/constants.ts
  packages/data-service-generator/src/admin/static/README.md
  packages/data-service-generator/src/server/static/README.md
  packages/data-service-generator/tests/e2e/plugins.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, ignore-from-release-notes, app:amplication-client, app:amplication-server

#8217 fix(server): default email field must be unique in auth entity
  packages/amplication-server/src/core/entity/constants.ts
Labels: app:amplication-server

#8223 fix(client):disable default actions
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
Labels: app:amplication-client

#8221 feat(Notifications): Support custom SendGrid Templates
  packages/notification-service/src/notification-packages/previewUserGenerationCompleted.ts
  packages/notification-service/src/util/novuService.ts
  packages/notification-service/src/util/novuTypes.ts
Labels: app:notification-service

#8219 Release v1.14.5
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-server/src/core/entity/constants.ts
  packages/notification-service/src/notification-packages/previewUserGenerationCompleted.ts
  packages/notification-service/src/util/novuService.ts
  packages/notification-service/src/util/novuTypes.ts
Labels: app:notification-service, ignore-from-release-notes, app:amplication-client, app:amplication-server

#8230 fix(client): fix title of GCP plugin option in mobile preview onboarding
  packages/amplication-client/src/OnboardingPreview/constants.ts
Labels: app:amplication-client

#8231 fix(client): shorten GCP title to allow icon to fit in
  packages/amplication-client/src/OnboardingPreview/constants.ts
Labels: app:amplication-client

#8236 chore(dsg): update auth jwt snapshot based on latest plugin version changes
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8176 Feat(server): analyze Amplication benefit
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/models.ts
  ee/packages/git-sync-manager/src/pull-request/pull-request.controller.ts
  ee/packages/git-sync-manager/src/pull-request/pull-request.service.ts
  libs/schema-registry/src/lib/create-pr-success/value.ts
  libs/util/git/src/git-client.service.ts
  libs/util/git/src/providers/git-cli.ts
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240306174231_add_loc_and_files_changed_for_build/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/UsageInsights/dtos/BaseUsageInsightsArgs.args.ts
  packages/amplication-server/src/core/UsageInsights/dtos/EnumTimeGroup.ts
  packages/amplication-server/src/core/UsageInsights/dtos/UsageInsights.object.ts
  packages/amplication-server/src/core/UsageInsights/types.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.module.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.resolver.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.spec.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/build/dto/Build.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8240 fix(client): fix spelling in onboarding preview
  packages/amplication-client/src/OnboardingPreview/constants.ts
Labels: app:amplication-client

#8244 Fix(server): split insertions and deletions
  ee/packages/git-sync-manager/src/models.ts
  libs/util/git/src/providers/git-cli.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240325091122_split_lines_of_code/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.spec.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/build/dto/Build.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, lib:amplication-prisma-db, lib:util-git, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8248 fix(dsg): type issues related to ts v5.4+ changes
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/server/resource/service/service.base.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8246 fix(dsg): Update nest cli to copy swagger assets during build
  packages/data-service-generator/src/server/static/nest-cli.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8249 Style(client):usage insight style
  libs/ui/design-system/src/lib/components/Text/Text.tsx
  packages/amplication-client/src/Components/InfoButton.tsx
  packages/amplication-client/src/UsageInsights/UsageInsights.scss
  packages/amplication-client/src/UsageInsights/UsageInsights.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.scss
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBoxData.ts
  packages/amplication-client/src/UsageInsights/hooks/useUsageInsights.ts
  packages/amplication-client/src/Workspaces/ResourceList.scss
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8237 feat(client): usage insights client
  libs/ui/design-system/src/lib/components/CircleBadge/CircleBadge.tsx
  libs/ui/design-system/src/lib/components/Text/Text.tsx
  package-lock.json
  package.json
  packages/amplication-client/src/Components/InfoButton.scss
  packages/amplication-client/src/Components/InfoButton.tsx
  packages/amplication-client/src/Project/ProjectList.tsx
  packages/amplication-client/src/UsageInsights/UsageInsights.scss
  packages/amplication-client/src/UsageInsights/UsageInsights.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.scss
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBoxData.ts
  packages/amplication-client/src/UsageInsights/hooks/useUsageInsights.ts
  packages/amplication-client/src/UsageInsights/queries.ts
  packages/amplication-client/src/Workspaces/ResourceList.scss
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/Workspaces/hooks/useFetchGithubStars.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8207 feat:Add fitlers for Actions and DTOs
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/NavigationFilter/NavigationFilter.scss
  libs/ui/design-system/src/lib/components/NavigationFilter/NavigationFilter.stories.tsx
  libs/ui/design-system/src/lib/components/NavigationFilter/NavigationFilter.tsx
  libs/ui/design-system/src/lib/components/NavigationFilter/NavigationFilterItem.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/ModuleActions/ModuleActionLinkList.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoLinkList.tsx
  packages/amplication-client/src/Modules/ModuleNavigationList.tsx
  packages/amplication-client/src/Modules/ModuleNavigationListItem.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-server/.env
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/moduleAction/dto/ModuleActionWhereInput.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDtoWhereInput.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  schema.graphql
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8205 feat(DSG): add custom model creation
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/code-gen-types.ts
  packages/amplication-code-gen-types/src/plugin-events-params.types.ts
  packages/amplication-server/src/core/block/block.module.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/block/blockType.service.spec.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/module/module.module.ts
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.module.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.module.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginOrder.service.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.module.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.service.ts
  packages/amplication-server/src/core/topic/topic.module.ts
  packages/amplication-server/src/core/topic/topic.service.ts
  packages/data-service-generator/src/prepare-context.ts
  packages/data-service-generator/src/server/create-server.ts
  packages/data-service-generator/src/server/custom-module/create-custom-module.ts
  packages/data-service-generator/src/server/custom-module/custom-controller/controller.template.ts
  packages/data-service-generator/src/server/custom-module/custom-controller/create-controller.ts
  packages/data-service-generator/src/server/custom-module/custom-module/create-module.ts
  packages/data-service-generator/src/server/custom-module/custom-module/module.template.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-graphql-operation-decorator.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver-custom-actions.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/create-resolver.ts
  packages/data-service-generator/src/server/custom-module/custom-resolver/resolver.template.ts
  packages/data-service-generator/src/server/custom-module/custom-service/create-service.ts
  packages/data-service-generator/src/server/custom-module/custom-service/service.template.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/create-enum-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-api-property-decorator.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-custom-dtos.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-graphql-field-decorator.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-property-type.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8255 chore(client): updates to usage analytics captions and line breaks
  packages/amplication-client/src/UsageInsights/UsageInsights.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBoxData.ts
Labels: app:amplication-client

#8265 chore(client): update staging environment to include custom actions
  packages/amplication-client/.env.staging
Labels: app:amplication-client

#8266 feat(client): update analytics dashboard calculations and tooltips
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBoxData.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.spec.ts
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.ts
Labels: app:amplication-client, app:amplication-server
