Repository amplication/amplication, pull requests merged in 2024-06, with the labels that each got.

#8585 fix(code-gen-types): CreateResourceDbContextFile to pascal case
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8581 Feat/code gen dotnet
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-feature.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CodeGeneratorImage.scss
  packages/amplication-client/src/Components/CodeGeneratorImage.tsx
  packages/amplication-client/src/OnboardingPreview/constants.ts
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/interfaces.ts
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/hooks/useCodeGeneratorFeature.ts
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/assets/gifs/start-sample-app.gif
  packages/amplication-client/src/assets/gifs/start-scratch.gif
  packages/amplication-client/src/assets/images/tech-stack/dotnet.svg
  packages/amplication-client/src/assets/images/tech-stack/nodejs.svg
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/style/dark-css-variables.css
  packages/amplication-server/src/core/resource/dto/EnumCodeGenerator.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/dto/UpdateCodeGeneratorNameArgs.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/package.json
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types, lib:code-gen-types

#8595 feat(code-gen-types): add CreateSeedDevelopmentDataFile plugin event
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  libs/util/code-gen-types/src/dotnet-plugins.types.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8584 feat(client):use dotnet plugins
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceAuth.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/LabelDescriptionSelector.tsx
  packages/amplication-client/src/Resource/create-resource/wizardResourceSchema.ts
  packages/amplication-client/src/Workspaces/hooks/useAvailableCodeGenerators.ts
Labels: app:amplication-client

#8597 feat(client):filter plugin list based on code generator
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/Plugins/DragPluginCatalogItem.tsx
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginLogo.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/Plugins/hooks/usePluginCatalog.ts
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Plugins/queries/pluginsQueries.ts
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceAuth.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
  packages/amplication-client/src/Resource/hooks/useResourceSummary.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:code-gen-types

#8600 feat(client):filter code generator version list
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersion.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/CodeGeneratorVersionForm.tsx
  packages/amplication-client/src/Resource/codeGeneratorVersionSettings/queries.ts
Labels: app:amplication-client

#8606 Fix/service creation plugins
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceAuth.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
Labels: app:amplication-client

#8617 fix(client):fix jovu send button state
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
Labels: app:amplication-client

#8622 Feat/code gen types version bump
  libs/util/code-gen-types/package.json
  package-lock.json
  package.json
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8624 fix(server):create resource with git
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#8628 fix(client): wizard option labels for .NET services
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceAuth.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
Labels: app:amplication-client

#8635 feat(client): remove btm button from entity overview
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: app:amplication-client

#8630 feat(server):add essential plan
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-addons.types.ts
  libs/util/billing-types/src/lib/billing-plan.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Purchase/PurchasePage.scss
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/UpgradeCtaButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelector.scss
  packages/amplication-client/src/Workspaces/WorkspaceSelector.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorList.tsx
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240610145839_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/subscription/dto/EnumSubscriptionPlan.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types, lib:code-gen-types

#8634 feat(client): disable admin ui and graphql on resource settings page
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGenerationSettings.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/ImageLabelToggle.tsx
  packages/amplication-client/src/Resource/resourceSettings/GenerationSettingsForm.tsx
Labels: app:amplication-client

#8642 fix(server): default API `meta` endpoint path
  libs/util/dsg-utils/src/lib/entity-util.spec.ts
  libs/util/dsg-utils/src/lib/entity-util.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/data-service-generator/src/tests/modules.ts
  packages/data-service-generator/tests/e2e/data/base/modules.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-server, lib:util-dsg-utils

#8633 feat(server): update create pr topic schema to allow parallel consumption of PRs touching difference repository branches
  libs/schema-registry/src/lib/create-pr-request/key.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8644 feat(client):add link to purchase page
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorListItem.tsx
Labels: app:amplication-client

#8657 feat(client):update FAQ
  packages/amplication-client/src/Purchase/FAQ.tsx
Labels: app:amplication-client

#8647 feat: Start Essential trial with Node.js
  libs/util/billing-types/src/lib/billing-addons.types.ts
  libs/util/billing-types/src/lib/billing-feature.types.ts
  packages/amplication-client/.env
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DotNetPromoteOptions.scss
  packages/amplication-client/src/VersionControl/DotNetPromoteOptions.tsx
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
  packages/amplication-client/src/VersionControl/DotNetPromoteStartupOrEnterpriseIOption.tsx
  packages/amplication-client/src/VersionControl/DotnetPromotePage.scss
  packages/amplication-client/src/Workspaces/hooks/useAvailableCodeGenerators.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#8655 feat(client):feature indicator CTA
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Purchase/FAQ.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/VersionControl/hooks/useABTesting.ts
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#8651 feat(server):allow jovu to control the code generator when creating a…
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/assistant/functions/createService.json
  packages/amplication-server/src/core/assistant/functions/types/createService.types.ts
  packages/amplication-server/src/core/assistant/functions/types/getPlugins.types.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8653 refactor(client):LicenseIndicatorContainer component
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/LicenseIndicatorContainer.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Purchase/FAQ.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnection.tsx
  packages/amplication-client/src/Resource/git/GitActions/GitProviderConnectionList.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/hooks/useABTesting.ts
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorList.tsx
  packages/amplication-server/src/core/subscription/subscription.service.ts
Labels: app:amplication-client, app:amplication-server

#8666 feat(server): code generation trial
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8668 Fix/project limitation
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#8670 fix(server):jovu requests trial
  libs/util/billing-types/src/lib/billing-addons.types.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#8671 feat(client):change all CTA to pricing page
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#8672 style(client):show analytics below resource list on all screen sizes
  packages/amplication-client/src/Workspaces/ResourceList.scss
Labels: app:amplication-client

#8674 fix(server):dotnet default settings without admin ui and gql
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8675 fix(client):fix clickable area
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#8676 fix(service) enforce service limitation
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8673 fix(client):jovu CTA
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#8678 fix(client):fix default purchase return url
  packages/amplication-client/src/Purchase/PurchasePage.tsx
Labels: app:amplication-client

#7411 fix(dsg): add moduleNameMapper to the jest configuration of the server
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8681 chore(client): rename AI helper button in Break the Monolith
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
Labels: app:amplication-client

#8682 fix(server): issue related to billing features not being respected
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#8687 fix(server): first PR commit body
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:amplication-server

#8686 fix(server): issue related to missing validation of billing features on build
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#8690 feat(server): add support for marketplace integration
  package-lock.json
  package.json
  packages/amplication-prisma-db/prisma/migrations/20240618142238_add_aws_marketplace_model/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240619130557_add_dimension_to_awsmarketplace_model/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240620065657_fix_relationship_aws_marketplace/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/.env
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.controller.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.module.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.service.ts
  packages/amplication-server/src/core/aws-marketplace/constant.ts
  packages/amplication-server/src/core/aws-marketplace/registration-page.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/env.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8688 fix(dsg): validate min and max
  packages/data-service-generator/src/server/resource/dto/class-validator.util.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/create-field-class-property.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/field.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8684 feat(server): build per service
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/dto/CommitCreateInput.ts
  packages/amplication-server/src/core/resource/dto/EnumCommitStrategy.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8695 fix(server): remove description
  packages/amplication-server/migration-scripts/create-project-configuration.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8692 Fix(server):8691 => Create relation field error
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8702 Release v3.1.1
  .github/workflows/ci.yml
  .github/workflows/deployment.production.yml
  .github/workflows/deployment.static.template.yml
  .github/workflows/e2e.yml
  .github/workflows/nx.template.yml
  .github/workflows/release.dsg.production.yml
  .github/workflows/release.production.yml
  .github/workflows/release.template.yml
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Purchase/FAQ.scss
  packages/amplication-client/src/Purchase/FAQ.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240618142238_add_aws_marketplace_model/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240619130557_add_dimension_to_awsmarketplace_model/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240620065657_fix_relationship_aws_marketplace/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/.env
  packages/amplication-server/migration-scripts/create-project-configuration.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.controller.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.module.ts
  packages/amplication-server/src/core/aws-marketplace/aws-marketplace.service.ts
  packages/amplication-server/src/core/aws-marketplace/constant.ts
  packages/amplication-server/src/core/aws-marketplace/registration-page.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/dto/CommitCreateInput.ts
  packages/amplication-server/src/core/resource/dto/EnumCommitStrategy.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/env.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/server/resource/dto/class-validator.util.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/create-field-class-property.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/field.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8707 feat(server):upgrade from free to paid without a trial
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-client, app:amplication-server

#8711 feat(server): add planType to all server events
  packages/amplication-server/src/core/billing/billing.module.ts
  packages/amplication-server/src/core/billing/billing.service.mock.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.module.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.spec.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.ts
Labels: app:amplication-server

#8713 Filter-nest-only-dtos
  packages/amplication-server/src/core/commit/commit.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
Labels: app:amplication-server

#8712 feat(server):update assistant for onboarding
  packages/amplication-server/src/core/assistant/assistant.service.ts
Labels: app:amplication-server

#8716 fix(client): fix title mismatch bug in dotnet DB plugins
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
Labels: app:amplication-client

#8721 fix(server): allow deleting custom enums
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-server

#8719 Do not search in custom Enums for DTO references
  packages/amplication-server/src/core/module/module.service.ts
Labels: app:amplication-server

#8723 fix(git): fail gracefully and return a default empty diff stat if diff stat throws an exception
  libs/util/git/src/providers/git-cli.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8717 Feat(client): upgrade to dotnet
  libs/ui/design-system/src/lib/components/List/List.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Components/PremiumFeatureHeader.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsDisabled.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModuleOrganizerDisabled.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
  packages/amplication-client/src/VersionControl/DotnetPromotePage.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/UpgradeCtaButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/hooks/useContactUs.ts
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: lib:ui-design-system, app:amplication-client

#8727 fix: filter DTOs for dotnet in the client rather than in the server
  packages/amplication-client/src/ModuleDto/hooks/useModuleDto.tsx
  packages/amplication-server/src/core/commit/commit.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
Labels: app:amplication-client, app:amplication-server

#8728 Release v3.1.2
  .github/workflows/release.assistant-function-json.yml
  libs/ui/design-system/src/lib/components/List/List.scss
  libs/util/git/src/providers/git-cli.ts
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Components/PremiumFeatureHeader.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionsDisabled.tsx
  packages/amplication-client/src/ModuleDto/hooks/useModuleDto.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModuleOrganizerDisabled.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceDatabase.tsx
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBox.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
  packages/amplication-client/src/VersionControl/DotnetPromotePage.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/UpgradeCtaButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/hooks/useContactUs.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/billing/billing.module.ts
  packages/amplication-server/src/core/billing/billing.service.mock.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.module.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.spec.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.ts
Labels: lib:ui-design-system, lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#8734 chore(server): change description of function to test workflow
  packages/amplication-server/src/core/assistant/functions/createService.json
Labels: app:amplication-server

#8735 feat(client):improve the UX to get to the generated code
  libs/ui/design-system/src/lib/components/Button/Button.scss
  libs/ui/design-system/src/lib/components/Button/Button.tsx
  packages/amplication-client/src/Components/TitleAndIcon.tsx
  packages/amplication-client/src/VersionControl/BuildGitLink.tsx
  packages/amplication-client/src/VersionControl/CommitResourceList.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.scss
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/VersionControl/useBuildGitUrl.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-server/src/core/build/build.controller.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#8737 Fix/dsg-log-build-issues-as-error
  packages/data-service-generator/src/generate-code.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8738 Private-207/add-transaction-mechanism-for-Jovu's-CreateModuleAction
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8740 Fix/8739: install correct default DB plugin for Dotnet services
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8742 fix(server): fix bug with choosing the correct default DB plugin by generator
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8744 Release v3.1.3
  libs/ui/design-system/src/lib/components/Button/Button.scss
  libs/ui/design-system/src/lib/components/Button/Button.tsx
  packages/amplication-client/src/Components/TitleAndIcon.tsx
  packages/amplication-client/src/VersionControl/BuildGitLink.tsx
  packages/amplication-client/src/VersionControl/CommitResourceList.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.scss
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/VersionControl/useBuildGitUrl.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/assistant/functions/createService.json
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/data-service-generator/src/generate-code.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, app:data-service-generator, ignore-from-release-notes, app:amplication-client, app:amplication-server
