Repository amplication/amplication, pull requests merged in 2024-10, with the labels that each got.

#8989 Feat/version list pagination
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Pagination/Pagination.scss
  libs/ui/design-system/src/lib/components/Pagination/Pagination.tsx
  libs/ui/design-system/src/lib/components/UserAndTime/UserAndTime.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ResourceVersionList.scss
  packages/amplication-client/src/Platform/ResourceVersionList.tsx
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/hooks/resourceVersionQueries.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersion.ts
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.resolver.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/amplication-server/src/dto/MetaQueryPayload.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8986 feat(client):template version list
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Pagination/Pagination.scss
  libs/ui/design-system/src/lib/components/Pagination/Pagination.tsx
  libs/ui/design-system/src/lib/components/UserAndTime/UserAndTime.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ResourceVersionList.scss
  packages/amplication-client/src/Platform/ResourceVersionList.tsx
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/hooks/resourceVersionQueries.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersion.ts
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.resolver.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/amplication-server/src/dto/MetaQueryPayload.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:amplication-client

#8984 feat(client):template versions and publish page
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/LimitationDialog/LimitationDialog.scss
  libs/ui/design-system/src/lib/components/Pagination/Pagination.scss
  libs/ui/design-system/src/lib/components/Pagination/Pagination.tsx
  libs/ui/design-system/src/lib/components/UserAndTime/UserAndTime.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.scss
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.stories.tsx
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Platform/ResourceVersionList.scss
  packages/amplication-client/src/Platform/ResourceVersionList.tsx
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Platform/hooks/resourceVersionQueries.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersion.ts
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/PublishChangesPage.scss
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/VersionControl/PublishTemplatesChangesButton.tsx
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-client/src/util/analytics.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/dto/CommitCreateInput.ts
  packages/amplication-server/src/core/resource/dto/CommitResourceVersionCreateInput.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.resolver.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/amplication-server/src/dto/MetaQueryPayload.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9000 fix(build-manager):remove unused error object
  packages/amplication-build-manager/src/build-runner/build-runner.controller.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/build-runner/dto/CodeGenerationFailure.ts
Labels: app:amplication-build-manager

#9004 Merge master back into next
  packages/amplication-build-manager/src/build-runner/build-runner.controller.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/build-runner/dto/CodeGenerationFailure.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/util/version.ts
Labels: ignore-from-release-notes, app:amplication-build-manager, app:amplication-client, app:amplication-server

#9003 fet(server):recalc build status
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
Labels: app:amplication-server

#9018 Fix/single plugin repo
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#9022 Add infra for messages to notify plugin versions used in build process
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/plugin-notify-version/index.ts
  libs/schema-registry/src/lib/plugin-notify-version/key.ts
  libs/schema-registry/src/lib/plugin-notify-version/value.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-build-manager/src/build-runner/dto/NotifyPluginVersion.ts
  packages/amplication-prisma-db/prisma/migrations/20241002062702_/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20241002063144_/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/build/dto/BuildPlugin.ts
Labels: lib:schema-registry, lib:amplication-prisma-db, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#9020 Chore/publish dsg utils
  libs/util/dsg-utils/package.json
  libs/util/dsg-utils/project.json
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server, lib:util-dsg-utils

#8991 Epic: private plugin version
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.scss
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/InstalledPluginVersionIndicator.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Plugins/queries/pluginsQueries.ts
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.scss
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionCodeField.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.scss
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionList.tsx
  packages/amplication-client/src/PrivatePluginVersion/hooks/usePrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/queries/privatePluginVersionQueries.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/privatePlugin/dto/CreatePrivatePluginVersionArgs.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePlugin.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginUpdateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginVersion.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginVersionCreateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginVersionUpdateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/UpdatePrivatePluginVersionArgs.ts
  packages/amplication-server/src/core/privatePlugin/dto/WherePrivatePluginVersionUniqueInput.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9025 fix(client):message is readonly
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
Labels: app:amplication-client

#9026 feat(dsg-util):notify plugin version to build manager
  libs/util/dsg-utils/jest.config.ts
  libs/util/dsg-utils/package.json
  libs/util/dsg-utils/src/build-logger/build-logger.spec.ts
  libs/util/dsg-utils/src/build-manager-notifier/notify-build-manager.spec.ts
  libs/util/dsg-utils/src/build-manager-notifier/notify-build-manager.ts
  libs/util/dsg-utils/src/dynamic-installation/DynamicPackageInstallationManager.ts
  libs/util/dsg-utils/src/dynamic-installation/Tarball.ts
  libs/util/dsg-utils/src/dynamic-installation/dynamic-package-installation.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.spec.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-build-manager, app:amplication-server, lib:util-dsg-utils

#9027 feat: Set template version on service creation
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.scss
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9028 feat(client):show template version
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
Labels: app:amplication-client

#9050 chore(server):update deps to prevent issue on docker build
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#9033 Epic: Outdated Version Alerts
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241004133918_add_outdated_version_alert/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/CreateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatus.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatusFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertType.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertTypeFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindManyOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindOneOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlert.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertCreateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertOrderByInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9032 chore(dsg):improve docker file caching
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241004133918_add_outdated_version_alert/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/CreateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatus.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatusFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertType.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertTypeFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindManyOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindOneOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlert.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertCreateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertOrderByInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/Dockerfile.dev
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#9030 feat(client):show last build status on catalog
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/UserAndTime/UserAndTime.tsx
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/VersionControl/CommitBuildsStatusIcon.scss
  packages/amplication-client/src/VersionControl/constants.ts
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241004133918_add_outdated_version_alert/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/dto/BuildWhereInput.ts
  packages/amplication-server/src/core/build/dto/EnumBuildGitStatusFilter.ts
  packages/amplication-server/src/core/build/dto/EnumBuildStatusFilter.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/CreateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatus.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatusFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertType.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertTypeFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindManyOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindOneOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlert.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertCreateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertOrderByInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/Dockerfile.dev
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9029 feat(client):show plugins on templates
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Tooltip/Tooltip.scss
  libs/ui/design-system/src/lib/components/Tooltip/Tooltip.stories.tsx
  libs/ui/design-system/src/lib/components/Tooltip/Tooltip.tsx
  libs/ui/design-system/src/lib/components/UserAndTime/UserAndTime.tsx
  libs/ui/design-system/src/lib/style/css-variables.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Plugins/PluginLogoGroup.scss
  packages/amplication-client/src/Plugins/PluginLogoGroup.tsx
  packages/amplication-client/src/Plugins/ResourcePluginLogoGroup.tsx
  packages/amplication-client/src/Resource/PluginsTile.scss
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/VersionControl/CommitBuildsStatusIcon.scss
  packages/amplication-client/src/VersionControl/constants.ts
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241004133918_add_outdated_version_alert/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/dto/BuildWhereInput.ts
  packages/amplication-server/src/core/build/dto/EnumBuildGitStatusFilter.ts
  packages/amplication-server/src/core/build/dto/EnumBuildStatusFilter.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/CreateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatus.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatusFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertType.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertTypeFilter.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindManyOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/FindOneOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlert.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertCreateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertOrderByInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/Dockerfile.dev
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9051 chore(server):update deps to prevent issue on docker build
  libs/util/code-gen-utils/package.json
  libs/util/dsg-utils/package.json
  package-lock.json
  package.json
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#9036 feat(client):show list of services in the template page
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.scss
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertList.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertListDataColumns.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertStatus.scss
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertStatus.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertType.scss
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertType.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/ServiceTemplate/ServiceTemplateServiceList/ServiceTemplateServiceList.tsx
  packages/amplication-client/src/ServiceTemplate/ServiceTemplateServiceList/ServiceTemplateServiceListDataColumns.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/hooks/useprojectResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.resolver.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9039 feat(server):cancel previous alerts when creating new alerts for the same objects
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241005072219_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/outdatedVersionAlert/dto/EnumOutdatedVersionAlertStatus.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9041 Feat/upgrade service from template
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertListDataColumns.tsx
  packages/amplication-client/src/ServiceTemplate/UpgradeServiceToLatestTemplateVersionButton.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/serviceTemplate.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9046 feat(server):close stale builds
  packages/amplication-server/src/core/build/build.resolver.spec.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-server

#9054 fix(server): fix build status check
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:amplication-server

#9060 feat(server): new users should be provisioned with Enterprise trial
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-server

#9061 feat: add new Team plan and set it as default plan for new user trial
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-plan.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelector.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241009165833_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/subscription/dto/EnumSubscriptionPlan.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types, lib:code-gen-types

#9062 Fix/9058 unpublished templates
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-client, app:amplication-server

#9067 Hotfix: new-pricing-plans
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-plan.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelector.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241009165833_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/subscription/dto/EnumSubscriptionPlan.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types, lib:code-gen-types

#9084 Fix: Issue #9083 - Fix private plugins issue
  packages/amplication-client/src/Plugins/PrivatePluginsFeature.tsx
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: app:amplication-client, app:amplication-server

#9085 fix(client): remove deprecated toggle
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.tsx
Labels: app:amplication-client

#9086 feat(client): pp=> filter disabled versions
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/hooks/usePluginCatalog.ts
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
Labels: app:amplication-client

#9087 fix(client):resource not available
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertListDataColumns.tsx
Labels: app:amplication-client

#9089 fix(server): do not load alerts for deleted services
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
Labels: app:amplication-server

#9064 Private-plugins-versions
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  libs/schema-registry/src/lib/download-private-plugins-request/value.ts
  libs/util/git/src/git-client.service.ts
  libs/util/git/src/types.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#9091 client: update plugin repo text
  packages/amplication-client/src/Resource/create-plugin-repository/CreatePluginRepository.tsx
Labels: app:amplication-client

#9092 fix(server): publish template on first time undefined version error
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
Labels: app:amplication-server

#9095 fix(client): createPrivatePlugin apollo error
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
Labels: app:amplication-client

#9127 Fix(client): list loading display issues
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
Labels: app:amplication-client, app:amplication-server

#9125 Feat/update-alert-status
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/AlertStatusSelector.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlert.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertUpdateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/UpdateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9123 feat(client):add pending changes column to service catalog and template list
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/AlertStatusSelector.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlert.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourcePendingChangesCount.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertUpdateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/UpdateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9122 feat(client):publish private plugins
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/AlertStatusSelector.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlert.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourcePendingChangesCount.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertUpdateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/UpdateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9121 Feat/resource-version-details
  .vscode/settings.json
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.scss
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.stories.tsx
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.tsx
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripeItem.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/AlertStatusSelector.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlert.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/CompareResourceVersions.tsx
  packages/amplication-client/src/Platform/ResourceVersionLink.tsx
  packages/amplication-client/src/Platform/ResourceVersionList.tsx
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/ResourceVersionPage.tsx
  packages/amplication-client/src/Platform/ResourceVersionsPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Platform/hooks/resourceVersionQueries.ts
  packages/amplication-client/src/Platform/hooks/useCompareResourceVersions.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersion.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersions.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourcePendingChangesCount.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertUpdateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/UpdateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#9120 Feat/expandable-data-grid
  .vscode/settings.json
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.stories.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridRowExpander.tsx
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.scss
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.stories.tsx
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripe.tsx
  libs/ui/design-system/src/lib/components/HeaderItemsStripe/HeaderItemsStripeItem.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OutdatedVersionAlerts/AlertStatusSelector.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlert.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/Platform/CompareResourceVersions.tsx
  packages/amplication-client/src/Platform/ResourceVersionLink.tsx
  packages/amplication-client/src/Platform/ResourceVersionList.tsx
  packages/amplication-client/src/Platform/ResourceVersionListDataColumns.tsx
  packages/amplication-client/src/Platform/ResourceVersionPage.tsx
  packages/amplication-client/src/Platform/ResourceVersionsPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Platform/hooks/resourceVersionQueries.ts
  packages/amplication-client/src/Platform/hooks/useCompareResourceVersions.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersion.ts
  packages/amplication-client/src/Platform/hooks/useResourceVersions.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourcePendingChangesCount.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertUpdateInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/dto/UpdateOutdatedVersionAlertArgs.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/package.json
  packages/data-service-generator/src/admin/package-json/package.json
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-server.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#9129 feat(client):private plugin codeGenerator
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePlugin.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginCreateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginUpdateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginWhereInput.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/dto/EnumCodeGeneratorFilter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#9132 Feat/private plugin cg
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePlugin.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginCreateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginUpdateInput.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginWhereInput.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/dto/EnumCodeGeneratorFilter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9134 refactor(core): rename blockType: TemplateCodeEngineVersion to CodeEn…
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241017182842_migration/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20241020112242_20241020_block_type_add_code_engine_version/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/core/templateCodeEngineVersion/templateCodeEngineVersion.service.ts
  packages/amplication-server/src/enums/EnumBlockType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9149 chore(client): temporarily hide PP versions section
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
Labels: app:amplication-client

#9147 feat(design-system):data grid columns filter
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridColumnFilter.tsx
  libs/ui/design-system/src/lib/components/SelectMenu/SelectMenu.scss
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Resource/git/GitActions/ExistingConnectionsMenu.scss
  packages/amplication-client/src/Resource/git/GitActions/ExistingConnectionsMenu.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: lib:ui-design-system, app:amplication-client

#9150 Feat/9063 private plugin versions
  ee/packages/git-sync-manager/src/models.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.controller.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  libs/util/code-gen-types/src/models.ts
  libs/util/git/src/git-client.service.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/blockType.service.spec.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/build/build.module.ts
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:util-git, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9181 feat(client):show resource owner
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
Labels: lib:ui-design-system, app:amplication-client

#9177 feat(server):resource ownership
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9174 style(client):update the style of new service from template modal
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: lib:ui-design-system, app:amplication-client

#9172 feat(design-system):add inner tabs style
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.stories.tsx
  libs/ui/design-system/src/lib/components/Tabs/Tabs.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: lib:ui-design-system, app:amplication-client

#9170 feat(client): add/remove members
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.stories.tsx
  libs/ui/design-system/src/lib/components/Tabs/Tabs.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Components/UserInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Teams/AddTeamMember.tsx
  packages/amplication-client/src/Teams/AddTeamMemberButton.tsx
  packages/amplication-client/src/Teams/NewTeam.tsx
  packages/amplication-client/src/Teams/Team.tsx
  packages/amplication-client/src/Teams/TeamForm.tsx
  packages/amplication-client/src/Teams/TeamList.tsx
  packages/amplication-client/src/Teams/TeamMemberList.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/Teams/queries/teamsQueries.ts
  packages/amplication-client/src/User/CompleteInvitation.tsx
  packages/amplication-client/src/Workspaces/MemberListItem.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/team/team.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9168 feat(server):add remove members from team
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.stories.tsx
  libs/ui/design-system/src/lib/components/Tabs/Tabs.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Components/UserInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Teams/AddTeamMember.tsx
  packages/amplication-client/src/Teams/AddTeamMemberButton.tsx
  packages/amplication-client/src/Teams/NewTeam.tsx
  packages/amplication-client/src/Teams/Team.tsx
  packages/amplication-client/src/Teams/TeamForm.tsx
  packages/amplication-client/src/Teams/TeamList.tsx
  packages/amplication-client/src/Teams/TeamMemberList.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/Teams/queries/teamsQueries.ts
  packages/amplication-client/src/User/CompleteInvitation.tsx
  packages/amplication-client/src/Workspaces/MemberListItem.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/dto/AddMembersToTeamArgs.ts
  packages/amplication-server/src/core/team/dto/RemoveMembersFromTeamArgs.ts
  packages/amplication-server/src/core/team/dto/TeamUpdateMembersInput.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/team/team.service.spec.ts
  packages/amplication-server/src/core/team/team.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9167 feat(client):team pages
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.scss
  libs/ui/design-system/src/lib/components/Tabs/Tabs.stories.tsx
  libs/ui/design-system/src/lib/components/Tabs/Tabs.tsx
  libs/ui/design-system/src/lib/components/UserAvatar/UserAvatar.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/TeamInfo.tsx
  packages/amplication-client/src/Components/UserInfo.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Teams/AddTeamMember.tsx
  packages/amplication-client/src/Teams/AddTeamMemberButton.tsx
  packages/amplication-client/src/Teams/DeleteTeam.tsx
  packages/amplication-client/src/Teams/NewTeam.scss
  packages/amplication-client/src/Teams/NewTeam.tsx
  packages/amplication-client/src/Teams/Team.tsx
  packages/amplication-client/src/Teams/TeamForm.tsx
  packages/amplication-client/src/Teams/TeamList.tsx
  packages/amplication-client/src/Teams/TeamMemberList.tsx
  packages/amplication-client/src/Teams/TeamsPage.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/Teams/queries/teamsQueries.ts
  packages/amplication-client/src/User/CompleteInvitation.tsx
  packages/amplication-client/src/Workspaces/MemberListItem.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceOwner.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20241026064420_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/EnumOwnershipType.ts
  packages/amplication-server/src/core/ownership/dto/Owner.ts
  packages/amplication-server/src/core/ownership/dto/Ownership.ts
  packages/amplication-server/src/core/ownership/ownership.module.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/dto/AddMembersToTeamArgs.ts
  packages/amplication-server/src/core/team/dto/RemoveMembersFromTeamArgs.ts
  packages/amplication-server/src/core/team/dto/TeamUpdateMembersInput.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/team/team.service.spec.ts
  packages/amplication-server/src/core/team/team.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/models.ts
Labels: app:amplication-client

#9184 feat(client):update navigation
  libs/ui/design-system/src/lib/components/Tabs/Tabs.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
Labels: lib:ui-design-system, app:amplication-client

#9186 feat: Set resource owner
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/OwnerSelector.scss
  packages/amplication-client/src/Components/OwnerSelector.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/hooks/useResource.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/Teams/queries/teamsQueries.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/resource/dto/ResourceSetOwnerInput.ts
  packages/amplication-server/src/core/resource/dto/SetResourceOwnerArgs.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9194 chore(client): remove beta indication from templates page
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/PlatformBetaContent.tsx
Labels: app:amplication-client
