Repository amplication/amplication, pull requests merged in 2024-02, with the labels that each got.

#7915 Fix(client): break the monolith - local storage
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerControls.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/helpers.ts
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizerPersistentData.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#7903 feat(server): break the monolith events
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/resource/dto/StartRedesignArgs.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resource/resourceBtm.resolver.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
  packages/amplication-server/src/core/resource/resourceBtm.types.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7918 Feat snackbar style
  libs/ui/design-system/src/lib/components/Snackbar/Snackbar.scss
  libs/ui/design-system/src/lib/components/Snackbar/Snackbar.tsx
  libs/ui/design-system/src/lib/index.ts
Labels: lib:ui-design-system, app:amplication-client

#7920 Feat/use message
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsTool.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/util/useMessage.ts
Labels: lib:ui-design-system, app:amplication-client

#7910 feat(client): disable unique flag for auth entity specific field types
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityFieldForm.tsx
  packages/amplication-client/src/Entity/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceAuth.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/interfaces.ts
  packages/amplication-server/src/core/entity/constants.ts
  packages/data-service-generator/src/tests/entities.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7921 feat(client):model organizer messages
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
Labels: app:amplication-client

#7850 Add the name of current entity to the entity page, breadcrumbs and each tab except General Settings
  packages/amplication-client/src/Entity/Entity.tsx
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityFieldList.tsx
  packages/amplication-client/src/Permissions/PermissionsForm.tsx
Labels: app:amplication-client

#7924 style(client):model organizer confirmation dialog
  libs/ui/design-system/src/lib/components/JumboButton/JumboButton.scss
  libs/ui/design-system/src/lib/components/JumboButton/JumboButton.stories.tsx
  libs/ui/design-system/src/lib/components/JumboButton/JumboButton.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/CreateApplyChangesLoader.scss
  packages/amplication-client/src/Project/ArchitectureConsole/CreateApplyChangesLoader.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerConfirmation.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerConfirmation.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
Labels: lib:ui-design-system, app:amplication-client

#7914 fix(server): filter out services with no data models
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
Labels: app:amplication-server

#7926 feat(client): merge to next
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsTool.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/util/useMessage.ts
Labels: app:amplication-client

#7370 Addition of New Tutorial - Event Management
  tutorials/event-management-application.md
Labels: ignore-from-release-notes

#7445 fix(dsg): cleaned dsg where the context of dsg was in an inconsistent way
  packages/data-service-generator/src/admin/create-admin.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7759 fix(client): build page navigation to service
  packages/amplication-client/src/Components/BackNavigation.tsx
  packages/amplication-client/src/VersionControl/BuildPage.scss
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.scss
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
Labels: app:amplication-client

#7774 fix(client): relation radio button doesn't turn off
  packages/amplication-client/src/Components/RelationAllowMultipleField.tsx
Labels: app:amplication-client

#7928 Refactor(Client+Server): rename RedesignProject flow types and params
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerConfirmation.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerConfirmation.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/TempServiceView.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/resource/dto/CreateResourceEntitiesArgs.ts
  packages/amplication-server/src/core/resource/dto/RedesignProjectArgs.ts
  packages/amplication-server/src/core/resource/dto/RedesignProjectInput.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7930 feat(server+client): Update RedesignProject flow
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.tsx
  packages/amplication-client/src/Entity/ImportPrismaSchema/queries.ts
  packages/amplication-client/src/Project/ArchitectureConsole/CreateResource.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerConfirmation.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/helpers.ts
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
  packages/amplication-client/src/Resource/preview-pages/breaking-the-monolith/BreakingTheMonolithOptionsPage.tsx
  packages/amplication-client/src/UserAction/queries.ts
  packages/amplication-client/src/UserAction/useUserActionWatchStatus.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240204114540_add_enum_user_action_type_project_redesign/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/constants.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/userAction/types.ts
  packages/amplication-server/src/core/userAction/userAction.service.ts
  packages/amplication-server/src/models/Resource.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7932 Feat(client): model organizer fit view with delay
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#7935 Chore(client): warning on exhaustive deps
  packages/amplication-client/.eslintrc.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils

#7936 Fix(client): Refresh resource list after Apply Changes
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: app:amplication-client

#7939 chore(client): remove service description for new services created in the Architecture screen
  packages/amplication-client/src/Project/ArchitectureConsole/CreateResource.tsx
Labels: app:amplication-client

#7904 feat(client): add events for breaking the monolith and architecture
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsTool.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: app:amplication-client, app:amplication-server, app:amplication-plugin-api

#7916 refactor(server): business email signup flow to allow tracking at the end of the process
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240202103529_remove_auth0_preview_account_type_from_enum/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/account/account.service.spec.ts
  packages/amplication-server/src/core/account/account.service.ts
  packages/amplication-server/src/core/auth/auth.controller.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/auth.types.ts
  packages/amplication-server/src/core/auth/dto/EnumPreviewAccountType.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
  packages/amplication-server/src/core/subscription/subscription.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.types.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7923 chore(server): add start signup email event
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.types.ts
Labels: app:amplication-server

#7942 Fix/134 btm relations
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/entity/dto/EnumRelatedFieldStrategy.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7944 chore(design-system): allow playing with snackbar types in storybook
  libs/ui/design-system/src/lib/components/Snackbar/Snackbar.stories.tsx
Labels: lib:ui-design-system, app:amplication-client

#7947 fix(client): usage of start redesign mutation
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
Labels: app:amplication-client

#7950 fix(client): update title for full enterprise
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ArchitectureConsole.tsx
Labels: app:amplication-client

#7951 fix(server): connect gitRepository to created service from Architecture
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#7952 fix(client): add showTooltip={false} to components that are using the render function
  packages/amplication-client/src/ModuleActions/ModuleActions.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
Labels: app:amplication-client

#7953 Release v1.13.5
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
  packages/amplication-client/src/ModuleActions/ModuleActions.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ArchitectureConsole.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#7927 chore(server): add complete signup email event
  packages/amplication-server/src/core/auth/auth.controller.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/types.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.types.ts
Labels: app:amplication-server

#7943 refactor(server): move oidc logic to service instead of leaving it in controller
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/account/account.service.spec.ts
  packages/amplication-server/src/core/account/account.service.ts
  packages/amplication-server/src/core/auth/auth.controller.spec.ts
  packages/amplication-server/src/core/auth/auth.controller.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/oidc.middleware.ts
Labels: app:amplication-server

#7948 chore(server): update deprecated dependency analytics-node
  package-lock.json
  package.json
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalytics.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7975 fix(client): feature indicator container text and link text
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
Labels: app:amplication-client

#7973 fix(server): relation name with the same field name
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
Labels: app:amplication-server

#7978 chore(client): notification button should follow the notification URL for all notification types
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#7977 feat(server): improve serviceSettings =>
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#7979 feat(server): add BTM addon for trial users
  libs/util/billing-types/src/lib/billing-addons.types.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#7971 fix(client): PR link on commit list
  libs/ui/design-system/src/lib/components/List/List.scss
  libs/ui/design-system/src/lib/components/List/ListItem.tsx
  packages/amplication-client/src/VersionControl/BuildGitLink.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.scss
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
Labels: lib:ui-design-system, app:amplication-client

#7323 fix(client): Design Misalignment in Project Deletion UI
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
Labels: app:amplication-client, hacktoberfest-accepted

#7982 fix(server): recreate movedEntitiesByResource after targetServiceId was updated
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#7985 test(dsg): update snapshot
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7988 feat(client): adding name collision validation when moving an entity to another service
  libs/ui/design-system/src/lib/components/ConfirmationDialog/ConfirmationDialog.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
Labels: lib:ui-design-system, app:amplication-client

#7986 feat(client): Break the monolith - preview user flow
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolithPreviewPage.scss
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolithPreviewPage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmLoader.tsx
  packages/amplication-client/src/Resource/break-the-monolith/CreateBTMPreviewEnvironmentPage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.scss
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
  packages/amplication-client/src/Resource/break-the-monolith/monolith-options.ts
  packages/amplication-client/src/Resource/preview-pages/breaking-the-monolith/BreakingTheMonolithOptionsPage.tsx
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/routes/resourceRoutes.tsx
Labels: app:amplication-client

#7995 fix(server): add Id to fieldName for one relation side
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-server

#7994 feat(client):add info message in create service dialog
  packages/amplication-client/src/Project/ArchitectureConsole/CreateResource.tsx
Labels: app:amplication-client

#7993 refactor(client): update fetch changes message
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsTool.tsx
Labels: app:amplication-client

#7992 feat(client): commit validation BTM
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
Labels: app:amplication-client

#8003 fix(client): remove drag btn from modelGroup
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.tsx
Labels: app:amplication-client

#7999 refactor(server+client): update ai user prompt and results to client
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/break-the-monolith/queries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/resource/dto/BreakServiceToMicroservicesResult.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
  packages/amplication-server/src/core/resource/resourceBtm.types.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8006 feat(dsg): allow dynamic imports in service.base.ts
  packages/data-service-generator/src/server/resource/service/create-service.ts
  packages/data-service-generator/src/server/resource/service/service.base.template.ts
  packages/data-service-generator/src/server/resource/service/to-many.template.ts
  packages/data-service-generator/src/server/resource/service/to-one.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/ast.spec.ts
  packages/data-service-generator/src/utils/ast.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7989 feat(client): add auth-entity validation
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
Labels: app:amplication-client

#8007 feat(client):connect btm to model organizer
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
Labels: app:amplication-client

#8011 feat(client): replace the select menu with a button if there are only one/zero resources
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
Labels: app:amplication-client

#7958 feat(client): make the workspace banner a generic one
  packages/amplication-client/src/Workspaces/WorkspaceHeader/GitHubBanner.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/GitHubBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#8018 feat(client): Preview env flow
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
  packages/amplication-client/src/Resource/break-the-monolith/SelectPreviewEnvPage.tsx
  packages/amplication-client/src/User/SignupPreviewAccount.tsx
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceRoutes.tsx
Labels: app:amplication-client

#8014 Fix(client+server): preview user flow for BTM + AI
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolithPreviewPage.scss
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolithPreviewPage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/User/CompletePreviewSignupButton.tsx
  packages/amplication-client/src/User/CompletePreviewSignupDialog.scss
  packages/amplication-client/src/User/CompletePreviewSignupDialog.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useWorkspaceSelector.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/resource/dto/RedesignProjectInput.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8019 feat(design-system): add top border with theme color to panels
  libs/ui/design-system/src/lib/components/Panel/Panel.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.stories.tsx
  libs/ui/design-system/src/lib/components/Panel/Panel.tsx
Labels: lib:ui-design-system, app:amplication-client

#8021 feat(design-system):non clickable footer for panels
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.scss
  libs/ui/design-system/src/lib/components/List/List.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.stories.tsx
  libs/ui/design-system/src/lib/components/Panel/Panel.tsx
Labels: lib:ui-design-system, app:amplication-client

#8024 chore(client): change commit button text
  packages/amplication-client/src/VersionControl/Commit.tsx
Labels: app:amplication-client

#8023 feat(client): add temporary MWC banner
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: app:amplication-client

#8012 Feat/7966 search BTM => Improve search: add search entities and highlight the results
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/helpers.ts
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNodeBase.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8031 fix(server): fix API params to body param
  packages/amplication-server/src/core/user/dto/NotifyUseFeatureAnnouncementInput.ts
  packages/amplication-server/src/core/user/user.controller.ts
  packages/amplication-server/src/core/workspace/dto/CreateWorkspacesResourcesDefaultCustomActionsMigrationInput.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
Labels: app:amplication-server

#8033 refactor(client): change the auth-entity error message description.
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
Labels: app:amplication-client

#8034 chore(client): change order of text in the dialog
  packages/amplication-client/src/Project/ArchitectureConsole/CreateResource.tsx
Labels: app:amplication-client

#8035 chore(notifications): add handler for the feature announcement topic
  packages/notification-service/src/app.controller.ts
Labels: app:notification-service

#8036 fix(server): add relevant data to notification message
  packages/amplication-server/src/core/user/user.service.ts
Labels: app:amplication-server

#8030 refactor(client): preview ueer - hide commit
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
Labels: app:amplication-client

#8037 fix(server): filter our deleted projects
  packages/amplication-server/src/core/user/user.service.ts
Labels: app:amplication-server

#8038 Release 1.13.7
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/user-feature-announcement/index.ts
  libs/schema-registry/src/lib/user-feature-announcement/key.ts
  libs/schema-registry/src/lib/user-feature-announcement/value.ts
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.scss
  libs/ui/design-system/src/lib/components/List/List.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.stories.tsx
  libs/ui/design-system/src/lib/components/Panel/Panel.tsx
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/CreateResource.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsTool.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/helpers.ts
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNodeBase.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/GitHubBanner.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/GitHubBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-server/.env
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/user/dto/NotifyUseFeatureAnnouncementInput.ts
  packages/amplication-server/src/core/user/user.controller.ts
  packages/amplication-server/src/core/user/user.module.ts
  packages/amplication-server/src/core/user/user.service.spec.ts
  packages/amplication-server/src/core/user/user.service.ts
  packages/amplication-server/src/core/workspace/dto/CreateWorkspacesResourcesDefaultCustomActionsMigrationInput.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/data-service-generator/src/server/resource/service/create-service.ts
  packages/data-service-generator/src/server/resource/service/service.base.template.ts
  packages/data-service-generator/src/server/resource/service/to-many.template.ts
  packages/data-service-generator/src/server/resource/service/to-one.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/ast.spec.ts
  packages/data-service-generator/src/utils/ast.ts
  packages/notification-service/src/app.controller.ts
  packages/notification-service/src/app.service.ts
  packages/notification-service/src/notification-packages/featureAnnouncement.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#8039 fix(client):revert panel changes for clickable footer
  libs/ui/design-system/src/lib/components/Panel/Panel.scss
  libs/ui/design-system/src/lib/components/Panel/Panel.stories.tsx
  libs/ui/design-system/src/lib/components/Panel/Panel.tsx
Labels: lib:ui-design-system, app:amplication-client

#8041 client(client): add confirmation dialog for btm button
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
Labels: app:amplication-client

#8043 feat(client): add option to override local storage key for workspace banner
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#8025 refactor(server): preview user - complte signup after reset password
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#7829 feat(client): new upload schema ux
  libs/ui/design-system/src/lib/style/css-variables.scss
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.scss
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.tsx
  packages/amplication-client/src/Entity/ImportPrismaSchema/ImportSchemaSuccess.tsx
  packages/amplication-client/src/Entity/ImportPrismaSchema/UploadSchemaStatus.scss
  packages/amplication-client/src/Entity/ImportPrismaSchema/UploadSchemaStatus.tsx
  packages/amplication-client/src/VersionControl/ActionLog.scss
  packages/amplication-client/src/VersionControl/ActionLog.tsx
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8051 feat(client): break the monolith entitlement
  libs/ui/design-system/src/lib/components/Button/Button.scss
  libs/ui/design-system/src/lib/components/SelectMenu/SelectMenu.tsx
  libs/ui/design-system/src/lib/icons/amplicationicon.eot
  libs/ui/design-system/src/lib/icons/amplicationicon.svg
  libs/ui/design-system/src/lib/icons/amplicationicon.ttf
  libs/ui/design-system/src/lib/icons/amplicationicon.woff
  libs/ui/design-system/src/lib/icons/amplicationicon.woff2
  packages/amplication-client/src/Components/FeatureIndicator.tsx
  packages/amplication-client/src/Resource/FeatureRequestTile.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useWorkspaceSelector.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: lib:ui-design-system, app:amplication-client

#8052 feat(server): add limitatin for break the monolith with gpt
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
Labels: app:amplication-server

#8062 Fix/preview ai btm issues
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#8049 feat(client): reset changes when discarding changes inside BTM
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
Labels: app:amplication-client

#8061 Feat/7967 fix context menu branch
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.tsx
  packages/amplication-client/src/Components/EntityContextMenuButton.scss
  packages/amplication-client/src/Components/EntityContextMenuButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelGroupNode.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNode.scss
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNodeBase.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
Labels: lib:ui-design-system, app:amplication-client

#8069 feat(client):btm confirmation on changes only
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
Labels: app:amplication-client

#8090 fix(client): loader position after break the monolith full screen
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.scss
Labels: app:amplication-client

#8089 fix(client): remove close button from modal for preview user
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/break-the-monolith/SelectPreviewEnvPage.tsx
Labels: app:amplication-client

#8082 fix(client): pass data from the BTM to model organizer
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/types.ts
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
Labels: app:amplication-client

#8085 fix(client): description on choose a monolith to break
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.scss
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
Labels: app:amplication-client

#8084 Fix(client): disable break and revisit after click
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
Labels: app:amplication-client

#8077 Fix/previw generate code ux
  package-lock.json
  package.json
  packages/amplication-client/src/User/CompletePreviewSignup.scss
  packages/amplication-client/src/User/CompletePreviewSignup.tsx
  packages/amplication-client/src/User/CompletePreviewSignupButton.tsx
  packages/amplication-client/src/User/CompletePreviewSignupDialog.scss
  packages/amplication-client/src/User/CompletePreviewSignupDialog.tsx
  packages/amplication-client/src/User/CompletePreviewSignupPage.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8099 feat(client):show the description of new services in the BTM results
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.scss
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8063 Feat/124 Add a toggle button in workspace settings for enabled/disabled LLM features.
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/EntityForm.tsx
  packages/amplication-client/src/Profile/ProfileForm.tsx
  packages/amplication-client/src/Project/NewProject.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/Roles/RoleForm.tsx
  packages/amplication-client/src/Workspaces/WorkspaceForm.scss
  packages/amplication-client/src/Workspaces/WorkspaceForm.tsx
  packages/amplication-client/src/Workspaces/hooks/workspace.ts
  packages/amplication-client/src/Workspaces/queries/workspaceQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/formikValidateJsonSchema.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240220123122_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/block/block.service.spec.ts
  packages/amplication-server/src/core/block/blockType.service.spec.ts
  packages/amplication-server/src/core/permissions/permissions.service.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.spec.ts
  packages/amplication-server/src/core/workspace/dto/WorkspaceUpdateInput.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/models/Workspace.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8093 chore(server): improve error handling in ai suggestion flow
  packages/amplication-server/src/core/gpt/gpt.service.spec.ts
  packages/amplication-server/src/core/gpt/gpt.service.ts
  packages/amplication-server/src/core/gpt/gpt.types.ts
  packages/amplication-server/src/core/resource/constants.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
  packages/amplication-server/src/core/userAction/userAction.resolver.spec.ts
  packages/amplication-server/src/core/userAction/userAction.resolver.ts
  packages/amplication-server/src/core/userAction/userAction.service.ts
Labels: app:amplication-server

#8094 fix(client): ai suggestion infinite polling in case of errors
  packages/amplication-client/src/Resource/break-the-monolith/hooks/useBtmService.ts
Labels: app:amplication-client

#8095 fix(gpt-gateway): template custom params issue
  packages/gpt-gateway/providers/openai/openai.service.ts
  packages/gpt-gateway/src/template/template.service.spec.ts
  packages/gpt-gateway/src/template/template.service.ts
Labels: app:gpt-gateway

#7848 chore(devops): configuration for local DSG dockerfile
  packages/data-service-generator/Dockerfile.dev
  packages/data-service-generator/project.json
  packages/data-service-generator/scripts/package-container.sh
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8114 fix(client): issue related to undefined subscriptionPlan on current workspace
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
Labels: app:amplication-client

#8129 fix(dsg):use bigint for relation functions
  packages/data-service-generator/src/server/resource/service/create-service.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8131 fix(dsg):add missing ts-ignore comment
  packages/data-service-generator/src/server/create-main/main.with-bigint.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8110 feat(client+server): Custom Actions feature flag
  packages/amplication-client/.env
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/Modules/ModuleListItem.tsx
  packages/amplication-client/src/Modules/ModuleNavigationListItem.tsx
  packages/amplication-client/src/Modules/NewModule.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-server/.env
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/env.ts
Labels: app:amplication-client, app:amplication-server

#8112 feat(server):create default DTOs for Enum fields
  libs/util/dsg-utils/src/lib/dto-util.ts
  packages/amplication-client/.env
  packages/amplication-server/.env
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/data-service-generator/src/server/prisma/create-prisma-schema-fields.ts
  packages/data-service-generator/src/server/prisma/create-prisma-schema.ts
  packages/data-service-generator/src/server/resource/create-dtos.ts
  packages/data-service-generator/src/server/resource/dto/create-enum-dto.ts
  packages/data-service-generator/src/server/resource/dto/create-field-class-property.ts
  packages/data-service-generator/src/server/resource/dto/graphql-field-decorator/create-graphql-field-decorator.ts
  packages/data-service-generator/src/server/seed/create-seed.spec.ts
  packages/data-service-generator/src/server/seed/create-seed.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8115 feat(server):custom DTO Enums
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/code-gen-types.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/moduleDto/dto/EnumModuleDtoType.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.resolver.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/tests/e2e/data-service-generator.e2e.spec.ts
  packages/data-service-generator/tests/e2e/data/base/modules.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8120 feat(server):module DTO Enum members
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/code-gen-types.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/moduleDto/dto/CreateModuleDtoEnumMemberArgs.ts
  packages/amplication-server/src/core/moduleDto/dto/DeleteModuleDtoEnumMemberArgs.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDto.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDtoEnumMember.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDtoEnumMemberCreateInput.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDtoEnumMemberUpdateInput.ts
  packages/amplication-server/src/core/moduleDto/dto/ModuleDtoUpdateInput.ts
  packages/amplication-server/src/core/moduleDto/dto/UpdateModuleDtoEnumMemberArgs.ts
  packages/amplication-server/src/core/moduleDto/dto/WhereEnumMemberUniqueInput.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.resolver.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8127 feat(client):module DTO Enum members
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
  packages/amplication-client/src/ModuleDto/queries/moduleDtosQueries.ts
  packages/amplication-client/src/ModuleDtoEnumMember/DeleteModuleDtoEnumMember.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/ModuleDtoEnumMember.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/ModuleDtoEnumMemberForm.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/ModuleDtoEnumMemberList.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/NewModuleDtoEnumMember.scss
  packages/amplication-client/src/ModuleDtoEnumMember/NewModuleDtoEnumMember.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/hooks/useModuleDtoEnumMember.tsx
  packages/amplication-client/src/ModuleDtoEnumMember/queries/moduleDtosEnumMemberQueries.ts
  packages/amplication-client/src/ModuleDtoProperty/ModuleDtoPropertyList.tsx
Labels: app:amplication-client

#8107 feat(client): add preview user dialog for BTM AI flow
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.scss
  libs/ui/design-system/src/lib/components/FlexItem/FlexItem.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.scss
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/PreviewUserBTMModal.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
Labels: lib:ui-design-system, app:amplication-client

#8108 refactor(client): show entity context menu only for draggable nodes / remove selected icon.
  packages/amplication-client/src/Components/EntityContextMenuButton.scss
  packages/amplication-client/src/Components/EntityContextMenuButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/nodes/modelNodeBase.tsx
Labels: app:amplication-client

#7997 feat(client): add apply changes confirmation dialog BTM
  packages/amplication-client/src/Project/ArchitectureConsole/ArchitectureConsole.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerPreviousChangesExistConfirmation.tsx
Labels: app:amplication-client

#8136 chore(server: remove Auth entity from AI results suggestion
  packages/amplication-server/src/core/resource/resourceBtm.resolver.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.spec.ts
  packages/amplication-server/src/core/resource/resourceBtm.service.ts
Labels: app:amplication-server

#8137 Feat/8080 => Add Dialog for Preview user first login after a signup
  packages/amplication-client/src/Project/ArchitectureConsole/PreviewUserLoginModal.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Workspaces/hooks/useProjectSelector.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-client, app:amplication-server

#8138 fix(client): fields not shows in BTM
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
Labels: app:amplication-client

#8139 chore(client): update "generate the code" page for preview users + set confetti to optional
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/src/User/CompletePreviewSignup.scss
  packages/amplication-client/src/User/CompletePreviewSignup.tsx
  packages/amplication-client/src/env.ts
Labels: app:amplication-client

#8140 feat(server): allow remembering that a user was once a preview user
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#8141 fix(client): new import flow error message
  packages/amplication-client/src/Entity/ImportPrismaSchema/EntitiesImport.tsx
Labels: app:amplication-client

#8144 chore(client): fix text colors
  packages/amplication-client/src/User/CompletePreviewSignup.tsx
Labels: app:amplication-client

#8145 fix(server): fix the firstname and lastname properties of preview users
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#8148 chore(client): update preview user BTM text colors
  packages/amplication-client/src/Project/ArchitectureConsole/PreviewUserBTMModal.tsx
Labels: app:amplication-client

#8151 chore(client): update the BTM results "cards" screen to new UX requirements
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.scss
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
Labels: app:amplication-client

#8153 feat(client): add confirm changes dialog messages for manual/AI process.
  packages/amplication-client/src/Project/ArchitectureConsole/ArchitectureConsole.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerPreviousChangesExistConfirmation.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
Labels: app:amplication-client

#8152 Release v1.14.1
  packages/amplication-client/src/Project/ArchitectureConsole/ArchitectureConsole.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerPreviousChangesExistConfirmation.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/PreviewUserBTMModal.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.scss
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BtmButton.tsx
  packages/amplication-client/src/Resource/break-the-monolith/CreateEntitiesFormPredefinedSchema.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceBanner.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#8155 fix(client): fix ModelOrganizer icon position
  libs/ui/design-system/src/lib/components/Button/Button.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelsGroupsList.tsx
Labels: lib:ui-design-system, app:amplication-client

#8156 fix(client): fix model organizer controls icon position
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerControl.tsx
Labels: app:amplication-client

#8158 chore(client): remove redundant nx target
  packages/amplication-client/project.json
Labels: app:amplication-client

#8160 chore(tracing): migrate to amplication nestjs opentelemetry v5
  ee/packages/amplication-git-pull-service/src/app.module.ts
  ee/packages/amplication-git-pull-service/src/main.ts
  ee/packages/amplication-git-push-webhook-service/src/app.module.ts
  ee/packages/amplication-git-push-webhook-service/src/main.ts
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/app.module.ts
  ee/packages/git-sync-manager/src/main.ts
  jest.preset.js
  libs/util/nestjs/tracing/aws-opendistro.config.yml
  libs/util/nestjs/tracing/docker-compose.aws-xray.yml
  libs/util/nestjs/tracing/src/index.ts
  libs/util/nestjs/tracing/src/lib/tracing.module.ts
  libs/util/nestjs/tracing/src/lib/tracing.ts
  package-lock.json
  package.json
  packages/amplication-build-manager/src/app.module.ts
  packages/amplication-build-manager/src/main.ts
  packages/amplication-git-pull-request-service/src/app.module.ts
  packages/amplication-git-pull-request-service/src/main.ts
  packages/amplication-plugin-api/src/app.module.ts
  packages/amplication-plugin-api/src/main.ts
  packages/amplication-server/src/app.module.ts
  packages/amplication-server/src/main.ts
  packages/amplication-storage-gateway/src/app.module.ts
  packages/amplication-storage-gateway/src/constants.ts
  packages/amplication-storage-gateway/src/main.ts
  packages/data-service-generator-catalog/src/app.module.ts
  packages/data-service-generator-catalog/src/main.ts
  packages/gpt-gateway/src/app.module.ts
  packages/gpt-gateway/src/constants.ts
  packages/gpt-gateway/src/main.ts
  packages/notification-service/src/app.module.ts
  packages/notification-service/src/constants.ts
  packages/notification-service/src/main.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin
