Repository amplication/amplication, pull requests merged in 2024-09, with the labels that each got.

#8865 fix(client):show loading state in commit list
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
Labels: app:amplication-client

#8875 fix(server):create project git repo for new projects
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8877 fix(server):return details about existing fields when jovu create new fields
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8878 fix(server):share the details of the default fields when creating an entity
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#8887 fix(client):use empty string for default value for fkFieldName
  libs/util/code-gen-types/src/schemas/lookup.json
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8897 fix(dsg): fix param types for custom actions
  packages/data-service-generator/src/server/resource/controller/create-controller-custom-actions.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8899 fix(client):avoid duplicate page events and standardize page name
  packages/amplication-client/src/Layout/RouteWithAnalytics.tsx
  packages/amplication-client/src/routes/resourceEntitiesRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-client/src/routes/routesUtil.tsx
  packages/amplication-client/src/util/usePageTracking.ts
Labels: app:amplication-client

#8916 feat(server):module reserved name
  packages/amplication-server/src/core/entity/reservedNames.ts
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
Labels: app:amplication-server

#8917 chore(client):remove onboardingChecklist
  package.json
  packages/amplication-client/.env
  packages/amplication-client/src/Components/UserBadge.tsx
  packages/amplication-client/src/Entity/DeleteEntityField.tsx
  packages/amplication-client/src/Entity/Entity.tsx
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/ModuleActions/DeleteModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/DeleteModuleDto.tsx
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/OnboardingChecklist/OnboardingChecklist.tsx
  packages/amplication-client/src/OnboardingChecklist/context/OnboardingChecklistContext.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Resource/create-message-broker/CreateMessageBroker.tsx
  packages/amplication-client/src/Resource/create-plugin-repository/CreatePluginRepository.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/VersionControl/BuildGitLink.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/env.ts
Labels: app:amplication-client

#8925 chore(client):upgrade mui
  libs/ui/design-system/src/lib/components/TreeView/TreeView.tsx
  package-lock.json
  package.json
  packages/amplication-client/src/Resource/code-view/CodeViewExplorerTree.tsx
  packages/amplication-client/src/Resource/code-view/FileExplorerNode.tsx
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8927 feat(design-system):add data-grid
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.stories.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/index.ts
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#8931 feat(client):show code gen version in resource list
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Workspaces/ResourceGitRepo.tsx
  packages/amplication-client/src/Workspaces/ResourceLastBuildVersion.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
Labels: lib:ui-design-system, app:amplication-client

#8929 feat(client):add datagrid for resource list
  libs/ui/design-system/src/lib/components/ConfirmationDialog/ConfirmationDialog.scss
  libs/ui/design-system/src/lib/components/ConfirmationDialog/ConfirmationDialog.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Dialog/Dialog.scss
  libs/ui/design-system/src/lib/components/Dialog/Dialog.tsx
  libs/ui/design-system/src/lib/components/Toggle/ToggleView.scss
  libs/ui/design-system/src/lib/components/Toggle/ToggleView.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.scss
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
  packages/amplication-client/src/Workspaces/ResourceGitRepo.tsx
  packages/amplication-client/src/Workspaces/ResourceLastBuild.tsx
  packages/amplication-client/src/Workspaces/ResourceLastBuildVersion.tsx
  packages/amplication-client/src/Workspaces/ResourceList.scss
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/ResourceNameLink.scss
  packages/amplication-client/src/Workspaces/ResourceNameLink.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
Labels: lib:ui-design-system, app:amplication-client

#8933 feat(client):move private plugins to project tabs
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginGitSettings.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Resource/git/ServiceConfigurationGitSettings.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
Labels: app:amplication-client, app:amplication-server

#8937 feat(client): add new entitlement allow-workspace-creation
  libs/util/billing-types/src/lib/billing-feature.types.ts
  packages/amplication-client/src/Workspaces/WorkspaceSelector.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorList.tsx
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#8915 fix(server): fix pluginOrder in dsgResourceData
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
Labels: app:amplication-server

#8896 Override-customizable-files
  ee/packages/git-sync-manager/src/pull-request/pull-request.service.ts
  libs/schema-registry/src/lib/create-pr-request/value.ts
  libs/util/git/src/git-client.service.ts
  libs/util/git/src/types.ts
  libs/util/git/src/utils/prepare-files-for-pull-request.ts
  packages/amplication-server/src/core/build/build.module.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/projectConfigurationSettings/dto/ProjectConfigurationSettings.ts
  packages/amplication-server/src/core/projectConfigurationSettings/dto/ProjectConfigurationSettingsUpdateInput.ts
  packages/amplication-server/src/core/projectConfigurationSettings/projectConfigurationSettings.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8943 fix(server): allow workspace creation for the first workspace (new user) regardless of entitlement
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
Labels: app:amplication-server

#8894 Feat/8891 ra graphql upgrade
  packages/data-service-generator/package.json
  packages/data-service-generator/src/admin/app/App.template.tsx
  packages/data-service-generator/src/admin/create-dotenv.template.env
  packages/data-service-generator/src/admin/entity/create-field-input.ts
  packages/data-service-generator/src/admin/entity/entity-list-component/entity-list-component.template.tsx
  packages/data-service-generator/src/admin/entity/entity-show-component/create-entity-show-component.ts
  packages/data-service-generator/src/admin/package-json/create-package-json.ts
  packages/data-service-generator/src/admin/package-json/package.json
  packages/data-service-generator/src/admin/public-files/create-public-files.ts
  packages/data-service-generator/src/admin/public-files/index.template.html
  packages/data-service-generator/src/admin/static/src/Login.tsx
  packages/data-service-generator/src/admin/static/src/LoginForm.tsx
  packages/data-service-generator/src/admin/static/src/data-provider/graphqlDataProvider.ts
  packages/data-service-generator/src/admin/static/src/index.tsx
  packages/data-service-generator/src/admin/static/src/pages/Dashboard.tsx
  packages/data-service-generator/src/admin/static/src/react-app-env.d.ts
  packages/data-service-generator/src/admin/static/src/theme/theme.ts
  packages/data-service-generator/src/admin/static/src/vite-env.d.ts
  packages/data-service-generator/src/admin/static/vite.config.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-server.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/read-static-modules.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8945 chore(dsg): align DSG package json with the monorepo main one
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8949 Feat/project page
  packages/amplication-client/src/Components/CodeGeneratorImage.tsx
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.scss
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Project/ProjectList.scss
  packages/amplication-client/src/Project/ProjectList.tsx
  packages/amplication-client/src/Project/ProjectListItem.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/hooks/useResourceBaseUrl.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Roles/Role.tsx
  packages/amplication-client/src/Roles/RoleList.tsx
  packages/amplication-client/src/Roles/RolesPage.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceNameLink.tsx
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/Workspaces/hooks/useProjectSelector.ts
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/routes/resourceSettingsRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
Labels: app:amplication-client

#8957 feat(client):use baseUrl
  packages/amplication-client/src/Assistant/OnboardingWithJovu.tsx
  packages/amplication-client/src/CommandPalette/CommandPalette.tsx
  packages/amplication-client/src/Components/CreateResourceButtonItem.tsx
  packages/amplication-client/src/Entity/Entity.tsx
  packages/amplication-client/src/Entity/EntityERD/nodes/modelNode.tsx
  packages/amplication-client/src/Entity/EntityField.tsx
  packages/amplication-client/src/Entity/EntityFieldLinkList.tsx
  packages/amplication-client/src/Entity/EntityFieldListItem.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-client/src/Entity/EntityRelationFieldsChart.tsx
  packages/amplication-client/src/Entity/ImportPrismaSchema/ImportSchemaSuccess.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Roles/RoleList.tsx
  packages/amplication-client/src/Workspaces/ResourceNameLink.tsx
  packages/amplication-client/src/routes/resourceEntitiesRoutes.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-client/src/util/useProjectBaseUrl.tsx
  packages/amplication-client/src/util/useResourceBaseUrl.tsx
Labels: app:amplication-client

#8958 feat(client):use baseUrl
  packages/amplication-client/src/ModuleActions/DeleteModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionLinkList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionListItem.tsx
  packages/amplication-client/src/ModuleActions/NewModuleAction.tsx
  packages/amplication-client/src/ModuleDto/DeleteModuleDto.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoLinkList.tsx
  packages/amplication-client/src/ModuleDto/ModuleDtoListItem.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDto.tsx
  packages/amplication-client/src/ModuleDto/NewModuleDtoEnum.tsx
  packages/amplication-client/src/ModuleDto/hooks/useModuleDto.tsx
  packages/amplication-client/src/Modules/Module.tsx
  packages/amplication-client/src/Modules/ModuleListItem.tsx
  packages/amplication-client/src/Modules/ModuleNavigationList.tsx
  packages/amplication-client/src/Modules/ModuleNavigationListItem.tsx
  packages/amplication-client/src/Modules/ModuleOverview.tsx
  packages/amplication-client/src/Modules/NewModule.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Project/ProjectSettingsPage.tsx
  packages/amplication-client/src/Resource/break-the-monolith/BreakTheMonolith.tsx
  packages/amplication-client/src/Resource/create-message-broker/CreateMessageBroker.tsx
  packages/amplication-client/src/Resource/create-plugin-repository/CreatePluginRepository.tsx
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizardFooter.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
  packages/amplication-client/src/Resource/git/AppGitStatusPanel.tsx
  packages/amplication-client/src/Resource/git/ProjectConfigurationGitSettings.tsx
Labels: app:amplication-client

#8964 feat(client):use dynamic text for the wizard steps
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/ServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/types.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGenerationSettings.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGithubSync.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/interfaces.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service-template.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-onboarding.ts
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
Labels: app:amplication-client

#8961 feat(client):use baseUrl
  packages/amplication-client/src/Modules/ModuleNavigationListItem.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Resource/APIsTile.tsx
  packages/amplication-client/src/Resource/AddResourceFunctionalityButton.tsx
  packages/amplication-client/src/Resource/EntitiesTile.tsx
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Resource/ServicesTile.tsx
  packages/amplication-client/src/Resource/TopicsTile.tsx
  packages/amplication-client/src/Resource/ViewCodeViewTile.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/ServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/types.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGenerationSettings.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGithubSync.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/interfaces.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service-template.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-onboarding.ts
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/OnBoardingBuildPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangeContent.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesNotification.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/util/useProjectBaseUrl.tsx
  packages/amplication-client/src/util/useResourceBaseUrl.tsx
Labels: app:amplication-client

#8960 feat(client):use baseUrl
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Modules/ModuleNavigationListItem.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Resource/APIsTile.tsx
  packages/amplication-client/src/Resource/AddResourceFunctionalityButton.tsx
  packages/amplication-client/src/Resource/EntitiesTile.tsx
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Resource/ServicesTile.tsx
  packages/amplication-client/src/Resource/TopicsTile.tsx
  packages/amplication-client/src/Resource/ViewCodeViewTile.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/ServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/types.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGenerationSettings.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateGithubSync.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceName.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/interfaces.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service-template.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-create-service.ts
  packages/amplication-client/src/Resource/create-resource/wizard-types/wizard-type-onboarding.ts
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsList.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsListItem.tsx
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/Topics/Topic.tsx
  packages/amplication-client/src/Topics/TopicList.tsx
  packages/amplication-client/src/User/CompletePreviewSignupButton.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/ChangesPage.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
  packages/amplication-client/src/VersionControl/LastCommit.tsx
  packages/amplication-client/src/VersionControl/OnBoardingBuildPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangeContent.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesNotification.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListItem.tsx
  packages/amplication-client/src/Workspaces/WorkspaceFooter.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/util/paths.ts
  packages/amplication-client/src/util/useProjectBaseUrl.tsx
  packages/amplication-client/src/util/useResourceBaseUrl.tsx
Labels: app:amplication-client

#8969 feat(client):resource type group - split commit to two groups of resource types
  .vscode/settings.json
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/Resource/create-resource/wizardResourceSchema.ts
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesList.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
  packages/amplication-client/src/Workspaces/ResourceGitRepo.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
Labels: app:amplication-client

#8970 Feat/filter commit list by resource type group
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/commit/commit.service.ts
  packages/amplication-server/src/core/commit/dto/CommitWhereInput.ts
  packages/amplication-server/src/core/commit/dto/FindManyCommitArgs.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8968 feat(server):resource type group - split commit to two groups of resource types
  .vscode/settings.json
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ApplyChangesNextSteps.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/create-resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceCodeGeneration.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/Resource/create-resource/wizardResourceSchema.ts
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/CommitButton.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/CreateCommitStrategyButtonItem.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesList.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
  packages/amplication-client/src/Workspaces/ResourceGitRepo.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/commit/commit.service.ts
  packages/amplication-server/src/core/commit/dto/CommitWhereInput.ts
  packages/amplication-server/src/core/commit/dto/FindManyCommitArgs.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/constants.ts
  packages/amplication-server/src/core/resource/dto/CommitCreateInput.ts
  packages/amplication-server/src/core/resource/dto/EnumResourceTypeGroup.ts
  packages/amplication-server/src/core/resource/dto/PendingChangesDiscardInput.ts
  packages/amplication-server/src/core/resource/dto/PendingChangesFindInput.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8971 Feat/create service from template
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.scss
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/commit/commit.resolver.spec.ts
  packages/amplication-server/src/core/commit/commit.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/project/project.resolver.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/dto/CreateServiceFromTemplateArgs.ts
  packages/amplication-server/src/core/resource/dto/ServiceFromTemplateCreateInput.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8974 feat(server):use dynamic dir name for services created with templates
  packages/amplication-client/src/Project/ProjectList.scss
  packages/amplication-client/src/Project/ProjectListItem.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/resourceSettings/DirectoriesServiceSettingsForm.tsx
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-client, app:amplication-server

#8972 Feat/link service to template
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Chip/Chip.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Platform/ServiceTemplateChip.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Project/ProjectList.scss
  packages/amplication-client/src/Project/ProjectListItem.tsx
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/Resource/resourceSettings/DirectoriesServiceSettingsForm.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/ResourceListDataColumns.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/core/serviceSettings/dto/ServiceSettings.ts
  packages/amplication-server/src/core/serviceSettings/dto/ServiceTemplateVersion.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8975 feat(client):create service from template dialog
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/util/useUrlQuery.tsx
Labels: app:amplication-client

#8977 chore(server):remove unused migration code
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.module.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#8980 fix(client)):service template fixes
  packages/amplication-client/src/Assistant/AskJovuButton.tsx
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Components/BetaFeatureTag.tsx
  packages/amplication-client/src/Components/PremiumFeatureHeader.scss
  packages/amplication-client/src/Components/PremiumFeatureHeader.tsx
  packages/amplication-client/src/Modules/ModulesToolbar.tsx
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/PrivatePluginsFeature.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Resource/create-resource/wizard-pages/CreateServiceNextSteps.tsx
  packages/amplication-client/src/VersionControl/BuildPage.tsx
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/WorkspaceHeader/PlatformBetaContent.tsx
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8987 fix(server):clone default settings before merge
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
Labels: app:amplication-server

#8995 feat(client):add settings fields on private plugin version
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionCodeField.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.scss
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.tsx
Labels: app:amplication-client

#8992 feat(client):private plugin version
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.scss
  libs/ui/design-system/src/lib/components/VersionTag/VersionTag.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/InstalledPluginVersionIndicator.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Plugins/queries/pluginsQueries.ts
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.scss
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionCodeField.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.scss
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionList.tsx
  packages/amplication-client/src/PrivatePluginVersion/hooks/usePrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/queries/privatePluginVersionQueries.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.scss
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
Labels: lib:ui-design-system, app:amplication-client
