Repository amplication/amplication, pull requests merged in 2024-11, with the labels that each got.

#9196 feat(client):update text on login screen
  packages/amplication-client/src/Layout/WelcomePage.tsx
  packages/amplication-client/src/User/Login.tsx
  packages/amplication-client/src/User/constants.ts
Labels: app:amplication-client

#9225 feat(client):add custom properties filter
  libs/ui/design-system/src/lib/components/ColorPicker/useTagColorStyle.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueLink.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyValueMultiSelect.tsx
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: lib:ui-design-system, app:amplication-client

#9223 feat(server):filter resource properties
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/ColorPicker/useTagColorStyle.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueLink.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyValueMultiSelect.tsx
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/customProperty/dto/CustomPropertyWhereInput.ts
  packages/amplication-server/src/core/project/dto/ProjectWhereInput.ts
  packages/amplication-server/src/core/resource/dto/FindManyResourceArgs.ts
  packages/amplication-server/src/core/resource/dto/ResourceListRelationFilter.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInputWithPropertiesFilter.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/dto/TeamWhereInput.ts
  packages/amplication-server/src/dto/JsonPathStringFilter.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.spec.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9216 feat(client):reorder data grid cols
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/ColorPicker/ColorPickerField.tsx
  libs/ui/design-system/src/lib/components/ColorPicker/useTagColorStyle.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/OwnerSelector.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueLink.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyValueMultiSelect.tsx
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-component/CreateComponent.scss
  packages/amplication-client/src/Resource/create-component/CreateComponent.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/ComponentQueries.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-prisma-db/prisma/migrations/20241102122604_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/customProperty/dto/CustomPropertyWhereInput.ts
  packages/amplication-server/src/core/project/dto/ProjectWhereInput.ts
  packages/amplication-server/src/core/resource/constants.ts
  packages/amplication-server/src/core/resource/dto/EnumResourceType.ts
  packages/amplication-server/src/core/resource/dto/FindManyResourceArgs.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/dto/ResourceListRelationFilter.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInputWithPropertiesFilter.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/dto/TeamWhereInput.ts
  packages/amplication-server/src/dto/JsonPathStringFilter.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.spec.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9214 feat(client): show resource properties on catalog
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/ColorPicker/ColorPickerField.tsx
  libs/ui/design-system/src/lib/components/ColorPicker/useTagColorStyle.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/OwnerSelector.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValue.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueLink.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyValueLink.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyValueText.tsx
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/Resource/create-component/CreateComponent.scss
  packages/amplication-client/src/Resource/create-component/CreateComponent.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/Workspaces/queries/ComponentQueries.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-prisma-db/prisma/migrations/20241102122604_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/customProperty/dto/CustomPropertyWhereInput.ts
  packages/amplication-server/src/core/project/dto/ProjectWhereInput.ts
  packages/amplication-server/src/core/resource/constants.ts
  packages/amplication-server/src/core/resource/dto/EnumResourceType.ts
  packages/amplication-server/src/core/resource/dto/FindManyResourceArgs.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/dto/ResourceListRelationFilter.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInputWithPropertiesFilter.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/team/dto/TeamWhereInput.ts
  packages/amplication-server/src/dto/JsonPathStringFilter.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.spec.ts
  packages/amplication-server/src/prisma/JsonPathStringFilterToPrismaFilter.ts
  packages/amplication-server/src/schema.graphql
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/models.ts
Labels: lib:ui-design-system, app:amplication-client

#9227 feat(client):improve filter
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils

#9231 feat(server/notification-service): add novu notifications
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/tech-debt/index.ts
  libs/schema-registry/src/lib/tech-debt/key.ts
  libs/schema-registry/src/lib/tech-debt/value.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.module.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.spec.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resourceVersion/resourceVersion.service.ts
  packages/notification-service/src/app.controller.ts
  packages/notification-service/src/app.service.ts
  packages/notification-service/src/notification-packages/techDebtAlert.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#9233 feat(client/server): add support to pp dev version
  libs/util/git/src/git-client.service.ts
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.tsx
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#9278 feat/allow import schema with existing entities
  libs/ui/design-system/src/lib/components/PanelCollapsible/PanelCollapsible.tsx
  packages/amplication-client/src/VersionControl/PendingChangeDiffEntity.tsx
  packages/amplication-client/src/VersionControl/PendingChangeWithCompare.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
  packages/amplication-server/src/core/prismaSchemaParser/types.ts
  packages/amplication-server/src/util/version.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#9279 Test ci
  libs/ui/design-system/src/lib/components/PanelCollapsible/PanelCollapsible.tsx
  packages/amplication-client/src/VersionControl/PendingChangeDiffEntity.tsx
  packages/amplication-client/src/VersionControl/PendingChangeWithCompare.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/prismaSchemaParser.service.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.spec.ts
  packages/amplication-server/src/core/prismaSchemaParser/schema-utils.ts
  packages/amplication-server/src/core/prismaSchemaParser/types.ts
  packages/amplication-server/src/util/version.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#9277 feat(client):update platform access settings
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Project/ProjectAccessForm.tsx
  packages/amplication-client/src/Project/ProjectPlatformSettingsPage.tsx
  packages/amplication-client/src/Project/useProjectConfigSettingsHook.tsx
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20241110135627_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/project/dto/ProjectUpdateInput.ts
  packages/amplication-server/src/models/Project.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9275 feat(client):catalog owner filter
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Catalog/CatalogDataColumns.tsx
  packages/amplication-client/src/Catalog/OwnerFilter.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Project/ProjectAccessForm.tsx
  packages/amplication-client/src/Project/ProjectPlatformSettingsPage.tsx
  packages/amplication-client/src/Project/useProjectConfigSettingsHook.tsx
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20241110135627_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/OwnershipWhereInput.ts
  packages/amplication-server/src/core/project/dto/ProjectUpdateInput.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
  packages/amplication-server/src/models/Project.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9273 feat(client):catalog resource type filter
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Catalog/CatalogDataColumns.tsx
  packages/amplication-client/src/Catalog/OwnerFilter.tsx
  packages/amplication-client/src/Catalog/ResourceTypeFilter.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Project/ProjectAccessForm.tsx
  packages/amplication-client/src/Project/ProjectPlatformSettingsPage.tsx
  packages/amplication-client/src/Project/useProjectConfigSettingsHook.tsx
  packages/amplication-client/src/Workspaces/queries/projectQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20241110135627_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ownership/dto/OwnershipWhereInput.ts
  packages/amplication-server/src/core/project/dto/ProjectUpdateInput.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
  packages/amplication-server/src/models/Project.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:amplication-client

#9287 feat(client):use a separate section for the dev version
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginDevVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
Labels: app:amplication-client, app:amplication-server

#9309 Release - Merge master back into next after hotfix
  packages/amplication-client/src/Layout/useDataGridColumnFilter.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#9310 Feat/add scaffold service from template method
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/resource/dto/ScaffoldServiceFromTemplateArgs.ts
  packages/amplication-server/src/core/resource/dto/ScaffoldServiceFromTemplateInput.ts
  packages/amplication-server/src/core/resource/serviceTemplate.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/notification-service/.env
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#9322 feat(server):use relations to fetch dsg data
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#9321 fix(client):set private plugin flag based on the catalog
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client

#9320 Feat/code-gen-types-blueprint
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events-params.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9319 Feat/resource-relations
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/SelectField/SelectField.tsx
  libs/ui/design-system/src/lib/icons/amplicationicon.eot
  libs/ui/design-system/src/lib/icons/amplicationicon.svg
  libs/ui/design-system/src/lib/icons/amplicationicon.ttf
  libs/ui/design-system/src/lib/icons/amplicationicon.woff
  libs/ui/design-system/src/lib/icons/amplicationicon.woff2
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events-params.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/BlueprintCircleBadge.tsx
  packages/amplication-client/src/Blueprints/BlueprintList.tsx
  packages/amplication-client/src/Blueprints/BlueprintRelationList.tsx
  packages/amplication-client/src/Blueprints/ResourceSelectField.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Relation/ResourceRelationForm.tsx
  packages/amplication-client/src/Relation/ResourceRelations.tsx
  packages/amplication-client/src/Relation/hooks/useResourceRelations.tsx
  packages/amplication-client/src/Relation/queries/resourceRelationsQueries.ts
  packages/amplication-client/src/Resource/ResourceOverview.tsx
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20241116140223_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/blueprint/dto/BlueprintWhereInput.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/relation/dto/CreateRelationArgs.ts
  packages/amplication-server/src/core/relation/dto/DeleteRelationArgs.ts
  packages/amplication-server/src/core/relation/dto/FindManyRelationArgs.ts
  packages/amplication-server/src/core/relation/dto/Relation.ts
  packages/amplication-server/src/core/relation/dto/RelationCreateInput.ts
  packages/amplication-server/src/core/relation/dto/RelationOrderByInput.ts
  packages/amplication-server/src/core/relation/dto/RelationUpdateInput.ts
  packages/amplication-server/src/core/relation/dto/RelationWhereInput.ts
  packages/amplication-server/src/core/relation/dto/ResourceRelationUpdateInput.ts
  packages/amplication-server/src/core/relation/dto/UpdateRelationArgs.ts
  packages/amplication-server/src/core/relation/dto/UpdateResourceRelationArgs.ts
  packages/amplication-server/src/core/relation/relation.module.ts
  packages/amplication-server/src/core/relation/relation.resolver.ts
  packages/amplication-server/src/core/relation/relation.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
  packages/amplication-server/src/core/resource/resource.module.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/enums/EnumBlockType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
  packages/generator-blueprints/src/utils/dynamic-installation/defaultPlugins.spec.ts
  packages/generator-blueprints/src/utils/dynamic-installation/defaultPlugins.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9327 feat(client):blueprint graph
  packages/amplication-client/src/Blueprints/Blueprint.tsx
  packages/amplication-client/src/Blueprints/BlueprintRelationAddButton.tsx
  packages/amplication-client/src/Blueprints/BlueprintRelationList.scss
  packages/amplication-client/src/Blueprints/BlueprintRelationList.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/BlueprintGraph.scss
  packages/amplication-client/src/Blueprints/BlueprintsGraph/BlueprintGraph.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/GraphControl.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/GraphControls.scss
  packages/amplication-client/src/Blueprints/BlueprintsGraph/GraphControls.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/GraphToolbar.scss
  packages/amplication-client/src/Blueprints/BlueprintsGraph/GraphToolbar.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/edges/simpleRelationEdge.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/helpers.ts
  packages/amplication-client/src/Blueprints/BlueprintsGraph/hooks/useBlueprintGraph.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/layout.ts
  packages/amplication-client/src/Blueprints/BlueprintsGraph/nodes/addRelation.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/nodes/editRelation.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/nodes/modelNode.scss
  packages/amplication-client/src/Blueprints/BlueprintsGraph/nodes/modelNode.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/nodes/modelNodeBase.tsx
  packages/amplication-client/src/Blueprints/BlueprintsGraph/types.ts
Labels: app:amplication-client

#9336 fix(server):trigger alerts for templates
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Catalog/Catalog.scss
  packages/amplication-client/src/Catalog/Catalog.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Catalog/queries/catalogQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/useQueryPagination.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.spec.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/dto/PaginatedQueryResult.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9335 feat(client):use query pagination
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Catalog/Catalog.scss
  packages/amplication-client/src/Catalog/Catalog.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Catalog/queries/catalogQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertList.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/useQueryPagination.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.spec.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/dto/PaginatedQueryResult.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9340 feat(client):common catalog component for project and workspace
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilters.tsx
  packages/amplication-client/src/Catalog/Catalog.tsx
  packages/amplication-client/src/Catalog/CatalogGrid.scss
  packages/amplication-client/src/Catalog/CatalogGrid.tsx
  packages/amplication-client/src/Catalog/OwnerFilter.tsx
  packages/amplication-client/src/Catalog/ProjectFilter.tsx
  packages/amplication-client/src/Catalog/ResourceTypeFilter.tsx
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilters.tsx
  packages/amplication-client/src/Layout/PageContent.scss
  packages/amplication-client/src/Modules/ModulesToolbar.scss
  packages/amplication-client/src/Resource/code-view/CodeViewPage.scss
  packages/amplication-client/src/Workspaces/ResourceList.tsx
Labels: lib:ui-design-system, app:amplication-client

#9285 refactor(client): tooltip feature changed to 14 days
  packages/amplication-client/src/Components/FeatureIndicator.tsx
Labels: app:amplication-client, app:amplication-server

#9341 feat(design-system):create iconPicker
  libs/ui/design-system/.storybook/preview.tsx
  libs/ui/design-system/src/lib/components/Icon/Icon.tsx
  libs/ui/design-system/src/lib/components/IconPicker/IconPicker.scss
  libs/ui/design-system/src/lib/components/IconPicker/IconPicker.stories.tsx
  libs/ui/design-system/src/lib/components/IconPicker/IconPicker.tsx
  libs/ui/design-system/src/lib/components/IconPicker/IconPickerField.tsx
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.css
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.eot
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.svg
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.ttf
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.woff
  libs/ui/design-system/src/lib/custom-icons/amplication-custom-icons.woff2
  libs/ui/design-system/src/lib/custom-icons/package.json
  libs/ui/design-system/src/lib/index.ts
  libs/ui/design-system/src/lib/style/icon.scss
  packages/amplication-client/src/graphqlClient.ts
  packages/amplication-client/src/index.tsx
  tsconfig.base.json
Labels: lib:ui-design-system, app:amplication-client

#9342 Feat/private-plugin-icons
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Icon/Icon.tsx
  libs/ui/design-system/src/lib/components/IconPicker/IconPicker.tsx
  libs/ui/design-system/src/lib/components/IconPicker/constants.ts
  libs/ui/design-system/src/lib/components/VerticalNavigation/VerticalNavigationItem.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Plugins/PluginLogo.scss
  packages/amplication-client/src/Plugins/PluginLogo.tsx
  packages/amplication-client/src/Plugins/PluginLogoGroup.tsx
  packages/amplication-client/src/Plugins/hooks/usePluginCatalog.ts
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/Resource/PluginsTile.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePlugin.ts
  packages/amplication-server/src/core/privatePlugin/dto/PrivatePluginUpdateInput.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9344 feat(client):exclude the project resources from the catalog
  packages/amplication-client/src/Catalog/ResourceTypeFilter.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
Labels: app:amplication-client

#9346 feat(client):exclude the project resources from the catalog
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
Labels: app:amplication-client

#9348 style(client):redesign override project settings
  libs/ui/design-system/src/lib/components/Toggle/Toggle.scss
  packages/amplication-client/src/Resource/git/ServiceConfigurationGitSettings.tsx
  packages/amplication-client/src/Resource/git/ServiceWizardConfigurationGitSettings.tsx
  packages/amplication-client/src/Resource/git/SyncWithGithubPage.tsx
Labels: lib:ui-design-system, app:amplication-client

#9350 fix(git-sync):avoid conflict when pushing code to the private plugins repo, and cleanup after download
  .vscode/launch.json
  ee/packages/git-sync-manager/jest.config.ts
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  libs/util/git/src/git-client.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#9351 fix(bpg):remove filter readPluginStaticFiles
  packages/generator-blueprints/src/utils/read-static-files.ts
Labels: app:generator-blueprints

#9356 feat(server):return plugins from shared platform projects
  packages/amplication-server/src/core/privatePlugin/privatePlugin.module.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceInclude.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#9354 fix(client):update catalog after resource creation
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.module.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceInclude.ts
  packages/amplication-server/src/core/resource/dto/ResourceWhereInput.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client

#9363 Feat/plugin-repo-available-plugins
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/IconPicker/IconPicker.tsx
  libs/ui/design-system/src/lib/components/NavigationHeader/NavigationHeader.scss
  libs/ui/design-system/src/lib/components/NavigationHeader/NavigationHeader.stories.tsx
  libs/ui/design-system/src/lib/components/NavigationHeader/NavigationHeader.tsx
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  libs/util/git/src/git-client.service.spec.ts
  libs/util/git/src/git-client.service.ts
  libs/util/git/src/git-provider.interface.ts
  libs/util/git/src/providers/aws/aws-code-commit.service.ts
  libs/util/git/src/providers/bitbucket/bitbucket.service.ts
  libs/util/git/src/providers/github/github.service.ts
  libs/util/git/src/types.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/PrivatePlugins/AvailableRemotePrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.scss
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/git/dto/objects/EnumGitFolderContentItemType.ts
  packages/amplication-server/src/core/git/dto/objects/GitFolderContent.ts
  packages/amplication-server/src/core/git/dto/objects/GitFolderContentItem.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.module.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:util-git, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9365 feat(server):validate pluginId
  packages/amplication-client/src/PrivatePlugins/AvailableRemotePrivatePluginList.tsx
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.spec.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
Labels: app:amplication-client, app:amplication-server

#9367 fix(client):improve catalog query perf
  packages/amplication-client/src/Catalog/queries/catalogQueries.ts
  packages/amplication-client/src/Layout/MainLayout.scss
  packages/amplication-client/src/Layout/MainLayout.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#9368 perf(client):improve resources and commits queries
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
Labels: app:amplication-client
