Repository amplication/amplication, pull requests merged in 2024-04, with the labels that each got.

#8253 Feat/7713 custom dtos migration
  packages/amplication-server/src/core/workspace/dto/CreateWorkspacesResourcesDefaultCustomActionsMigrationInput.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.module.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#8256 feat(client): hide toggle for disabling default dtos
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
Labels: app:amplication-client

#8267 Feat/7713 custom dto duplicate name error
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-client, app:amplication-server

#8268 feat(server): add module dto validation before deleting an entity
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/module/module.service.ts
Labels: app:amplication-server

#8271 feat(client): add beta indicator for custom actions
  packages/amplication-client/src/Components/BetaFeatureTag.tsx
  packages/amplication-client/src/Modules/ModulesToolbar.tsx
Labels: app:amplication-client

#8276 Fix relative path for importing InputJsonValue in custom DTOs
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-custom-dtos.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#8273 Feat/7713 analytics
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/module/module.module.ts
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.module.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
Labels: app:amplication-server

#8278 fix(server): move custom-actions entitlement validation to base services
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/block/block.util.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.module.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginOrder.service.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.module.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.service.ts
  packages/amplication-server/src/core/topic/topic.module.ts
  packages/amplication-server/src/core/topic/topic.service.ts
Labels: app:amplication-server

#8270 feat: initial changes for adoption of file dataType
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/SelectField/SelectField.scss
  libs/ui/design-system/src/lib/components/SelectField/SelectField.tsx
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/SchemaField.tsx
  packages/amplication-client/src/Entity/constants.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/data-type-to-schema.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-code-gen-types/src/schemas/file.json
  packages/amplication-code-gen-types/src/schemas/index.ts
  packages/amplication-prisma-db/prisma/migrations/20240331203055_add_file_to_enum_data_type/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/enums/EnumDataType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/admin/entity/create-field-input.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/prisma/create-prisma-schema-fields.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8279 fix(server): entitlement validation failed
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/block/block.util.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
Labels: app:amplication-server

#8281 Revert "feat: initial changes for adoption of file dataType"
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/SelectField/SelectField.scss
  libs/ui/design-system/src/lib/components/SelectField/SelectField.tsx
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/SchemaField.tsx
  packages/amplication-client/src/Entity/constants.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/data-type-to-schema.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-code-gen-types/src/schemas/file.json
  packages/amplication-code-gen-types/src/schemas/index.ts
  packages/amplication-prisma-db/prisma/migrations/20240331203055_add_file_to_enum_data_type/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/enums/EnumDataType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/admin/entity/create-field-input.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/prisma/create-prisma-schema-fields.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8277 Release v1.16.0
  packages/amplication-client/src/Components/BetaFeatureTag.tsx
  packages/amplication-client/src/ModuleDto/ModuleDto.tsx
  packages/amplication-client/src/Modules/ModulesToolbar.tsx
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/block/block.util.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/module/module.module.ts
  packages/amplication-server/src/core/module/module.service.spec.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.module.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.module.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.module.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginOrder.service.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.module.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.service.ts
  packages/amplication-server/src/core/topic/topic.module.ts
  packages/amplication-server/src/core/topic/topic.service.ts
  packages/amplication-server/src/core/workspace/dto/CreateWorkspacesResourcesDefaultCustomActionsMigrationInput.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.module.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/services/segmentAnalytics/segmentAnalyticsEventType.types.ts
  packages/data-service-generator/src/server/resource/dto/create-dto-module.ts
  packages/data-service-generator/src/server/resource/dto/custom-types/create-custom-dtos.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8284 chore(dsg): dependencies issue
  packages/amplication-code-gen-types/package.json
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8283 feat: initial changes for adoption of file dataType
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/SelectField/SelectField.scss
  libs/ui/design-system/src/lib/components/SelectField/SelectField.tsx
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/SchemaField.tsx
  packages/amplication-client/src/Entity/constants.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/data-type-to-schema.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-code-gen-types/src/schemas/file.json
  packages/amplication-code-gen-types/src/schemas/index.ts
  packages/amplication-prisma-db/prisma/migrations/20240331203055_add_file_to_enum_data_type/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/enums/EnumDataType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/admin/entity/create-field-input.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/prisma/create-prisma-schema-fields.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8295 Update WelcomePage.tsx
  packages/amplication-client/src/Layout/WelcomePage.tsx
Labels: app:amplication-client

#8304 test(server): fix unit tests for custom and default module DTOs
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
Labels: app:amplication-server

#8309 fix(server): migration-custom-modules
  packages/amplication-code-gen-types/src/code-gen-types.ts
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/module/module.service.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.spec.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.service.ts
  packages/amplication-server/src/core/workspace/dto/CreateWorkspacesResourcesDefaultCustomActionsMigrationInput.ts
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8301 fix(server): issue related to join[]
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.ts
Labels: app:amplication-server

#8299 fix(client): Update-the-login/signup-page
  packages/amplication-client/src/User/constants.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8314 fix(server): issue commit for migration changes
  packages/amplication-server/src/core/block/block.service.ts
Labels: app:amplication-server

#8282 chore(client): open custom actions feature on prod
  packages/amplication-client/.env.production
Labels: app:amplication-client

#8318 Add-custom-actions-notification
  packages/amplication-server/src/core/user/user.service.ts
  packages/notification-service/src/notification-packages/featureAnnouncement.ts
Labels: app:notification-service, app:amplication-server

#8316 feat(dsg): add create main file event
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/plugin-events-params.types.ts
  packages/amplication-code-gen-types/src/plugin-events.types.ts
  packages/amplication-code-gen-types/src/plugins.types.ts
  packages/data-service-generator/src/server/create-main/create-main-file.ts
  packages/data-service-generator/src/server/create-main/main.with-bigint.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8324 fix(client): new module dialog style
  packages/amplication-client/src/Modules/NewModule.scss
  packages/amplication-client/src/Modules/NewModule.tsx
Labels: app:amplication-client

#8325 fix(client): update newModule placeholder
  packages/amplication-client/src/Modules/NewModule.tsx
Labels: app:amplication-client

#8323 Feat/171 chat feature flag
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-server/.env
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/env.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8327 Fix/8312-loc-calc
  packages/amplication-server/src/core/UsageInsights/usageInsights.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/commit/commit.service.ts
Labels: app:amplication-server

#8330 fix(server): update graphql schema generation script to not depend on kafka
  packages/amplication-server/scripts/generate-graphql-schema.ts
Labels: app:amplication-server

#8331 Feat: Jovu stream status
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Assistant/queries/assistantQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/dto/AssistantMessageDelta.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8332 Feat: Disable Jovu when AI-powered features are disabled
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Workspaces/WorkspaceForm.tsx
  packages/amplication-server/src/core/assistant/assistant.service.ts
Labels: app:amplication-client, app:amplication-server

#8317 feat(server):add kafka pubsub for the assistant
  ee/packages/git-sync-manager/src/models.ts
  libs/schema-registry/src/index.ts
  package-lock.json
  package.json
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/Assistant.scss
  packages/amplication-client/src/Assistant/Assistant.tsx
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Assistant/queries/assistantQueries.ts
  packages/amplication-client/src/Workspaces/WorkspaceForm.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-server/.env
  packages/amplication-server/scripts/generate-graphql-schema.ts
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistant.resolver.ts
  packages/amplication-server/src/core/assistant/assistant.service.ts
  packages/amplication-server/src/core/assistant/dto/AssistantMessageDelta.ts
  packages/amplication-server/src/core/assistant/graphqlSubscriptionPubSubKafka.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8334 fix(client): update module name/description
  packages/amplication-client/src/Modules/Module.tsx
Labels: app:amplication-client

#8344 chore(code-gen-types): bump version for release
  packages/amplication-code-gen-types/package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#8333 refactor(server): fix typo in graphql subscription kafka consumer group
  packages/amplication-server/src/core/assistant/graphqlSubscriptionPubSubKafka.service.ts
Labels: app:amplication-server

#8340 refactor(client): update pricing page style
  package-lock.json
  package.json
  packages/amplication-client/public/images/code-with-dotnet-node.svg
  packages/amplication-client/public/images/code-with-node.svg
  packages/amplication-client/src/Purchase/PurchasePage.scss
  packages/amplication-client/src/Purchase/PurchasePage.tsx
  packages/amplication-client/src/Purchase/Question.scss
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#8357 Feat/168 dotnet promote
  libs/ui/design-system/src/lib/components/JumboButton/JumboButton.tsx
  packages/amplication-client/src/VersionControl/Commit.scss
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/DotNetPromoteOptions.scss
  packages/amplication-client/src/VersionControl/DotNetPromoteOptions.tsx
  packages/amplication-client/src/VersionControl/DotNetPromotePage.tsx
  packages/amplication-client/src/VersionControl/DotNetPromoteStartupOrEnterpriseIOption.tsx
  packages/amplication-client/src/VersionControl/DotnetPromotePage.scss
  packages/amplication-client/src/assets/images/dotnet-logo.svg
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-client/src/util/analytics-events.types.ts
Labels: lib:ui-design-system, app:amplication-client
