Repository amplication/amplication, pull requests merged in 2024-01, with the labels that each got.

#7723 Fix: update block query names to camelCase
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionLinkList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActions.tsx
  packages/amplication-client/src/ModuleActions/hooks/useModuleAction.tsx
  packages/amplication-client/src/ModuleActions/queries/moduleActionsQueries.ts
  packages/amplication-client/src/Modules/Module.tsx
  packages/amplication-client/src/Modules/ModuleList.tsx
  packages/amplication-client/src/Modules/hooks/useModule.tsx
  packages/amplication-client/src/Modules/queries/modulesQueries.ts
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Plugins/queries/pluginsQueries.ts
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/ServiceConnections/ServiceTopics.tsx
  packages/amplication-client/src/ServiceConnections/hooks/useServiceConnection.ts
  packages/amplication-client/src/ServiceConnections/queries/serviceTopicsQueries.ts
  packages/amplication-client/src/ServiceConnections/topics/TopicsList.tsx
  packages/amplication-client/src/ServiceConnections/topics/queries/topicsQueries.ts
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/Topics/Topic.tsx
  packages/amplication-client/src/Topics/TopicList.tsx
  packages/amplication-client/src/Topics/hooks/useTopic.tsx
  packages/amplication-client/src/VersionControl/PendingChangeServiceTopics.tsx
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/module/module.resolver.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.resolver.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.resolver.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.resolver.ts
  packages/amplication-server/src/core/topic/topic.resolver.ts
  packages/amplication-server/src/schema.graphql
Labels: app:local-data-service-generator-controller, app:data-service-generator, app:amplication-client, app:amplication-server

#7728 feat(amplication): update models
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7725 merge user settings with plugin settings + fix plugin install bug
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
Labels: app:amplication-client

#7729 fix installed plugins refresh
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
Labels: app:amplication-client

#7733 fix(client): HF back to segment analytics
  packages/amplication-client/.env.production
  packages/amplication-client/src/util/analytics.ts
Labels: app:amplication-client

#7732 cancel merge settings
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/blockType.service.spec.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
Labels: app:amplication-server

#7734 Chore: Merge master backward into next
  packages/amplication-client/.env.production
  packages/amplication-client/src/util/analytics.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#7704 chore(db): add data migration to fix non searchable Id entity fields
  packages/amplication-prisma-db/prisma/manual-data-migrations/20231228_fix_entity_field_id_searchable.sql
Labels: lib:amplication-prisma-db, app:amplication-git-push-webhook-service, app:amplication-server

#7735 fix pluginId bug
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
Labels: app:amplication-client

#7736 Release v1.12.5
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/ModuleActions/ModuleAction.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionLinkList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionList.tsx
  packages/amplication-client/src/ModuleActions/ModuleActions.tsx
  packages/amplication-client/src/ModuleActions/hooks/useModuleAction.tsx
  packages/amplication-client/src/ModuleActions/queries/moduleActionsQueries.ts
  packages/amplication-client/src/Modules/Module.tsx
  packages/amplication-client/src/Modules/ModuleList.tsx
  packages/amplication-client/src/Modules/hooks/useModule.tsx
  packages/amplication-client/src/Modules/queries/modulesQueries.ts
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.scss
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/Plugins/hooks/usePlugins.ts
  packages/amplication-client/src/Plugins/queries/pluginsQueries.ts
  packages/amplication-client/src/ServiceConnections/ServiceConnectionsPage.tsx
  packages/amplication-client/src/ServiceConnections/ServiceTopics.tsx
  packages/amplication-client/src/ServiceConnections/hooks/useServiceConnection.ts
  packages/amplication-client/src/ServiceConnections/queries/serviceTopicsQueries.ts
  packages/amplication-client/src/ServiceConnections/topics/TopicsList.tsx
  packages/amplication-client/src/ServiceConnections/topics/queries/topicsQueries.ts
  packages/amplication-client/src/Topics/NewTopic.tsx
  packages/amplication-client/src/Topics/Topic.tsx
  packages/amplication-client/src/Topics/TopicList.tsx
  packages/amplication-client/src/Topics/hooks/useTopic.tsx
  packages/amplication-client/src/VersionControl/PendingChangeServiceTopics.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/manual-data-migrations/20231228_fix_entity_field_id_searchable.sql
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/block/blockType.service.spec.ts
  packages/amplication-server/src/core/block/blockType.service.ts
  packages/amplication-server/src/core/module/module.resolver.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.resolver.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.resolver.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/serviceTopics/serviceTopics.resolver.ts
  packages/amplication-server/src/core/topic/topic.resolver.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/admin/create-dotenv.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/server/create-dotenv.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
  packages/data-service-generator/src/utils/dotenv.spec.ts
  packages/data-service-generator/src/utils/dotenv.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7709 Feat(server+client): create preview account type with auto-generated workspace project and service
  ee/packages/git-sync-manager/src/models.ts
  libs/util/billing-types/src/lib/billing-plan.types.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/User/SignupPreviewAccount.tsx
  packages/amplication-client/src/User/UserQueries.ts
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/Workspaces/WorkspaceOverview.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20231228105736_add_preview_account_type/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20231228141637_add_preview_account_email/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240102082053_add_new_subscription_plan_preview_break_monolith/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/account/account.resolver.spec.ts
  packages/amplication-server/src/core/account/account.service.spec.ts
  packages/amplication-server/src/core/auth/IsWorkEmail.ts
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/dto/EnumPreviewAccountType.ts
  packages/amplication-server/src/core/auth/dto/SignupPreviewAccountArgs.ts
  packages/amplication-server/src/core/auth/dto/SignupPreviewAccountInput.ts
  packages/amplication-server/src/core/auth/github.util.ts
  packages/amplication-server/src/core/auth/publicDomains.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/subscription/dto/EnumSubscriptionPlan.ts
  packages/amplication-server/src/core/user/user.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/models/Account.ts
  packages/amplication-server/src/models/AuthPreviewAccount.ts
  packages/amplication-server/src/models/index.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types

#7739 fix(server): add app as reserved word
  packages/amplication-server/src/core/entity/reservedNames.ts
Labels: app:amplication-server

#7743 fix(gpt-gateway): application logger
  packages/gpt-gateway/src/main.ts
Labels: app:gpt-gateway

#7746 docs(gpt-gateway): adding documentation
  packages/gpt-gateway/README.md
  packages/gpt-gateway/docs/HLD.png
  packages/gpt-gateway/docs/db-model.png
Labels: app:gpt-gateway

#7681 chore(client): align port configuration admin ui
  packages/data-service-generator/src/admin/static/Dockerfile
  packages/data-service-generator/src/admin/static/configuration/nginx.conf
Labels: app:local-data-service-generator-controller, lib:ui-design-system, app:data-service-generator, app:gpt-gateway, app:amplication-client

#7737 chore(server): update stigg sdk version
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7757 chore: add missing models.ts field
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7753 Fix(server): update default actions on relation type change
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types

#7748 refactor(server+client): analytics for preview user
  packages/amplication-client/src/Components/UserBadge.tsx
  packages/amplication-client/src/Profile/ProfileForm.tsx
  packages/amplication-client/src/Profile/accountQueries.ts
  packages/amplication-server/src/core/account/account.service.ts
  packages/amplication-server/src/core/user/user.service.spec.ts
  packages/amplication-server/src/core/user/user.service.ts
Labels: app:amplication-client, app:amplication-server

#7756 Feat(client): preview account limitations UI
  libs/util/billing-types/src/lib/billing-feature.types.ts
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/LicenseIndicatorContainer.scss
  packages/amplication-client/src/Components/LicenseIndicatorContainer.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/NewEntityField.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Roles/NewRole.tsx
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceSelectorList.tsx
  packages/amplication-client/src/Workspaces/hooks/useUpgradeButtonData.ts
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#7769 fix(util-logging): issue related to double error logs recorded
  libs/util/logging/src/lib/logging.spec.ts
  libs/util/logging/src/lib/logging.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:util-nestjs-logging, lib:util-logging, lib:util-git, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server, app:amplication-plugin-api

#7751 Feat(server): preview account limitations
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:billing-types

#7771 chore(gpt-gateway-admin): avoid caching project install target to avoid cache issues
  packages/gpt-gateway-admin/project.json
Labels: app:gpt-gateway-admin

#7745 fix(gpt-gateway): issue related to wrong deserialisation of conversation start events
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/ai-conversion-complete/index.ts
  libs/schema-registry/src/lib/ai-conversion-complete/key.ts
  libs/schema-registry/src/lib/ai-conversion-complete/value.ts
  libs/schema-registry/src/lib/ai-conversion-start/index.ts
  libs/schema-registry/src/lib/ai-conversion-start/key.ts
  libs/schema-registry/src/lib/ai-conversion-start/value.ts
  packages/gpt-gateway/src/conversationType/conversationType.service.ts
  packages/gpt-gateway/src/dto/MessageParam.ts
  packages/gpt-gateway/src/dto/StartConversationInput.ts
  packages/gpt-gateway/src/kafka/kafka.controller.ts
  packages/gpt-gateway/src/template/dto/ProcessTemplateArgs.ts
  packages/gpt-gateway/src/template/dto/ProcessTemplateInput.ts
  packages/gpt-gateway/src/template/template.service.spec.ts
  packages/gpt-gateway/src/template/template.service.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7775 chore(gpt-gateway-admin): add conversation trigger through graphql for debugging purposes
  packages/gpt-gateway-admin/.env
  packages/gpt-gateway-admin/src/pages/Dashboard.tsx
  packages/gpt-gateway/src/conversationType/conversationType.resolver.ts
  packages/gpt-gateway/src/conversationType/conversationType.service.ts
  packages/gpt-gateway/src/conversationType/dto/GetConversation.dto.ts
  packages/gpt-gateway/src/conversationType/dto/GetConversationInput.dto.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server, app:gpt-gateway-admin

#7780 fix(server): remove redundant code
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#7778 chore: update contact us email to a new link
  packages/amplication-client/src/ModuleActions/ModuleActionsDisabled.tsx
  packages/amplication-server/.env
Labels: app:amplication-client, app:amplication-server

#7781 feat(git): include service-name in generated PRs
  ee/packages/git-sync-manager/src/pull-request/pull-request.service.ts
  libs/util/git/src/git-client.service.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7787 refactor(server): update admin-ui settings for preview account to false
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#7791 fix(dsg): remove the logic that removes the action on the service when the user disabled it
  packages/data-service-generator/src/server/resource/service/create-service.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7792 fix(dsg): use the right logger
  packages/data-service-generator/src/server/resource/service/create-service.ts
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7799 fix(client):remove duplicate form component
  libs/ui/design-system/src/lib/components/Form/Form.scss
  libs/ui/design-system/src/lib/components/Form/Form.stories.tsx
  libs/ui/design-system/src/lib/components/Form/Form.tsx
  libs/ui/design-system/src/lib/components/Form/FormHeader.scss
  libs/ui/design-system/src/lib/components/Form/FormHeader.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Components/Form.scss
  packages/amplication-client/src/Components/Form.tsx
  packages/amplication-client/src/Entity/EntityFieldForm.tsx
  packages/amplication-client/src/Entity/EntityForm.tsx
  packages/amplication-client/src/Entity/EntityRelationFieldsChart.tsx
  packages/amplication-client/src/Entity/RelatedFieldDialog.tsx
  packages/amplication-client/src/ModuleActions/ModuleActionForm.tsx
  packages/amplication-client/src/Modules/ModuleForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
  packages/amplication-client/src/Roles/RoleForm.tsx
  packages/amplication-client/src/ServiceConnections/ServiceTopicsForm.tsx
  packages/amplication-client/src/Topics/TopicForm.tsx
  packages/amplication-client/src/User/Login.tsx
Labels: lib:ui-design-system, app:amplication-client

#7805 fix: discard pending changes
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
Labels: lib:amplication-prisma-db, app:amplication-git-push-webhook-service, app:amplication-server

#7806 fix(server):do not pull the entities list for other resources
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:amplication-server

#7796 feat: add proper info while repository naming
  libs/util/git/src/git.constants.ts
  libs/util/git/src/providers/github/github.service.ts
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/WizardGitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/constants.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server

#7808 fix(DSG): map methods names by context entityActionsMap values.
  packages/data-service-generator/src/server/resource/grpc-controller/create-grpc-controller.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7809 fix(code-gen-types): add entityActions field to context
  packages/amplication-code-gen-types/package.json
  packages/amplication-code-gen-types/src/plugins.types.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7793 feat(gpt-gateway): add actionid to ai conversation topics
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/ai-conversion-complete/value.ts
  libs/schema-registry/src/lib/ai-conversion-start/value.ts
  packages/amplication-prisma-db/prisma/migrations/20240110135527_add_break_the_monolith_tables/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/gpt-gateway/src/conversationType/conversationType.resolver.ts
  packages/gpt-gateway/src/conversationType/conversationType.service.ts
  packages/gpt-gateway/src/conversationType/dto/GetConversation.dto.ts
  packages/gpt-gateway/src/kafka/kafka.controller.ts
  packages/gpt-gateway/src/kafka/kafka.producer.service.ts
  packages/gpt-gateway/src/kafka/topics.ts
Labels: lib:schema-registry, lib:amplication-prisma-db, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#7794 feat(server): add btm mutation and integration with `gpt-gateway`
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20240111131816_btm_to_user_action_type_enum/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ai/__tests__/resource.mock.ts
  packages/amplication-server/src/core/ai/ai.controller.ts
  packages/amplication-server/src/core/ai/ai.module.ts
  packages/amplication-server/src/core/ai/ai.resolver.ts
  packages/amplication-server/src/core/ai/ai.service.spec.ts
  packages/amplication-server/src/core/ai/ai.service.ts
  packages/amplication-server/src/core/ai/constants.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.spec.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.ts
  packages/amplication-server/src/core/ai/prompt-manager.types.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/userAction/types.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7816 fix(client): preview account tooltips
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/Components/LicenseIndicatorContainer.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#7804 Feat(client+server): implement choose monolith to break
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/ImportPrismaSchema/queries.ts
  packages/amplication-client/src/Resource/preview-pages/breaking-the-monolith/BreakingTheMonolithOptions.scss
  packages/amplication-client/src/Resource/preview-pages/breaking-the-monolith/BreakingTheMonolithOptionsPage.tsx
  packages/amplication-client/src/Resource/preview-pages/breaking-the-monolith/monolith-options.ts
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceRoutes.tsx
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/dbSchemaImport/dbSchemaImport.resolver.ts
  packages/amplication-server/src/core/dbSchemaImport/dbSchemaImport.service.spec.ts
  packages/amplication-server/src/core/dbSchemaImport/dbSchemaImport.service.ts
  packages/amplication-server/src/core/dbSchemaImport/dto/CreateEntitiesFromPredefinedSchemaArgs.ts
  packages/amplication-server/src/core/dbSchemaImport/dto/CreateEntitiesFromPredefinedSchemaInput.ts
  packages/amplication-server/src/core/dbSchemaImport/dto/EnumSchemaNames.ts
  packages/amplication-server/src/core/dbSchemaImport/predefinedSchemes/calDotCom/cal.com.prisma
  packages/amplication-server/src/core/dbSchemaImport/predefinedSchemes/calDotCom/calDotCom.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7810 Feat(server+client): preview account complete signup
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Components/CompleteSignupDialog.scss
  packages/amplication-client/src/Components/CompleteSignupDialog.tsx
  packages/amplication-client/src/User/UserQueries.ts
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/models/AuthPreviewAccount.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7825 redirect auth0 signup to welcome page on Amplication
  packages/amplication-server/src/core/auth/auth.controller.ts
  packages/amplication-server/src/core/auth/auth.service.ts
Labels: app:amplication-server

#7827 fix(server): business email unclear error message
  packages/amplication-server/src/core/auth/IsWorkEmail.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/dto/SignupPreviewAccountInput.ts
Labels: app:amplication-server

#7832 fix(server): send git organization name and not repo name
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#7836 fix(server): can invite member claculation
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7822 chore(server): update prompt input and output types
  packages/amplication-server/src/core/ai/prompt-manager.service.spec.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.ts
  packages/amplication-server/src/core/ai/prompt-manager.types.ts
Labels: app:amplication-server

#7823 chore(server): persists prompt results into database
  packages/amplication-prisma-db/prisma/migrations/20240116160106_add_description_btm_resource_recommendation/migration.sql
  packages/amplication-prisma-db/prisma/migrations/20240117110433_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/ai/ai.module.ts
  packages/amplication-server/src/core/ai/ai.service.spec.ts
  packages/amplication-server/src/core/ai/ai.service.ts
  packages/amplication-server/src/core/ai/btm-manager.service.spec.ts
  packages/amplication-server/src/core/ai/btm-manager.service.ts
  packages/amplication-server/src/core/ai/errors/ai-bad-format-response.error.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.spec.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.ts
  packages/amplication-server/src/core/ai/prompt-manager.types.ts
  packages/amplication-server/src/models/BtmRecommendation/BtmEntityRecommendation.ts
  packages/amplication-server/src/models/BtmRecommendation/BtmRecommendation.ts
  packages/amplication-server/src/models/BtmRecommendation/BtmResourceRecommendation.ts
  packages/amplication-server/src/models/index.ts
Labels: lib:amplication-prisma-db, app:amplication-git-push-webhook-service, app:amplication-server

#7834 feat(server): add `btmRecommendationModelChanges` query for client recommendation collection
  jest.preset.js
  packages/amplication-prisma-db/prisma/migrations/20240118110114_add_original_entity_id_to_btm_entity/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/ai/ai.resolver.ts
  packages/amplication-server/src/core/ai/ai.service.spec.ts
  packages/amplication-server/src/core/ai/ai.service.ts
  packages/amplication-server/src/core/ai/ai.types.ts
  packages/amplication-server/src/core/ai/btm-manager.service.spec.ts
  packages/amplication-server/src/core/ai/btm-manager.service.ts
  packages/amplication-server/src/core/ai/dto/btm-entity-recommendation.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-recommendation-model-changes-args.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-recommendation-model-changes-input.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-recommendation-model-changes.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-recommendation.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-resource-recommendation.dto.ts
  packages/amplication-server/src/core/ai/dto/index.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.spec.ts
  packages/amplication-server/src/core/ai/prompt-manager.service.ts
  packages/amplication-server/src/core/ai/prompt-manager.types.ts
  packages/amplication-server/src/models/index.ts
  packages/amplication-server/src/schema.graphql
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7842 refactor(server): mutation and queries for ai recommendation into more generic ones
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/ai/ai.resolver.ts
  packages/amplication-server/src/core/ai/ai.service.spec.ts
  packages/amplication-server/src/core/ai/ai.service.ts
  packages/amplication-server/src/core/ai/dto/ai-recommendation-args.dto.ts
  packages/amplication-server/src/core/ai/dto/ai-recommendation-input.dto.ts
  packages/amplication-server/src/core/ai/dto/ai-recommendations.dto.ts
  packages/amplication-server/src/core/ai/dto/btm-recommendation-model-changes-args.dto.ts
  packages/amplication-server/src/core/ai/dto/index.ts
  packages/amplication-server/src/core/ai/dto/trigger-ai-recommendations.dto.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-pull-request-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils

#7838 refactor(client+server): update work email signup flow
  ee/packages/git-sync-manager/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Layout/WelcomePage.scss
  packages/amplication-client/src/Layout/WelcomePage.tsx
  packages/amplication-client/src/User/AuthWithWorkEmail.scss
  packages/amplication-client/src/User/AuthWithWorkEmail.tsx
  packages/amplication-client/src/User/Login.scss
  packages/amplication-client/src/User/Login.tsx
  packages/amplication-client/src/User/SignInForm.tsx
  packages/amplication-client/src/User/SignupPreviewAccount.tsx
  packages/amplication-client/src/User/UserQueries.ts
  packages/amplication-client/src/User/constants.ts
  packages/amplication-client/src/User/hooks/useSignupPreviewAccount.ts
  packages/amplication-client/src/models.ts
  packages/amplication-code-gen-types/src/models.ts
  packages/amplication-git-pull-request-service/src/models.ts
  packages/amplication-server/src/core/account/account.resolver.spec.ts
  packages/amplication-server/src/core/account/account.service.spec.ts
  packages/amplication-server/src/core/auth/auth-utils.ts
  packages/amplication-server/src/core/auth/auth.controller.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/core/auth/dto/EnumPreviewAccountType.ts
  packages/amplication-server/src/core/auth/dto/SignupPreviewAccountInput.ts
  packages/amplication-server/src/core/auth/dto/SignupWithBusinessEmailArgs.ts
  packages/amplication-server/src/core/auth/dto/SignupWithBusinessEmailInput.ts
  packages/amplication-server/src/core/auth/github.strategy.spec.ts
  packages/amplication-server/src/core/auth/github.strategy.ts
  packages/amplication-server/src/core/auth/jwt.strategy.ts
  packages/amplication-server/src/core/auth/types.ts
  packages/amplication-server/src/core/billing/billing.service.spec.ts
  packages/amplication-server/src/core/billing/billing.service.ts
  packages/amplication-server/src/core/entity/entity.service.spec.ts
  packages/amplication-server/src/core/moduleAction/moduleAction.service.spec.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/user/user.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.module.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
  packages/amplication-server/src/models/Account.ts
  packages/amplication-server/src/models/AuthPreviewAccount.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:amplication-code-gen-types, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-code-gen-utils, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-request-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin

#7807 chore: put comment in proper place
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
Labels: type: refactor, app:amplication-server

#7843 refactor(server): remove unused dependencies providers and mocks
  packages/amplication-server/src/core/auth/auth.module.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
Labels: app:amplication-server

#7830 fixed bug on mergeAllSettings
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/block/block.util.spec.ts
  packages/amplication-server/src/core/block/block.util.ts
Labels: app:amplication-server

#7853 fix bug/two plugin routes had been render on the same page
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalogItem.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
Labels: app:amplication-client

#7846 fix: there may be no plugins installed
  packages/amplication-client/src/Entity/EntityList.tsx
Labels: app:amplication-client

#7863 chore(server): add chunk size to data migration
  packages/amplication-server/src/core/workspace/workspace.controller.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#7851 feat(client):group pending changes by type
  libs/ui/design-system/src/lib/components/CollapsibleList/CollapsibleList.scss
  libs/ui/design-system/src/lib/components/CollapsibleList/CollapsibleList.stories.tsx
  libs/ui/design-system/src/lib/components/CollapsibleList/CollapsibleList.tsx
  libs/ui/design-system/src/lib/components/CollapsibleList/CollapsibleListItem.scss
  libs/ui/design-system/src/lib/components/CollapsibleList/CollapsibleListItem.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/VersionControl/PendingChange.scss
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/VersionControl/PendingChangeContent.tsx
  packages/amplication-client/src/VersionControl/PendingChangeServiceTopics.tsx
  packages/amplication-client/src/VersionControl/PendingChanges.scss
  packages/amplication-client/src/VersionControl/PendingChanges.tsx
  packages/amplication-client/src/VersionControl/PendingChangesList.scss
  packages/amplication-client/src/VersionControl/PendingChangesList.tsx
  packages/amplication-client/src/VersionControl/PendingChangesListGroup.scss
  packages/amplication-client/src/VersionControl/PendingChangesListGroup.tsx
  packages/amplication-client/src/Workspaces/hooks/usePendingChanges.ts
Labels: lib:ui-design-system, app:amplication-client

#7867 bug(client): remove irrelevant entity count warning message
  libs/util/billing-types/src/lib/billing-feature.types.ts
  packages/amplication-client/src/Entity/EntityList.tsx
Labels: app:amplication-client, app:amplication-server, lib:billing-types

#7688 fix(dsg) remove all ts-ignore and lint ignore comments from template …
  packages/data-service-generator/src/admin/static/src/index.tsx
  packages/data-service-generator/src/admin/static/src/user/RolesOptions.ts
  packages/data-service-generator/src/server/create-main/main.with-bigint.template.ts
  packages/data-service-generator/src/server/resource/controller/controller.base.template.ts
  packages/data-service-generator/src/server/resource/controller/to-many.template.ts
  packages/data-service-generator/src/server/resource/resolver/resolver.base.template.ts
  packages/data-service-generator/src/server/resource/service/service.base.template.ts
  packages/data-service-generator/src/server/resource/service/to-many.template.ts
  packages/data-service-generator/src/server/resource/service/to-one.template.ts
  packages/data-service-generator/src/server/resource/test/controller.spec.template.ts
  packages/data-service-generator/src/server/seed/seed.template.ts
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-server.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, app:data-service-generator

#7870 chore(client): update tooltip text
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#7871 fix(client): do not logout preview account on generate code
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
Labels: app:amplication-client

#7881 fix(server): issue related to unsupported custom domains in auth provider management sdk
  packages/amplication-server/.env
  packages/amplication-server/src/core/auth/auth.service.ts
  packages/amplication-server/src/env.ts
Labels: app:amplication-server

#7882 fix(client): reload localStorage when projectId changed
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
Labels: app:amplication-client

#7885 Fix/break monolith issues
  packages/amplication-client/src/Components/RedesignResourceButton.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/ModelOrganizerToolbar.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
  packages/amplication-client/src/Project/ArchitectureConsole/queries/modelsQueries.ts
Labels: app:amplication-client

#7889 fix(client): localStorage refresh crashed
  packages/amplication-client/src/Project/ArchitectureConsole/hooks/useModelOrganizer.tsx
Labels: app:amplication-client

#7884 test(server): add tests for new business email flow feature
  packages/amplication-server/jest.config.ts
  packages/amplication-server/src/core/auth/auth.service.spec.ts
Labels: app:amplication-server
