Repository amplication/amplication, pull requests merged in 2024-08, with the labels that each got.

#8822 feat:install private plugins
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/OnboardingPreview/OnboardingPreview.tsx
  packages/amplication-client/src/Resource/create-resource/CreateServiceWizard.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/pluginInstallation/dto/PluginInstallation.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/dynamic-package-installation.ts
  packages/data-service-generator/src/models.ts
  packages/data-service-generator/src/register-plugin.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8821 feat(server):only build services
  packages/amplication-server/src/core/project/project.service.ts
Labels: app:amplication-server

#8828 fix(git-sync):throw error when a private plugin is missing
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
Labels: app:git-sync-manager

#8830 fix(server):filter deleted plugin resources
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#8836 Release v3.2.1
  ee/packages/git-sync-manager/src/private-plugin/private-plugin.service.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:git-sync-manager, ignore-from-release-notes, app:amplication-server

#8842 Feat/8703 - Packages
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/.env
  packages/amplication-client/.env.production
  packages/amplication-client/.env.sandbox
  packages/amplication-client/.env.staging
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/hooks/packagesQueries.tsx
  packages/amplication-client/src/Resource/hooks/usePackage.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Resource/resourcePackages/DeletePackage.tsx
  packages/amplication-client/src/Resource/resourcePackages/InstalledPackages.tsx
  packages/amplication-client/src/Resource/resourcePackages/NewPackage.tsx
  packages/amplication-client/src/Resource/resourcePackages/NewPackageCreateButton.tsx
  packages/amplication-client/src/Resource/resourcePackages/Package.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackageForm.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackageList.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackageListItem.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackagesPage.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackagesToolbar.tsx
  packages/amplication-client/src/VersionControl/PendingChange.tsx
  packages/amplication-client/src/env.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20240725115346_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/assistant/functions/types/createService.types.ts
  packages/amplication-server/src/core/block/block.service.ts
  packages/amplication-server/src/core/core.module.ts
  packages/amplication-server/src/core/package/dto/CreatePackageArgs.ts
  packages/amplication-server/src/core/package/dto/DeletePackageArgs.ts
  packages/amplication-server/src/core/package/dto/FindManyPackageArgs.ts
  packages/amplication-server/src/core/package/dto/Package.ts
  packages/amplication-server/src/core/package/dto/PackageCreateInput.ts
  packages/amplication-server/src/core/package/dto/PackageOrderByInput.ts
  packages/amplication-server/src/core/package/dto/PackageUpdateInput.ts
  packages/amplication-server/src/core/package/dto/PackageWhereInput.ts
  packages/amplication-server/src/core/package/dto/UpdatePackageArgs.ts
  packages/amplication-server/src/core/package/enums/EnumPackageStatus.ts
  packages/amplication-server/src/core/package/package.module.ts
  packages/amplication-server/src/core/package/package.resolver.ts
  packages/amplication-server/src/core/package/package.service.ts
  packages/amplication-server/src/enums/EnumBlockType.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8853 feat(build-manager):integration with package-manager
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/code-generation-failure/value.ts
  libs/schema-registry/src/lib/package-manager-create-failure/index.ts
  libs/schema-registry/src/lib/package-manager-create-failure/key.ts
  libs/schema-registry/src/lib/package-manager-create-failure/value.ts
  libs/schema-registry/src/lib/package-manager-create-response/key.ts
  libs/schema-registry/src/lib/package-manager-create-success/index.ts
  libs/schema-registry/src/lib/package-manager-create-success/key.ts
  libs/schema-registry/src/lib/package-manager-create-success/value.ts
  libs/util/code-gen-types/src/code-gen-types.ts
  libs/util/code-gen-types/src/dsg-resource-data.ts
  packages/amplication-build-manager/.env
  packages/amplication-build-manager/src/build-job-handler/build-job-handler.service.ts
  packages/amplication-build-manager/src/build-logger/build-logger.controller.ts
  packages/amplication-build-manager/src/build-logger/build-logger.module.ts
  packages/amplication-build-manager/src/build-logger/build-logger.service.ts
  packages/amplication-build-manager/src/build-runner/build-runner.controller.ts
  packages/amplication-build-manager/src/build-runner/build-runner.module.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/resourcePackages/NewPackage.scss
  packages/amplication-client/src/Resource/resourcePackages/NewPackage.tsx
  packages/amplication-client/src/Resource/resourcePackages/PackageForm.tsx
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types

#8859 Feat/build manager notify gen version
  libs/schema-registry/src/index.ts
  libs/schema-registry/src/lib/code-generation-failure/value.ts
  libs/schema-registry/src/lib/code-generation-notify-version/index.ts
  libs/schema-registry/src/lib/code-generation-notify-version/key.ts
  libs/schema-registry/src/lib/code-generation-notify-version/value.ts
  libs/schema-registry/src/lib/code-generation-success/value.ts
  packages/amplication-build-manager/src/build-runner/build-runner.service.ts
  packages/amplication-server/src/core/build/build.controller.ts
  packages/amplication-server/src/core/build/build.service.ts
Labels: lib:schema-registry, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8849 refactor(client): updated tooltips
  packages/amplication-client/src/UsageInsights/UsageInsightsDataBoxData.ts
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: app:amplication-client, app:amplication-server

#8867 fix(git-sync):remove the file or silently ignore if it does not exist
  libs/util/git/src/providers/git-cli.ts
Labels: lib:schema-registry, lib:util-git, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-server

#8860 Refactor/8840 program class
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events.types.ts
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils
