Repository amplication/amplication, pull requests merged in 2025-01, with the labels that each got.

#9498 feat(client):user page
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Teams/Members/TeamMemberList.tsx
  packages/amplication-client/src/Teams/Roles/TeamRoleList.tsx
  packages/amplication-client/src/Teams/Team.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/User/User.tsx
  packages/amplication-client/src/User/hooks/useUser.ts
  packages/amplication-client/src/User/queries/userQueries.ts
  packages/amplication-client/src/Workspaces/MemberList.tsx
  packages/amplication-client/src/Workspaces/MemberListItem.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/src/core/user/user.resolver.ts
  packages/amplication-server/src/core/user/user.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9500 refactor(server):refactor permissions service
  packages/amplication-server/src/core/assistant/assistant.resolver.ts
  packages/amplication-server/src/core/assistant/assistant.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/dto/AssistantContext.ts
  packages/amplication-server/src/core/permissions/permissions.service.spec.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/core/permissions/validation-functions.ts
  packages/amplication-server/src/decorators/authorizeContext.decorator.ts
  packages/amplication-server/src/guards/gql-auth.guard.ts
Labels: app:amplication-server

#9503 feat(server):validate access on resource level
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/customProperty/customProperty.resolver.ts
  packages/amplication-server/src/core/permissions/permissions.service.spec.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/core/permissions/validation-functions.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/decorators/authorizeContext.decorator.ts
  packages/amplication-server/src/decorators/injectContextValue.decorator.ts
  packages/amplication-server/src/decorators/permissions.decorator.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/guards/gql-auth.guard.spec.ts
  packages/amplication-server/src/guards/gql-auth.guard.ts
Labels: app:amplication-server

#9502 feat(server):validate access per user ID
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/customProperty/customProperty.resolver.ts
  packages/amplication-server/src/core/permissions/permissions.service.spec.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/core/permissions/validation-functions.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/user/user.resolver.ts
  packages/amplication-server/src/decorators/authorizeContext.decorator.ts
  packages/amplication-server/src/decorators/injectContextValue.decorator.ts
  packages/amplication-server/src/decorators/permissions.decorator.ts
  packages/amplication-server/src/enums/AuthorizableOriginParameter.ts
  packages/amplication-server/src/guards/gql-auth.guard.spec.ts
  packages/amplication-server/src/guards/gql-auth.guard.ts
Labels: app:amplication-server

#9506 fix(client):handle errors
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
Labels: app:amplication-client

#9508 feat(client):add user to teams
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Teams/Members/TeamMemberList.tsx
  packages/amplication-client/src/Teams/hooks/useTeams.tsx
  packages/amplication-client/src/Teams/queries/teamsQueries.ts
  packages/amplication-client/src/User/User.tsx
  packages/amplication-client/src/User/UserAddTeams.tsx
  packages/amplication-client/src/User/UserAddTeamsButton.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/team/dto/AddMemberToTeamsArgs.ts
  packages/amplication-server/src/core/team/dto/AddMemberToTeamsInput.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/team/team.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9511 feat:validate permissions
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/Components/FeatureIndicatorContainer.tsx
  packages/amplication-client/src/CustomProperties/CustomProperty.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyList.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyOptions/CustomPropertyOption.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyOptions/CustomPropertyOptionForm.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyOptions/CustomPropertyOptionList.tsx
  packages/amplication-client/src/Project/AddNewProject.tsx
  packages/amplication-client/src/Project/NewProject.tsx
  packages/amplication-client/src/Resource/git/GitActions/ExistingConnectionsMenu.tsx
  packages/amplication-client/src/Teams/Members/TeamMemberList.tsx
  packages/amplication-client/src/Teams/Roles/TeamRoleList.tsx
  packages/amplication-client/src/Teams/Team.tsx
  packages/amplication-client/src/Teams/TeamForm.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/MemberList.tsx
  packages/amplication-client/src/Workspaces/MemberListItem.tsx
  packages/amplication-client/src/Workspaces/hooks/usePermissions.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/project/project.resolver.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.spec.ts
  packages/amplication-server/src/core/workspace/workspace.resolver.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9513 refactor:rename mutation name connectResourceToNewRemoteGitRepository
  packages/amplication-client/src/Resource/git/queries/gitProvider.ts
  packages/amplication-client/src/Resource/git/useResourceGitSettings.ts
  packages/amplication-server/src/core/git/dto/args/CreateGitRepositoryBaseArgs.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
Labels: app:amplication-client, app:amplication-server

#9516 feat(server):enforce git.repo.select
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/project/project.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9515 refactor:update gitRepositoryOverride
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettings.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettingsWithOverride.tsx
  packages/amplication-client/src/Resource/git/useResourceGitSettings.ts
  packages/amplication-server/src/core/git/dto/args/DisconnectGitRepositoryArgs.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/project/project.resolver.ts
  packages/amplication-server/src/core/resource/dto/ResourceUpdateInput.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9519 feat(client):project edit permissions
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldLink.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldText.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFields.tsx
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/ResourceSettings/ResourceSettingsFormFields.tsx
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/project/project.resolver.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9518 feat(client):git permissions
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldLink.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldText.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFields.tsx
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/ResourceGitSyncDetails.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettings.tsx
  packages/amplication-client/src/ResourceSettings/ResourceSettingsFormFields.tsx
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/project/project.resolver.ts
Labels: app:amplication-client, app:amplication-server

#9517 feat(client):useResourcePermissions
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldLink.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldText.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFields.tsx
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActionsWizard.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryForm.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/ResourceGitSyncDetails.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettings.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitRepos/GithubRepos.tsx
  packages/amplication-client/src/Resource/hooks/useResourcePermissions.ts
  packages/amplication-client/src/ResourceSettings/ResourceSettingsFormFields.tsx
  packages/amplication-client/src/Workspaces/hooks/usePermissions.ts
  packages/amplication-client/src/context/resourceContext.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/auth/auth.resolver.spec.ts
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/permissions/permissions.service.ts
  packages/amplication-server/src/core/project/project.resolver.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints, lib:roles-types

#9523 feat(server): refactor createDefaultTeam() to accept multiple teams and roles
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:amplication-server

#9521 feat(client):validate edit platform settings
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/Project/ProjectAccessForm.tsx
  packages/amplication-client/src/Resource/hooks/useResourcePermissions.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9522 feat(client):move delete into resource and enforce permissions
  packages/amplication-client/src/Catalog/CatalogDataColumns.tsx
  packages/amplication-client/src/Platform/ServiceTemplateListDataColumns.tsx
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
Labels: app:amplication-client

#9525 feat(client):validate git select
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.tsx
Labels: app:amplication-client

#9526 feat(server):add permissions validations on all mutations
  libs/util/roles-types/src/lib/roles-permissions.types.ts
  packages/amplication-client/src/ResourceSettings/ResourceSettingsForm.tsx
  packages/amplication-server/src/core/auth/auth.resolver.ts
  packages/amplication-server/src/core/block/blockType.resolver.ts
  packages/amplication-server/src/core/blueprint/blueprint.resolver.ts
  packages/amplication-server/src/core/dbSchemaImport/dbSchemaImport.resolver.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/moduleDto/moduleDto.resolver.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.resolver.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.resolver.ts
  packages/amplication-server/src/core/projectConfigurationSettings/projectConfigurationSettings.resolver.ts
  packages/amplication-server/src/core/relation/relation.resolver.ts
  packages/amplication-server/src/core/resource/resourceBtm.resolver.ts
  packages/amplication-server/src/core/resource/serviceTemplate.resolver.ts
  packages/amplication-server/src/core/resourceRole/resourceRole.resolver.ts
  packages/amplication-server/src/core/resourceSettings/resourceSettings.resolver.ts
  packages/amplication-server/src/core/role/role.resolver.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.resolver.ts
  packages/amplication-server/src/core/team/team.resolver.ts
  packages/amplication-server/src/core/team/team.service.ts
Labels: app:amplication-client, app:amplication-server, lib:roles-types

#9527 feat(client):validate role and team permissions
  packages/amplication-client/src/Roles/Role.tsx
  packages/amplication-client/src/Roles/RoleForm.tsx
  packages/amplication-client/src/Roles/RoleList.tsx
  packages/amplication-client/src/Roles/RolePermissionList.tsx
  packages/amplication-client/src/Teams/TeamList.tsx
  packages/amplication-client/src/User/User.tsx
  packages/amplication-client/src/User/UserAddTeamsButton.tsx
Labels: app:amplication-client

#9534 chore:merge changes from master
  .github/workflows/fork-to-branch.yml
  .github/workflows/nx.template.yml
  .github/workflows/pr-labeler.yml
  README.md
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: app:amplication-client, app:amplication-server

#9539 feat: add beta indicator for roles module
  packages/amplication-client/src/Components/BetaFeatureTag.tsx
  packages/amplication-client/src/CustomProperties/DeleteCustomProperty.tsx
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Roles/RoleList.tsx
  packages/amplication-server/src/core/git/git.provider.service.ts
  packages/amplication-server/src/core/git/git.resolver.ts
  packages/amplication-server/src/core/ownership/ownership.service.spec.ts
  packages/amplication-server/src/core/ownership/ownership.service.ts
Labels: app:amplication-client, app:amplication-server

#9542 perf:improve commits query performance
  packages/amplication-client/src/VersionControl/ChangesPage.tsx
  packages/amplication-client/src/VersionControl/CommitPage.tsx
  packages/amplication-client/src/VersionControl/CommitResourceList.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommitChanges.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/commit/commit.resolver.spec.ts
  packages/amplication-server/src/core/commit/commit.resolver.ts
  packages/amplication-server/src/core/commit/commit.service.spec.ts
  packages/amplication-server/src/core/commit/commit.service.ts
  packages/amplication-server/src/core/permissions/validation-functions.ts
  packages/amplication-server/src/core/user/user.resolver.ts
Labels: app:amplication-client, app:amplication-server

#9543 Version 3.7.1
  packages/amplication-client/src/VersionControl/ChangesPage.tsx
  packages/amplication-client/src/VersionControl/CommitPage.tsx
  packages/amplication-client/src/VersionControl/CommitResourceList.tsx
  packages/amplication-client/src/VersionControl/CommitResourceListItem.tsx
  packages/amplication-client/src/VersionControl/hooks/commitQueries.ts
  packages/amplication-client/src/VersionControl/hooks/useCommitChanges.ts
  packages/amplication-client/src/VersionControl/hooks/useCommits.ts
  packages/amplication-client/src/context/appContext.tsx
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/commit/commit.resolver.spec.ts
  packages/amplication-server/src/core/commit/commit.resolver.ts
  packages/amplication-server/src/core/commit/commit.service.spec.ts
  packages/amplication-server/src/core/commit/commit.service.ts
  packages/amplication-server/src/core/permissions/validation-functions.ts
  packages/amplication-server/src/core/user/user.resolver.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#9544 test(server):update coverage
  packages/amplication-server/jest.config.ts
Labels: app:amplication-server

#9551 Chore/update-axios
  libs/util/dsg-utils/package.json
  package-lock.json
  package.json
  packages/data-service-generator/package.json
  packages/generator-blueprints/package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9558 fix(client):show services based on resource type
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
Labels: app:amplication-client

#9562 fix(server):change condition to handle undefined properties
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/user/user.resolver.ts
Labels: app:amplication-server

#9564 Version 3.7.2
  libs/util/dsg-utils/package.json
  package-lock.json
  package.json
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-server/src/core/build/build.resolver.ts
  packages/amplication-server/src/core/user/user.resolver.ts
  packages/data-service-generator/package.json
  packages/generator-blueprints/package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9559 Upgrade to node 22.13, upgrade other packages
  package.json
  packages/data-service-generator/src/server/package-json/package.json
  packages/data-service-generator/src/server/static/Dockerfile
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-custom-path.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-numeric-user-id.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-auth-jwt.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-disabled-module.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-grpc.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-with-kafka.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-admin-ui.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-default-actions.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-graphql.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service-without-restApi.spec.ts.snap
  packages/data-service-generator/src/tests/__snapshots__/create-data-service.spec.ts.snap
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9556 chore:remove unused cron deps
  .vscode/settings.json
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-git-pull-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9549 style(client):set columns width
  packages/amplication-client/src/Catalog/CatalogDataColumns.tsx
Labels: app:amplication-client

#9570 feat(client):create template from resource
  packages/amplication-client/src/Components/CodeGeneratorImage.tsx
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/ResourceTypeBadge.tsx
  packages/amplication-client/src/Resource/CreateTemplateFromResourceButton.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ComponentOverview.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ResourceOverview.tsx
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-client/src/ServiceTemplate/hooks/useServiceTemplate.ts
  packages/amplication-client/src/VersionControl/PendingChange.tsx
Labels: app:amplication-client

#9572 feat(client):exclude templates from catalog
  packages/amplication-client/src/Catalog/ResourceTypeFilter.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Platform/ServiceTemplateChip.tsx
Labels: app:amplication-client

#9574 feat(client):set repo as private by default
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.scss
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/WizardGitCreateRepo.tsx
Labels: app:amplication-client

#9576 feat(client):reload catalog after creating a resource from template
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/Workspaces/hooks/useResources.ts
  packages/amplication-client/src/context/appContext.tsx
Labels: app:amplication-client

#9578 feat(client):show installed plugins tab first
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginTree.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginEditCodeButton.tsx
Labels: app:amplication-client

#9580 feat(client):improve resource creation UX
  libs/ui/design-system/src/lib/components/SelectField/SelectField.scss
  libs/ui/design-system/src/lib/components/SelectField/SelectField.tsx
  libs/ui/design-system/src/lib/components/Text/Text.tsx
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
  libs/ui/design-system/src/lib/components/TextInput/TextInput.tsx
  libs/ui/design-system/src/lib/style/css-variables.scss
  packages/amplication-client/src/Blueprints/BlueprintSelectField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldLink.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldText.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceFormResourceSettings.tsx
  packages/amplication-client/src/Resource/git/GitActions/RepositoryActions/RepositoryActions.scss
  packages/amplication-client/src/style/mixin.scss
Labels: lib:ui-design-system, app:amplication-client

#9582 feat(client):show resource properties and settings in overview tab
  libs/ui/design-system/src/lib/components/LabelValuePairsBlock/LabelValuePairsBlock.scss
  libs/ui/design-system/src/lib/components/LabelValuePairsBlock/LabelValuePairsBlock.stories.tsx
  libs/ui/design-system/src/lib/components/LabelValuePairsBlock/LabelValuePairsBlock.tsx
  libs/ui/design-system/src/lib/components/LabelValuePairsBlock/LabelValuePairsBlockItem.tsx
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/CustomProperties/CustomPropertyValue.tsx
  packages/amplication-client/src/CustomProperties/ResourcePropertiesBlock.tsx
  packages/amplication-client/src/Relation/ResourceRelationForm.tsx
  packages/amplication-client/src/Relation/ResourceRelations.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ComponentOverview.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ResourceOverview.tsx
Labels: lib:ui-design-system, app:amplication-client

#9584 feat(client):create resource from template
  packages/amplication-client/src/Catalog/Catalog.tsx
  packages/amplication-client/src/Components/CreateResourceButton.tsx
  packages/amplication-client/src/Components/TemplateSelectField.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/Resource/create-resource-page/hooks/useCreateComponent.ts
  packages/amplication-client/src/Resource/create-resource-page/hooks/useCreateResource.ts
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.scss
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplate.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateButton.tsx
  packages/amplication-client/src/ServiceTemplate/NewServiceFromTemplateDialogWithUrlTrigger.tsx
  packages/amplication-client/src/ServiceTemplate/ServiceTemplateServiceList/ServiceTemplateServiceList.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-client/src/ServiceTemplate/hooks/useAvailableServiceTemplates.ts
  packages/amplication-client/src/Workspaces/ResourceList.tsx
  packages/amplication-client/src/routes/resourceTabRoutes.tsx
  packages/amplication-server/src/core/resource/dto/ResourceFromTemplateCreateInput.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-client, app:amplication-server

#9587 migrate(db):date migration for the new template version block
  packages/amplication-prisma-db/prisma/migrations/20250119075149_migrate_templae_version_data/migration.sql
Labels: lib:amplication-prisma-db, app:amplication-git-push-webhook-service, app:amplication-server

#9591 feat(server):add assistant functions for listBlueprints and createBlueprint
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/assistant/assistant.module.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/assistant/dto/EnumAssistantFunctions.ts
  packages/amplication-server/src/core/assistant/functions/createBlueprint.json
  packages/amplication-server/src/core/assistant/functions/index.ts
  packages/amplication-server/src/core/assistant/functions/listBlueprints.json
  packages/amplication-server/src/core/assistant/functions/types/createBlueprint.types.ts
  packages/amplication-server/src/core/assistant/functions/types/index.ts
  packages/amplication-server/src/core/assistant/functions/types/listBlueprints.types.ts
  packages/amplication-server/src/core/blueprint/blueprint.resolver.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.spec.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9598 Feat/create-service-from-blueprint
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/BlueprintAdvancedSettingsForm.tsx
  packages/amplication-client/src/Blueprints/BlueprintList.tsx
  packages/amplication-client/src/Blueprints/BlueprintName.tsx
  packages/amplication-client/src/Catalog/BlueprintFilter.tsx
  packages/amplication-client/src/Catalog/CatalogDataColumns.tsx
  packages/amplication-client/src/Catalog/ResourceTypeFilter.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Platform/ServiceTemplateList.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ResourceOverview.tsx
  packages/amplication-client/src/Resource/resourceSettings/ServiceSettingsPage.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/util/analytics-events.types.ts
  packages/amplication-prisma-db/prisma/migrations/20250124134453_migrate_blueprint_engine_data/migration.sql
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceCreateInput.ts
  packages/amplication-server/src/core/resource/resource.resolver.spec.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9608 feat(server): default-blueprints
  packages/amplication-client/src/Workspaces/hooks/useProjectSelector.ts
  packages/amplication-server/src/core/workspace/constants.ts
  packages/amplication-server/src/core/workspace/workspace.service.spec.ts
  packages/amplication-server/src/core/workspace/workspace.service.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9613 feat(server):jovu plugins
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
Labels: app:amplication-server

#9615 fix(client):set properties requirement
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/getPropertiesValidationSchemaUtil.ts
  packages/amplication-client/src/Resource/ResourceForm.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
Labels: app:amplication-client, app:amplication-server

#9617 feat(server):allow fetching alerts per workspace
  packages/amplication-server/src/core/outdatedVersionAlert/dto/OutdatedVersionAlertWhereInput.ts
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.resolver.ts
Labels: app:amplication-server

#9620 fix(client):move new-resource form to the project context to access the permissions
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:amplication-client

#9623 feat(client):do not show disabled templates
  packages/amplication-client/src/Components/TemplateSelectField.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-client, app:amplication-server

#9626 feat(client):do not show blueprints of disabled templates
  packages/amplication-client/src/Blueprints/BlueprintSelectField.tsx
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-client, app:amplication-server

#9625 feat(design-system):improve tags and select panel
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/ui/design-system/src/lib/components/Tag/Tag.tsx
  libs/ui/design-system/src/lib/components/types.ts
  packages/amplication-client/src/Catalog/BlueprintFilter.tsx
  packages/amplication-client/src/Catalog/ProjectFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
Labels: lib:ui-design-system, app:amplication-client

#9631 feat(design-system):auto open filter when added
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
Labels: lib:ui-design-system, app:amplication-client

#9632 fix(client):select panel label and initialOpen
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanelField.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/ui/design-system/src/lib/index.ts
  packages/amplication-client/src/Blueprints/BlueprintSelectField.tsx
  packages/amplication-client/src/Components/ProjectSelectField.tsx
  packages/amplication-client/src/Components/TemplateSelectField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
Labels: lib:ui-design-system, app:amplication-client

#9635 Fix/delete-user-entity
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-server/src/core/entity/entity.service.ts
Labels: app:amplication-client, app:amplication-server

#9636 feat(client):update mutation name
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginInstallConfirmationDialog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Workspaces/queries/entitiesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9639 fix(client):update-cache
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
Labels: app:amplication-client

#9641 feat(client):improve create resource flow
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
Labels: lib:ui-design-system, app:amplication-client

#9642 Version 3.10.0
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.scss
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanelField.tsx
  libs/ui/design-system/src/lib/components/Tag/Tag.scss
  libs/ui/design-system/src/lib/components/Tag/Tag.tsx
  libs/ui/design-system/src/lib/components/types.ts
  libs/ui/design-system/src/lib/index.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Assistant/hooks/useAssistant.tsx
  packages/amplication-client/src/Blueprints/BlueprintSelectField.tsx
  packages/amplication-client/src/Catalog/BlueprintFilter.tsx
  packages/amplication-client/src/Catalog/ProjectFilter.tsx
  packages/amplication-client/src/Components/ProjectSelectField.tsx
  packages/amplication-client/src/Components/TemplateSelectField.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldMultiSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertiesFormFieldSelect.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.scss
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/Entity/EntityList.tsx
  packages/amplication-client/src/Entity/EntityListItem.tsx
  packages/amplication-client/src/Entity/NewEntity.tsx
  packages/amplication-client/src/Plugins/InstalledPlugins.tsx
  packages/amplication-client/src/Plugins/PluginInstallConfirmationDialog.tsx
  packages/amplication-client/src/Plugins/PluginsCatalog.tsx
  packages/amplication-client/src/Resource/create-resource-page/CreateResourceForm.tsx
  packages/amplication-client/src/ServiceTemplate/hooks/serviceTemplateQueries.ts
  packages/amplication-client/src/VersionControl/DiscardChanges.tsx
  packages/amplication-client/src/Workspaces/queries/entitiesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/src/core/assistant/assistantFunctions.service.spec.ts
  packages/amplication-server/src/core/assistant/assistantFunctions.service.ts
  packages/amplication-server/src/core/entity/constants.ts
  packages/amplication-server/src/core/entity/entity.resolver.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints
