Repository amplication/amplication, pull requests merged in 2025-02, with the labels that each got.

#9644 fix(design-system): Add optional chaining to prevent potential null options error
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
Labels: lib:ui-design-system, app:amplication-client

#9647 Fix/create-plugin-repo
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#9649 fix(server):disconnect repo when overriding project settings
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-server/src/core/git/git.provider.service.ts
Labels: app:amplication-client, app:amplication-server

#9651 fix(client):show validation message for SelectPanelField
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanelField.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanelField.tsx
  libs/ui/design-system/src/lib/components/TextInput/TextInput.scss
Labels: lib:ui-design-system, app:amplication-client

#9653 fix: allow null for non required fields
  packages/amplication-client/src/CustomProperties/getPropertiesValidationSchemaUtil.ts
  packages/amplication-server/src/core/customProperty/customProperty.service.ts
Labels: app:amplication-client, app:amplication-server

#9656 feat(client):view blueprint resources
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilters.tsx
  packages/amplication-client/src/Blueprints/Blueprint.tsx
  packages/amplication-client/src/Catalog/BlueprintFilter.tsx
  packages/amplication-client/src/Catalog/OwnerFilter.tsx
  packages/amplication-client/src/Catalog/ProjectFilter.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
Labels: lib:ui-design-system, app:amplication-client

#9657 fix(client):fix initial filters value
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilters.tsx
Labels: lib:ui-design-system, app:amplication-client

#9659 Feat/commit-on-create-from-template
  packages/amplication-server/src/core/resource/dto/ResourceFromTemplateCreateInput.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: app:amplication-server

#9661 feat: blueprint business domain features
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/BlueprintForm.tsx
  packages/amplication-client/src/Blueprints/queries/blueprintsQueries.ts
  packages/amplication-client/src/Components/ResourceSelector2.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ComponentOverview.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ResourceOverview.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-prisma-db/prisma/migrations/20250206175021_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/blueprint/blueprint.resolver.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.spec.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/blueprint/dto/BlueprintUpdateInput.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/workspace/constants.ts
  packages/amplication-server/src/models/Blueprint.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9662 feat(bpg):generate blueprint modules
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events-params.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/generator-blueprints/jest.config.ts
  packages/generator-blueprints/package.json
  packages/generator-blueprints/src/blueprint/create-blueprint.ts
  packages/generator-blueprints/src/blueprint/create-module.ts
  packages/generator-blueprints/src/blueprint/create-modules.ts
  packages/generator-blueprints/src/create-data-service.ts
  packages/generator-blueprints/src/dsg-context.ts
  packages/generator-blueprints/src/utils/read-static-files.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9663 fix(client): Clear email input after sending invite
  packages/amplication-client/src/Workspaces/InviteMember.tsx
Labels: app:amplication-client

#9665 Version 3.11.0
  ee/packages/git-sync-manager/src/models.ts
  libs/ui/design-system/src/lib/components/DataGrid/DataGrid.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilter.tsx
  libs/ui/design-system/src/lib/components/DataGrid/DataGridFilters.tsx
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events-params.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugin-events.types.ts
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/Blueprint.tsx
  packages/amplication-client/src/Blueprints/BlueprintForm.tsx
  packages/amplication-client/src/Blueprints/queries/blueprintsQueries.ts
  packages/amplication-client/src/Catalog/BlueprintFilter.tsx
  packages/amplication-client/src/Catalog/OwnerFilter.tsx
  packages/amplication-client/src/Catalog/ProjectFilter.tsx
  packages/amplication-client/src/Components/ResourceSelector2.tsx
  packages/amplication-client/src/CustomProperties/CustomPropertyFilter.tsx
  packages/amplication-client/src/Resource/ResourceHome.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ComponentOverview.tsx
  packages/amplication-client/src/Resource/ResourceOverview/ResourceOverview.tsx
  packages/amplication-client/src/Resource/resourceMenuUtils.ts
  packages/amplication-client/src/Settings/ApiTokenList.tsx
  packages/amplication-client/src/Workspaces/InviteMember.tsx
  packages/amplication-client/src/Workspaces/queries/resourcesQueries.ts
  packages/amplication-client/src/models.ts
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-prisma-db/prisma/migrations/20250206175021_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/blueprint/blueprint.resolver.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.spec.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/blueprint/dto/BlueprintUpdateInput.ts
  packages/amplication-server/src/core/entity/entity.service.ts
  packages/amplication-server/src/core/resource/dto/ResourceFromTemplateCreateInput.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
  packages/amplication-server/src/core/serviceSettings/serviceSettings.service.ts
  packages/amplication-server/src/core/workspace/constants.ts
  packages/amplication-server/src/models/Blueprint.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/jest.config.ts
  packages/generator-blueprints/package.json
  packages/generator-blueprints/src/blueprint/create-blueprint.ts
  packages/generator-blueprints/src/blueprint/create-module.ts
  packages/generator-blueprints/src/blueprint/create-modules.ts
  packages/generator-blueprints/src/create-data-service.ts
  packages/generator-blueprints/src/dsg-context.ts
  packages/generator-blueprints/src/models.ts
  packages/generator-blueprints/src/utils/read-static-files.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-git-push-webhook-service, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9673 refactor(client): Simplify git repository creation dialog
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepoDialog.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
Labels: app:amplication-client

#9671 feat(server):order plugins when copying from and to a template
  libs/ui/design-system/src/lib/style/css-variables.scss
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepoDialog.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#9679 Version 3.11.1
  .github/workflows/ci.yml
  .github/workflows/deployment.container.template.yml
  .github/workflows/deployment.production.yml
  .github/workflows/deployment.static.template.yml
  .github/workflows/dsg-release-notes-generator.yml
  .github/workflows/nx.template.yml
  .github/workflows/release.dsg.production.yml
  .github/workflows/release.template.yml
  libs/ui/design-system/src/lib/style/css-variables.scss
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepo.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitCreateRepo/GitCreateRepoDialog.tsx
  packages/amplication-client/src/Resource/git/dialogs/GitDialogsContainer.tsx
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/pluginInstallation/pluginInstallation.service.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.spec.ts
  packages/amplication-server/src/core/resource/serviceTemplate.service.ts
Labels: lib:ui-design-system, ignore-from-release-notes, app:amplication-client, app:amplication-server

#9685 feat(client):remove sync dialog after connecting to git repo
  packages/amplication-client/src/Resource/git/ResourceGitSettingsPage.tsx
Labels: app:amplication-client

#9686 feat(client): lock private plugin
  packages/amplication-client/src/PrivatePluginVersion/NewPrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginDevVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersion.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionForm.tsx
  packages/amplication-client/src/PrivatePluginVersion/PrivatePluginVersionList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-server/src/core/block/block.service.ts
Labels: app:amplication-client, app:amplication-server

#9695 chore:remove unused octokit deps
  package-lock.json
  package.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9697 fix(client):only disable form when locked by other users
  packages/amplication-client/src/Components/UserBadge.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/privatePluginQueries.ts
  packages/amplication-client/src/User/hooks/useCurrentUser.ts
  packages/amplication-client/src/User/queries/userQueries.ts
  packages/amplication-client/src/Workspaces/WorkspaceLayout.tsx
  packages/amplication-client/src/context/appContext.tsx
Labels: app:amplication-client

#9699 fix(client):exclude non input fields and disable plugin id
  packages/amplication-client/src/PrivatePlugins/PrivatePluginForm.tsx
Labels: app:amplication-client

#9701 feat(client): update platform navigation
  libs/ui/design-system/src/lib/icons/amplicationicon.eot
  libs/ui/design-system/src/lib/icons/amplicationicon.svg
  libs/ui/design-system/src/lib/icons/amplicationicon.ttf
  libs/ui/design-system/src/lib/icons/amplicationicon.woff
  libs/ui/design-system/src/lib/icons/amplicationicon.woff2
  libs/ui/design-system/src/lib/style/css-variables.scss
  packages/amplication-client/src/Assistant/ConsoleNavigationButton.tsx
  packages/amplication-client/src/Components/ProjectSelectField.tsx
  packages/amplication-client/src/Components/ProjectSelector.tsx
  packages/amplication-client/src/Layout/MenuItem.scss
  packages/amplication-client/src/Layout/MenuItem.tsx
  packages/amplication-client/src/Layout/OuterPageLayout.scss
  packages/amplication-client/src/Layout/OuterPageLayout.tsx
  packages/amplication-client/src/Layout/useProjectRoutes.ts
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplatesPage.tsx
  packages/amplication-client/src/Project/DeleteProject.tsx
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Project/ProjectLayoutPage.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Purchase/FAQ.tsx
  packages/amplication-client/src/Resource/ProjectMenu.scss
  packages/amplication-client/src/Resource/ProjectMenu.tsx
  packages/amplication-client/src/Resource/PurchaseMenuItem.scss
  packages/amplication-client/src/Resource/PurchaseMenuItem.tsx
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/PublishChangesPage.scss
  packages/amplication-client/src/VersionControl/hooks/useABTesting.ts
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.scss
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/.env
Labels: lib:ui-design-system, app:amplication-client, app:amplication-server

#9703 feat(client):add platform dashboard
  packages/amplication-client/src/CustomProperties/ResourcePropertiesBlock.tsx
  packages/amplication-client/src/Platform/PlatformDashboard.scss
  packages/amplication-client/src/Platform/PlatformDashboard.tsx
  packages/amplication-client/src/Platform/PrivatePluginsTile.tsx
  packages/amplication-client/src/Platform/TechDebtTile.tsx
  packages/amplication-client/src/Platform/TemplatesTile.tsx
  packages/amplication-client/src/Project/ProjectLayoutPage.tsx
  packages/amplication-client/src/Resource/OverviewSecondaryTile/OverviewSecondaryTile.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:amplication-client

#9704 style(client):update overview tiles
  libs/ui/design-system/src/lib/components/Icon/Icon.tsx
  libs/ui/design-system/src/lib/style/icon.scss
  packages/amplication-client/src/Platform/PlatformDashboard.tsx
  packages/amplication-client/src/Resource/OverviewSecondaryTile/OverviewSecondaryTile.tsx
Labels: lib:ui-design-system, app:amplication-client

#9705 feat(client):add tabs to private plugins
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginGitSettings.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/Resource/OverviewSecondaryTile/OverviewSecondaryTile.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:amplication-client

#9707 Version 3.12.0
  libs/ui/design-system/src/lib/components/Icon/Icon.tsx
  libs/ui/design-system/src/lib/icons/amplicationicon.eot
  libs/ui/design-system/src/lib/icons/amplicationicon.svg
  libs/ui/design-system/src/lib/icons/amplicationicon.ttf
  libs/ui/design-system/src/lib/icons/amplicationicon.woff
  libs/ui/design-system/src/lib/icons/amplicationicon.woff2
  libs/ui/design-system/src/lib/style/css-variables.scss
  libs/ui/design-system/src/lib/style/icon.scss
  packages/amplication-client/src/Assistant/ConsoleNavigationButton.tsx
  packages/amplication-client/src/Components/ProjectSelectField.tsx
  packages/amplication-client/src/Components/ProjectSelector.tsx
  packages/amplication-client/src/CustomProperties/ResourcePropertiesBlock.tsx
  packages/amplication-client/src/Layout/MenuItem.scss
  packages/amplication-client/src/Layout/MenuItem.tsx
  packages/amplication-client/src/Layout/OuterPageLayout.scss
  packages/amplication-client/src/Layout/OuterPageLayout.tsx
  packages/amplication-client/src/Layout/useProjectRoutes.ts
  packages/amplication-client/src/Platform/PlatformDashboard.scss
  packages/amplication-client/src/Platform/PlatformDashboard.tsx
  packages/amplication-client/src/Platform/PrivatePluginsTile.tsx
  packages/amplication-client/src/Platform/ProjectPlatformPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplatesPage.tsx
  packages/amplication-client/src/Platform/TechDebtTile.tsx
  packages/amplication-client/src/Platform/TemplatesTile.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginGitSettings.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/PrivatePlugins/hooks/usePrivatePlugin.tsx
  packages/amplication-client/src/Project/DeleteProject.tsx
  packages/amplication-client/src/Project/ProjectFormPage.tsx
  packages/amplication-client/src/Project/ProjectLayoutPage.tsx
  packages/amplication-client/src/Project/ProjectPage.scss
  packages/amplication-client/src/Project/ProjectPage.tsx
  packages/amplication-client/src/Purchase/FAQ.tsx
  packages/amplication-client/src/Resource/OverviewSecondaryTile/OverviewSecondaryTile.tsx
  packages/amplication-client/src/Resource/ProjectMenu.scss
  packages/amplication-client/src/Resource/ProjectMenu.tsx
  packages/amplication-client/src/Resource/PurchaseMenuItem.scss
  packages/amplication-client/src/Resource/PurchaseMenuItem.tsx
  packages/amplication-client/src/Resource/ResourceMenu.tsx
  packages/amplication-client/src/Resource/constants.ts
  packages/amplication-client/src/VersionControl/Commit.tsx
  packages/amplication-client/src/VersionControl/PublishChangesPage.scss
  packages/amplication-client/src/VersionControl/hooks/useABTesting.ts
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceLayout.scss
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/.env
Labels: lib:ui-design-system, ignore-from-release-notes, app:amplication-client, app:amplication-server

#9709 feat(client):do not show resource selector and breadcrumbs on platform console
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
Labels: app:amplication-client

#9711 feat(client): Add tech debt routing and project context support
  packages/amplication-client/src/OutdatedVersionAlerts/AlertLink.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:amplication-client

#9714 feat(client):update private plugins layout
  packages/amplication-client/src/PrivatePlugins/AvailableRemotePrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePluginButton.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePluginPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsListPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Resource/create-plugin-repository/CreatePluginRepository.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
Labels: app:amplication-client

#9717 style(client):no wrap for workspace name
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
Labels: app:amplication-client, app:amplication-server

#9715 Version 3.12.1
  packages/amplication-client/src/OutdatedVersionAlerts/AlertLink.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/useOutdatedVersionAlerts.ts
  packages/amplication-client/src/PrivatePlugins/AvailableRemotePrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePluginButton.tsx
  packages/amplication-client/src/PrivatePlugins/NewPrivatePluginPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePlugin.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginList.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsListPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Resource/create-plugin-repository/CreatePluginRepository.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceHeader.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
  packages/amplication-client/src/routes/appRoutes.tsx
  packages/amplication-server/src/core/outdatedVersionAlert/outdatedVersionAlert.service.ts
Labels: ignore-from-release-notes, app:amplication-client, app:amplication-server

#9724 Feat/navigation-breadcrumbs
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/ui/design-system/src/lib/components/types.ts
  packages/amplication-client/src/Assistant/ConsoleNavigationButton.tsx
  packages/amplication-client/src/Components/ResourceNavigationSelector.tsx
  packages/amplication-client/src/Components/ResourceSelector2.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertsPage.tsx
  packages/amplication-client/src/Platform/ServiceTemplatesPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Project/ProjectPlatformSettingsPage.tsx
  packages/amplication-client/src/Project/ProjectSettingsPage.tsx
  packages/amplication-client/src/Resource/ProjectMenu.tsx
  packages/amplication-client/src/Resource/code-view/CodeViewPage.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettingsPage.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
Labels: lib:ui-design-system, app:amplication-client

#9719 feat(client): Add resource template deletion validation
  packages/amplication-client/src/Catalog/queries/catalogQueries.ts
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
Labels: app:amplication-client, app:amplication-server

#9722 feat(client): Add project column to workspace tech debt view
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertList.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
Labels: app:amplication-client
