Repository amplication/amplication, pull requests merged in 2025-04, with the labels that each got.

#9781 chore: remove gpt gateway deploy trigger
  packages/gpt-gateway-admin/project.json
  packages/gpt-gateway/project.json
Labels: app:gpt-gateway, app:gpt-gateway-admin

#9788 chore: add @amplication/ast-types dependency to data-service-generator
  packages/data-service-generator/package.json
Labels: app:local-data-service-generator-controller, app:data-service-generator

#9778 Next
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  package-lock.json
  package.json
  packages/data-service-generator/package.json
  packages/generator-blueprints/package.json
  packages/generator-blueprints/src/blueprint/create-blueprint.ts
  packages/generator-blueprints/src/blueprint/create-module.ts
  packages/generator-blueprints/src/blueprint/create-modules.ts
  packages/generator-blueprints/src/create-data-service.ts
  packages/generator-blueprints/src/dsg-context.ts
  packages/generator-blueprints/src/generate-code.ts
  packages/generator-blueprints/src/plugin-wrapper.ts
  packages/gpt-gateway-admin/project.json
  packages/gpt-gateway/project.json
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types
