Repository amplication/amplication, pull requests merged in 2025-03, with the labels that each got.

#9728 Version 3.12.2
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.scss
  libs/ui/design-system/src/lib/components/SelectPanel/SelectPanel.tsx
  libs/ui/design-system/src/lib/components/types.ts
  packages/amplication-client/src/Assistant/ConsoleNavigationButton.tsx
  packages/amplication-client/src/Catalog/queries/catalogQueries.ts
  packages/amplication-client/src/Components/ResourceNavigationSelector.tsx
  packages/amplication-client/src/Components/ResourceSelector2.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertList.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/OutdatedVersionAlertsPage.tsx
  packages/amplication-client/src/OutdatedVersionAlerts/hooks/outdatedVersionAlertsQueries.ts
  packages/amplication-client/src/Platform/ServiceTemplatesPage.tsx
  packages/amplication-client/src/PrivatePlugins/PrivatePluginsPage.tsx
  packages/amplication-client/src/Project/ProjectPlatformSettingsPage.tsx
  packages/amplication-client/src/Project/ProjectSettingsPage.tsx
  packages/amplication-client/src/Resource/ProjectMenu.tsx
  packages/amplication-client/src/Resource/ResourceFormPage.tsx
  packages/amplication-client/src/Resource/code-view/CodeViewPage.tsx
  packages/amplication-client/src/Resource/git/ResourceGitSettingsPage.tsx
  packages/amplication-client/src/VersionControl/CommitsPage.tsx
  packages/amplication-client/src/VersionControl/PendingChangesPage.tsx
  packages/amplication-client/src/VersionControl/PublishChangesPage.tsx
  packages/amplication-client/src/Workspaces/DeleteResourceButton.tsx
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.scss
  packages/amplication-client/src/Workspaces/WorkspaceHeader/WorkspaceNavigation.tsx
Labels: lib:ui-design-system, ignore-from-release-notes, app:amplication-client

#9726 feat(bpg):add csharpier to the docker image to be available for plugin usage
  packages/generator-blueprints/Dockerfile
  packages/generator-blueprints/Dockerfile.dev
Labels: app:generator-blueprints

#9729 Version 3.12.3
  packages/generator-blueprints/Dockerfile
  packages/generator-blueprints/Dockerfile.dev
Labels: ignore-from-release-notes, app:generator-blueprints

#9732 fix(server):use unique project name to avoid conflict with resources
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#9734 fix(server): delete blueprint when project is deleted
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
Labels: app:amplication-server

#9743 fix(server):do not filter by blueprint for other engines
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
Labels: app:amplication-server

#9745 Version 3.12.3
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/privatePlugin/privatePlugin.service.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/resource/resource.resolver.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: ignore-from-release-notes, app:amplication-server

#9747 fix(client):disable button after save
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
Labels: app:amplication-client

#9751 Version 3.12.4
  packages/amplication-client/src/Plugins/InstalledPluginSettings.tsx
Labels: ignore-from-release-notes, app:amplication-client

#9752 feat(client):use resourceSelectField without cache
  packages/amplication-client/src/Blueprints/ResourceSelectField.tsx
  packages/amplication-client/src/Catalog/CatalogContext.tsx
  packages/amplication-client/src/Catalog/CatalogGrid.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
Labels: app:amplication-client

#9753 feat(client): Add project and build constraints to blueprint relations
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/BlueprintRelationAddButton.tsx
  packages/amplication-client/src/Blueprints/BlueprintRelationForm.tsx
  packages/amplication-client/src/Blueprints/ResourceSelectField.tsx
  packages/amplication-client/src/Blueprints/queries/blueprintsQueries.ts
  packages/amplication-client/src/Relation/ResourceRelationForm.tsx
  packages/amplication-client/src/Relation/hooks/useResourceRelations.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/blueprint/dto/BlueprintRelationUpsertInput.ts
  packages/amplication-server/src/models/BlueprintRelation.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9754 feat(server): include resource data from all related resources recursively
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
Labels: app:amplication-server

#9756 Version 3.13.0
  ee/packages/git-sync-manager/src/models.ts
  libs/util/code-gen-types/src/models.ts
  packages/amplication-cli/src/models.ts
  packages/amplication-client/src/Blueprints/BlueprintRelationAddButton.tsx
  packages/amplication-client/src/Blueprints/BlueprintRelationForm.tsx
  packages/amplication-client/src/Blueprints/ResourceSelectField.tsx
  packages/amplication-client/src/Blueprints/queries/blueprintsQueries.ts
  packages/amplication-client/src/Catalog/CatalogContext.tsx
  packages/amplication-client/src/Catalog/CatalogGrid.tsx
  packages/amplication-client/src/Catalog/hooks/useCatalog.ts
  packages/amplication-client/src/Relation/ResourceRelationForm.tsx
  packages/amplication-client/src/Relation/hooks/useResourceRelations.tsx
  packages/amplication-client/src/models.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/blueprint/dto/BlueprintRelationUpsertInput.ts
  packages/amplication-server/src/core/build/build.service.spec.ts
  packages/amplication-server/src/core/build/build.service.ts
  packages/amplication-server/src/core/resource/resource.service.spec.ts
  packages/amplication-server/src/core/resource/resource.service.ts
  packages/amplication-server/src/models/BlueprintRelation.ts
  packages/amplication-server/src/schema.graphql
  packages/data-service-generator/src/models.ts
  packages/generator-blueprints/src/models.ts
Labels: app:local-data-service-generator-controller, lib:schema-registry, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, ignore-from-release-notes, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, lib:util-dsg-utils, lib:code-gen-types, app:generator-blueprints

#9759 feat(server):add relation cache table
  packages/amplication-prisma-db/prisma/migrations/20250311123220_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/blueprint/blueprint.module.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.spec.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/relation/relation.module.ts
  packages/amplication-server/src/core/relation/relation.service.ts
Labels: lib:amplication-prisma-db, app:amplication-server

#9761 Version 3.13.1979 🎉
  packages/amplication-client/src/Blueprints/BlueprintRelationForm.tsx
  packages/amplication-prisma-db/prisma/migrations/20250311123220_migration/migration.sql
  packages/amplication-prisma-db/prisma/schema.prisma
  packages/amplication-server/src/core/blueprint/blueprint.module.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.spec.ts
  packages/amplication-server/src/core/blueprint/blueprint.service.ts
  packages/amplication-server/src/core/project/project.module.ts
  packages/amplication-server/src/core/project/project.service.spec.ts
  packages/amplication-server/src/core/project/project.service.ts
  packages/amplication-server/src/core/relation/relation.module.ts
  packages/amplication-server/src/core/relation/relation.service.spec.ts
  packages/amplication-server/src/core/relation/relation.service.ts
Labels: lib:amplication-prisma-db, ignore-from-release-notes, app:amplication-client, app:amplication-server

#9765 feat(gbp):add @amplication/ast-types dependency and update related types in generator-blueprints
  libs/util/code-gen-types/package.json
  libs/util/code-gen-types/src/blueprint-types/blueprint-plugins.types.ts
  libs/util/code-gen-types/src/dotnet-plugin-events-params.types.ts
  package-lock.json
  package.json
  packages/amplication-client/src/util/version.ts
  packages/amplication-server/src/util/version.ts
  packages/generator-blueprints/package.json
  packages/generator-blueprints/src/blueprint/create-blueprint.ts
  packages/generator-blueprints/src/blueprint/create-module.ts
  packages/generator-blueprints/src/blueprint/create-modules.ts
  packages/generator-blueprints/src/create-data-service.ts
  packages/generator-blueprints/src/dsg-context.ts
  packages/generator-blueprints/src/generate-code.ts
  packages/generator-blueprints/src/plugin-wrapper.ts
Labels: app:local-data-service-generator-controller, lib:ui-design-system, lib:schema-registry, lib:amplication-prisma-db, lib:util-nestjs-logging, lib:util-nestjs-tracing, lib:util-nestjs-kafka, lib:util-logging, lib:util-git, lib:util-kafka, lib:util-json, app:data-service-generator-catalog, app:data-service-generator, app:notification-service, app:git-sync-manager, app:gpt-gateway, app:amplication-storage-gateway, app:amplication-build-manager, app:amplication-client, app:amplication-server, app:amplication-plugin-api, lib:util-dsg-utils, lib:billing-types, lib:graphql-error-codes, app:gpt-gateway-admin, lib:code-gen-types, lib:code-gen-utils, app:generator-blueprints, lib:roles-types

#9774 chore: align staging and sandbox
  .github/workflows/release.template.yml
Labels: ignore-from-release-notes

#9779 refactor(pluginVersion): remove debug logging for existing versions
  .github/workflows/deployment.container.template.yml
  packages/amplication-plugin-api/src/pluginVersion/pluginVersion.service.ts
Labels: app:amplication-plugin-api
